/*
* pages/event-landing.scss
*/
// VMware's live broadcast for events.

@import "../base/variables";
@import "../base/buttons";
@import "~bootstrap/scss/mixins/breakpoints";

#EventLanding {

    @include media-breakpoint-up(lg) {
        .top-banner {

            div[role="banner"] {
                margin-top: 0; // Remove our negative margin due to hiding breadcrumbs.
            }



        }
    }



    .section {
        margin-top: 40px; // Margin below banner and above first section
    }

    // -----------------------------
    // Pre
    // -----------------------------
    .event-live-pre {

        // Override our parent banner
        .top-banner .carousel-inner>.carousel-item .theme-dark>img {
            position: unset;
            bottom: unset;
        }

        .banner-caption-container {
            position: absolute;
        }

        @include media-breakpoint-up(lg) {
            .banner-caption-container {
                // Override our global.
                top: 50%;
                transform: translate(0, -50%);
                // justify-content: start;
                // top: 20px;
            }

            .carousel-inner .caption {
                max-width: 55%;
            }

            // HACK: We must resize
            .carousel-inner .caption {
                margin: auto 0;

                h1 {
                    padding-top: 0;
                }

                .teaser {
                    margin: 0;
                }
            }



        }



        @include media-breakpoint-down(md) {
            .top-banner .carousel-inner>.carousel-item img {
                display: none;
            }
        }

        @include media-breakpoint-down(sm) {
            .banner-caption-container {
                position: relative;
            }
        }

        .banner-caption-card {
            .event-live-pre-timer {

                background-color: $color-white;
                color: $color-body;

                .event-live-pre-timer-image {

                    img {
                        height: auto;
                        ;
                    }

                    // Image is way to big in tablet.
                    @include media-breakpoint-only(md) {
                        max-width: 75%;
                        margin: auto;
                    }
                }

                .event-live-pre-timer-body {
                    @include media-breakpoint-up(lg) {
                        padding: 40px;
                    }

                    .event-live-pre-timer-title {
                        margin-bottom: 10px;
                    }

                    text-align: center;

                    .timer {
                        display: flex;
                        justify-content: center;
                        gap: 8px;
                    }

                }

                .time {
                    font-size: 40px;
                }
            }
        }
    }

    // -----------------------------
    // Live
    // -----------------------------

    .event-live-live {
        &.hide-content {
            visibility: hidden; // Hide our content while we check if the video is valid.
        }

        .event-live-player {
            position: relative;
            overflow: hidden; // Hide our banner


            .event-live-player-background {
                position: absolute;
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    height: auto;

                    @include media-breakpoint-down(sm) {
                        height: revert-layer;
                    }
                }
            }

            .event-live-player-body {
                padding: 100px 0;
                position: relative;
                color: $color-white;

                .live-title {
                    text-align: center;
                }

                .live-video-caption {
                    text-align: center;
                    font-size: $font-size-sm;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding: 0 20%;
                }

            }

        }

        .hide-player {
            // Hide the player visually but it needs to appear in the dom font-synthesis-small-caps: ;
            visibility: hidden;
            height: 0;
        }
    }

    // -----------------------------
    // Post
    // -----------------------------
    .event-live-post {
        
        // Hide the background image.
        @include media-breakpoint-down(md) {
            .top-banner .carousel-inner>.carousel-item img {
                display: none;
            }
        }

        .top-banner {
            .teaser {
                margin-top: 0;

                .featurette-heading {
                    padding-top: 0;
                }
            }

        }
    }

}