 /*
* pages/explore-search-videos.scss
*/


 @import "../base/variables";
 @import "../base/buttons";
 @import "../components/card.scss";

 // Fontawesome
 @import "../fontawesome/fontawesome";
 @import "../fontawesome/solid";
 @import '../fontawesome/brands';


 #ExploreSearchVideos {
  //  .dropdown-container {
  //    display: flex;
  //  }

   .year-container {
     display: flex;
   }

  //  .dropdown-container {
  //    display: flex;
  //    justify-content: space-between;
  //    flex-wrap: wrap;
  //  }

  //  .selected-container {
  //    display: flex;
  //    flex-wrap: wrap;
  //    // justify-content: space-between;
  //  }

  //  .keywords-tag {
  //    display: flex;
  //  }

   .video-panel {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;

     @media (max-width: 989px) {
       grid-template-columns: repeat(3, 1fr);
     }

     @media (max-width: 805px) {
       grid-template-columns: repeat(2, 1fr);
     }

     @media (max-width: 767px) {
       grid-template-columns: repeat(1, 1fr);
     }
   }

   // .load-button{
   // }

   .filter-options {
     margin-bottom: 20px;
   }

   .filter-options button {
     margin-right: 10px;
     padding: 10px;
     background-color: #efefef;
     border: 1px solid #ddd;
     cursor: pointer;
   }

   .filter-options button:hover {
     background-color: #ddd;
   }


   .page-title {
     font-size: 25px;
     line-height: 33px;
     color: #000;
   }

   .search-bar {
     max-width: 100%;
     width: 100%;
     height: 41px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     border-radius: 4px;
     border: 1px solid #999;
     background-color: #fff;

     margin: 16px 0;
     gap: 10px;
     padding: 6px 12px 6px 20px;

     input {
       width: 100%;
       font-weight: 300;
       font-size: 18px;
       color: #565656;
       border: none;
       outline: none;
     }
   }

   .title-style {
     font-size: 18px;
     color: #565656;

     display: block;
     margin-bottom: 15px;
   }

   .year-container {
     display: flex;
     align-items: center;
     gap: 10px;

     .year-btn {
       font-size: 18px;
       font-weight: 300;
       border: 1px solid $color-primary;
       color: $color-primary;
       background-color: #fff;

       &:hover {
         background-color: #fff;
         color: $color-primary;
       }

       &.year-btn-active {
         background-color: $color-primary;
         color: #fff;
       }
     }

   }

  //  .dropdown-container {
  //    gap: 16px;


  //    .dropdown {
  //      flex: 1;

  //      &.show {

  //        .dropdown-caret {
  //          @include fa-icon-solid($fa-var-chevron-right);
  //          transition: 0.2s ease-in-out;
  //          transform: rotate(90deg);
  //        }
  //      }

  //      button {

  //        @include secondary-button;
  //        width: 100%;
  //        text-align: left;
  //        display: inline-block;
  //        padding-left: 10px;
  //        padding-right: 30px;

  //        // HACK: JD - we had to create a div for the carot vs adding as content. there are content: unset !importants overriding fontawesome.
  //        .dropdown-caret {
  //          @include fa-icon-solid($fa-var-chevron-right);
  //          transition: 0.2s ease-in-out;
  //          right: 8px;
  //          position: absolute;
  //          top: 15px;
  //        }


  //        &:hover {

  //          @include secondary-hover;
  //        }



  //      }
  //    }

  //    .dropdown-menu {
  //      max-width: 151.42px;
  //      min-width: 151.42px;
  //      width: 100%;
  //      padding: 10px;
  //      max-height: 190px;
  //      overflow-y: auto;
  //      overflow-x: hidden;
  //      border-radius: 0;

  //      &::-webkit-scrollbar {
  //        height: 8px;
  //        width: 8px;
  //      }

  //      &::-webkit-scrollbar-track {
  //        border-radius: 0px;
  //        background-color: #DFE9EB;
  //      }

  //      &::-webkit-scrollbar-track:hover {
  //        background-color: #B8C0C2;
  //      }

  //      &::-webkit-scrollbar-track:active {
  //        background-color: #B8C0C2;
  //      }

  //      &::-webkit-scrollbar-thumb {
  //        border-radius: 0px;
  //        background-color: #555555;
  //      }

  //      &::-webkit-scrollbar-thumb:hover {
  //        background-color: #555555;
  //      }

  //      &::-webkit-scrollbar-thumb:active {
  //        background-color: #555555;
  //      }

  //      button {
  //        padding: 0;
  //        border: none;
  //        height: auto;

  //        label {
  //          display: flex;
  //          align-items: center;
  //          gap: 10px;
  //          font-weight: 300;
  //          text-wrap: initial;
  //          padding-bottom: 10px;
  //        }
  //      }
  //    }


  //  }

  //  .selected-container {
  //    gap: 10px;

  //    .keywords-tag {
  //      height: 30px;
  //      background: $color-primary;
  //      color: #fff;
  //      font-size: 14px;
  //      font-weight: 300;
  //      border-radius: 100px;
  //      padding: 5px;
  //      display: flex;
  //      justify-content: center;
  //      align-items: center;
  //      gap: 5px;


  //      .close-button {
  //        height: 30px;
  //        width: auto;
  //        padding: 0;
  //        border-radius: 0;
  //        background: transparent;
  //        border: none;

  //        &:hover {
  //          border: none;
  //        }

  //      }

  //    }
  //  }

   .clear-btn {
     background: transparent;
     border: none;
     padding: 0;
     color: #294d8c;
     font-size: 16px;
     cursor: pointer;
     display: inline-block;
     height: 30px;
     text-transform: capitalize;
     font-weight: 300;
     text-decoration: underline;
   }

   .videoresult-container {
     .video-search-result-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 30px 0;

       .video-count {
         font-size: 25px;
         color: #565656;
       }

       .sort-btn-group {
         display: flex;
         align-items: center;
         gap: 10px;

         .dropdown {
           // max-width: 158px;
           // width: 100%;
         }

         .sort-by {
           font-weight: 300;
           font-size: 14px;
         }

         .sort-btn {
           background-color: #fff;
           border: 1px solid $color-grey--200;
           border-radius: 5px;
           color: $color-primary;
           font-weight: 300;
           padding: 10px;
           font-size: 18px;
           text-transform: capitalize;
           width: 100%;
           max-width: 150px;
           width: 100%;

           &:hover {

             color: #0091da;
           }
         }

         .sort-pop-up {

           width: 100%;

           button {
             &:hover {
               border: none;
             }
           }
         }
       }
     }
   }


   .load-button {
     margin: 40px auto;
   }

   .video-top-search-container {
     padding: 24px 0;
     box-shadow: 0 8px 16px rgba(17, 69, 134, 0.12);
     background-color: #F4F8FA;
     /* position: sticky; */
     z-index: 10;
     top: 0;
   }

 }