/**
 *  @file base/_table.scss
 *  @brief Reusable code for tables
 */

@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";

// standard table: border on the bottom of each row
.table {
  @include basic-table;

}

// Primary Table:  keep it for now, it is the same as standard table -OZ
.table-primary {
  @include basic-table;

}


// Table sorting - not in use yet - vmware
table {
  thead {
    .sorting {
      padding-right: 10px;
      cursor: pointer;
      position: relative;

      // Grey out our sort.
      .bi-sort {
        // obsolete as per design group meeting 19jan22
        color: $color-grey--700;
        padding-left: 10px;
      }

      &.asc,
      &.desc {
        border-bottom: 2px solid $color-secondary;
      }

    }
  }

  tbody {
   > tr:nth-child(even){
      background-color: #E3E2E3 !important;
    }
    td {
      border: 0 !important;
      box-shadow: inset 0px -1px 0px 0px $color-grey--50 !important;
      vertical-align: middle !important;
      padding: 25px 0 !important;

      @media (max-width:767px) {
        padding: 4px 0 !important;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

// Responsive tables
// JD - Copied from bootstrap. The main thing this adds is the overflow-x.
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        >.table-bordered {
          border: 0;
        }
      }
    }
  }
}

.rTableBody {
  .header-content {
    h5 {
      color: $color-black;
      margin-bottom: 16px;

    }

    p {

      margin-bottom: 16px;
    }

    @media (max-width:767px) {
      h5 {
        font-size: 10px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 8px;
        font-size: 8px;
      }
    }
  }

  .rTableRow {
    .rTableCell {

      // padding: 10px 0 !important;

      @media (max-width:767px) {
        font-size: 10px;
        // padding: 0 !important;
      }
    }

    td {
      &:first-child {

        display: flex;

        align-items: center;

        .live-info-popup {
          display: flex;

          i {
            margin: 0;

            @media (max-width:767px) {
              font-size: 8px;
            }
          }
        }
      }
    }

  }
}

// .main-container {
//   max-width: 540px;
//   margin: 0 auto;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// .table-container {


// }

.table-container {
  padding: 22px 10px 15px;
  border: 1px solid #d6d6d6;
  width: 100%;
  margin: 20px 0;

  display: none;

  @media (max-width:800px) {
    display: block;
  }

  .table-title {

    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-size: 20px;
    color: $color-black;
  }

  .event-date {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
  }

  .event-pass-price {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-size: 20px;
    color: $color-black;
  }

  .read-more-btn {
    border: none;
    background: none;
    margin-top: 16px;
    padding: 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #005C8A;

    &:hover {
      color: #005C8A;
    }

    &.hide {
      display: none;    //Hide the show more for mobile when showing the collapse
    }

    & span {
      padding-top: 0 !important;
    }

    & svg {
      width: 20px;
      height: 24px;

    }
  }

  .section-sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    line-height: 1.5;

    >div {
      padding-bottom: 10px;
    }
  }

  .section-title {
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
    text-align: left;
    margin-bottom: 0;
  }

  .popup {
    display: none;

    /* display: none; */
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 9999;
    font-size: 10px;
    max-width: 200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px var(--gray);
    border-color: #d6d6d6;
    text-align: left;
    border-radius: 2px;
    position: absolute;
    font-size: 14px;
    z-index: 200;
    width: 200px;
    height: auto;
    /* transform: translateY(50%); */

  }
}






.hidden {
  display: none;
}








.section-card {
  padding: 16px 0;
  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border-bottom: 0;
  }
}

.show-less-btn {

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  color: #005C8A;

  &:hover {
    color: #005C8A;
    border: none
  }
}

.closePopupBtn {
  background-color: transparent;
  width: 0;
  height: 0;
  border: 0;
}

#deskTopTable {
  display: none;

  @media (min-width:800px) {
    display: table;
  }
}

 table {

        tbody {


          tr {
            td {
              /* Your styles for the first td child here */

              padding: 20px !important;
            }
          }
        }
      }