/**
 *  @file base/_table.scss
 *  @brief Reusable code for tables
 */

@import "variables";
@import "~bootstrap/scss/mixins/breakpoints";

// standard table: border on the bottom of each row
.table {
  @include basic-table;

}

// Primary Table:  keep it for now, it is the same as standard table -OZ
.table-primary {
  @include basic-table;

}


// Table sorting - not in use yet - vmware
table {
  thead {
    .sorting {
      padding-right: 10px;
      cursor: pointer;
      position: relative;

      // Grey out our sort.
      .bi-sort {
        // obsolete as per design group meeting 19jan22
        color: $color-grey--700;
        padding-left: 10px;
      }

      &.asc,
      &.desc {
        border-bottom: 2px solid $color-secondary;
      }

    }
  }

  tbody {
    td {
      border: 0 !important;
      box-shadow: inset 0px -1px 0px 0px $color-grey--100 !important;
      vertical-align: middle !important;
      padding: 25px 0 !important;

      @media (max-width:767px) {
        padding: 4px 0 !important;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

// Responsive tables
// JD - Copied from bootstrap. The main thing this adds is the overflow-x.
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        >.table-bordered {
          border: 0;
        }
      }
    }
  }
}

.rTableBody {
  .header-content {
    h5 {
      color: $color-black;
      margin-bottom: 16px;

    }

    p {

      margin-bottom: 16px;
    }

    @media (max-width:767px) {
      h5 {
        font-size: 10px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 8px;
        font-size: 8px;
      }
    }
  }

  .rTableRow {
    .rTableCell {

      padding: 10px 0 !important;

      @media (max-width:767px) {
        font-size: 10px;
        padding: 0 !important;
      }
    }

    td {
      &:first-child {

        display: flex;

        align-items: center;

        .live-info-popup {
          display: flex;

          i {
            margin: 0;

            @media (max-width:767px) {
              font-size: 8px;
            }
          }
        }
      }
    }

  }
}