/*
* pages/certified-definitions-list.scss
*/
// Styling for symantec -  security-center/definitions/ceertified

@import "../base/variables";

#DefinitionsList {
    button.icon-bordr-bttn {
        padding: 10px 12px;             //mods button _buttons.scss
        color: $color-secondary;        //mods icon-bordr-bttn
        font-size: $font-size-md;       //mods icon-bordr-bttn
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .tabs-product li {
        margin-right: 16px;
    }
}