/*
* pages/products.scss
*/
// styling for product family, product details pages

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../components/content-blocks";
@import "../base/link";
@import "../components/document-box";
@import "../components/resources-widget";
@import "../components/read-more";
@import "../base/table";


.product-list-group {
	.products {
		display: flex;
		border: 1px solid $color-grey--500;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 100%;
		clear: both;
		@media (max-width: 992px) {
			display: block;
		}
		.products-image {
			width: 100px;
			padding: 7px;
			@media (max-width: 992px) {
				width: 100%;
				text-align: center;
				float: none;
			}
			img {
				width: 100%;
				@media (max-width: 992px) {
					width: auto;
					display: inline-block;
				}
			}
		}
		.products-description {
			float: left;
			width: calc(100% - 450px);
			padding: 0 10px;
			border-left: 1px solid $color-grey--500;
			@media (max-width: 992px) {
				width: 100%;
				float: none;
			}
			h4 {
				margin: 10px 0 10px 0;
				//font-weight: 600;					//all of these already defined for h4 in base
				//font-size: 18px;
				//font-family: $font-family--secondary;
			
			}
		}
		.products-dropdown {
			float: left;
			width: 350px;
			vertical-align: top;
			background: $color-grey--500;
			padding: 10px 30px;
			min-height: 100px;
			text-align: center;
			@media (max-width: 992px) {
				width: 100%;
				float: none;
			}
			h4 {
				margin: 5px 0 8px 4px;
				//padding: 0 0 0 2px;
				font-size:  $font-size-md;			//mods h4 _base.scss
				//font-weight: 500;
				//font-family: $font-family--secondary;
				text-align: left;
			}
			.dropdown-toggle {
				background: $color-white;
 			}
			.dropdown-menu {
				box-shadow: 0 6px 12px rgba(0,0,0,.175);
				background-clip: padding-box;
				padding: 10px;
				border: 1px solid $color-grey--500;
				border-radius: 1px;
				max-height: unset;
			}
			a.bttn.link-bttn {
				width: 75%;
				margin-top: 15px;
				height: 40px;
				padding-top: 10px;
				background-color: $color-white;			//mods link-bttn
				color: $color-grey--800;				//mods link-bttn
				font-size: $font-size-md;				//mods bttn
				text-align: center;						//mods link-bttn
				.bi {
					color: $color-grey--800;			//mods link-bttn .bi _buttons.scss
				}
			}
			.custom-button-dropdown {
				&.show {
					.dropdown-toggle {
						box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
					}
				}
				.dropdown-item {
					height: auto;
					padding: 5px 10px 5px 10px;
					/* &:active, &:hover, &:focus {
						background: transparent;
						a {
							color: $color-grey--700;
							background: transparent;
						}
					}
					a {
						line-height: 1.42857143;
						color: $color-grey--900;
						display: block;
						font-size: $font-size-md;
					} */
				}
			}
		}
	}
}

#ParametricSearch .search-btn-wrap, #ProductFamilyA .search-btn-wrap{
	text-align: center;
	position: relative;
	z-index: 1;

/* 	&:before{
		display: block;
		content: "";
		width: 100%;
		height: 2px;
		background: $color-grey--500;
		position: absolute;
		top: 50%;
		margin-top: -1px;
	} */

	.search-bttn{
		//display: inline-block;
		width: 100%;
		height: unset;							//mods search-bttn _buttons.scss
		max-width: 350px;
		padding: 10px;							//mods search-bttn
		border-radius: 4px;						//mods search-bttn

		.bi{									//search-bttn is usually the .bi element so it does not have a .bi child - so we add it here for this instance
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
		}
	}
}

.search-filter-wrap{
	position: relative;
	top: -23px;
	background-color: $color-grey--500;
	box-sizing: border-box;
	transition: all ease 300ms;
	overflow: hidden;

	select.form-control{
		padding: 5px;
		border-color: transparent;

		&:focus{
			box-shadow: none;
		}
	}
	.search-action-wrap{
		text-align: center;

		button {
			width: 120px;
			margin: 15px;
		}
	}
}

.product-item{
	border: 1px solid $color-grey--600;
	display: flex;
	//margin-bottom: 25px;
	height: 100%;
	

	.product-image{
		width: 122px;
		border-right: 1px solid $color-grey--600;
		background:$color-white;
	}
	.product-content{
		padding: 10px;
		flex: 1;
	
		
		h4{
			font-size: $font-size-lg;					//mods h4  _base.scss
			//font-weight: 500;
			//font-family: $font-family--secondary;
			//color: $color-secondary;
			margin-bottom: 10px;
		}
	}
}

// // TEMP: I just needed to see the controls.
// .product-previously-viewed {
// 	.carousel-control-prev, .carousel-control-next {
// 		background-color: #f00;
// 	}
// }

.btn-group.show{
    .dropdown-toggle{
      box-shadow: inset 0 3px 5px rgba($color-black, .125);
    }
  }

/* .btn-group-toggle{ //this has moved to _buttons.scss - see .group-toggle-bttn

} */

.form-check{
	.form-check-input{
		margin-top: 3px;
	}
}
// Disbled Icon ON Compare section (same as cheked style)
.disabled-icon{
	.disabled-check-icon{
		height: 10px;
		width: 10px;
		border:none;
		border-radius: 1px;
		display: inline-block; //treated as block since float:left overrides
		cursor: pointer;
		float: left;
		background-color:$color-primary--dark;
		margin-right: 20px;
	}
	.form-check-input{
		display: none;
	}
}
.list-view{
	.list-item{
		position: relative;
		margin-bottom: 20px;

		.check-wrap{
			float: left;
			width: 45px;
			text-align: center;
		}
		.item-content{
			overflow: hidden;
		}
		p{
			line-height: 1.4;
		}
	}
}
.grid-view{
	.product-item{
		display: block;
		margin-bottom: 0;

		.product-image{
			border: 0 none;
			width: auto;
			max-width: 150px;
			margin: 0 auto;
			text-align: center;
		}
		.product-content{
			padding: 0 0 10px;
			text-align: center;
			border-top: 1px solid $color-grey--600;
			h4{
				padding-top: 30px;

				a{
					display: inline-block;
					min-height: 34px;
				}
			}
		}
		label{
			color: darken($color-grey--700,20%);
			font-weight: 400;
			font-family: $font-family--secondary;
			cursor: pointer;
		}
	}
}
.grid-view,
.list-view{
	h4{
		font-size: $font-size-lg;					//mods h4  _base.scss
		//font-weight: 500;
		//font-family: $font-family--secondary;
	}
}
.compare-row{

	margin: 20px 0 35px;
	padding: 20px 0 0;
	border-top: 1px solid $color-grey--600;
	border-bottom: 1px solid $color-grey--600;

	h5.title{
		font-size: $font-size-lg + 2;			//mods h5  _base.scss
		padding-left: 10px;
		margin-bottom: 20px;
	}
/* 	.remove-link{
		color: $color-secondary;
		display: inline-block;
		&:hover,
		&:focus{
			text-decoration: underline;
		}
	} */
	.compare-col-inner{
		min-height: 250px;
		margin-bottom: 25px;
		padding: 25px 0;
		position: relative;
		border: 1px solid $color-grey--600;


		.compare-img-wrap{
			text-align: center;
			margin-bottom: 20px;
			img{
				max-height: 240px;
				width: auto;
				display: block;
				margin: 0 auto;
			}
		}
		h4{
			font-size: $font-size-md;					//mods h4  _base.scss
			//font-weight: 500;
			//font-family: $font-family--secondary;
			line-height: 1.2;
			//color: $color-secondary;
			text-align: center;
			padding: 0 10px;
		}

		.remove{										//this is a button
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 18px;
		}

		.compare-counter{
			position: absolute;
			left: 50%;
			top: 50%;
			font-size: 55px;
			color:darken($color-grey--500, 12%);;
			transform: translate(-50%,-50%);
			font-family: $font-family--secondary;
		}
	}
}
.product-details{
	
	.product-image-wrap{
		border: 2px solid $color-grey--600;
		min-height: 220px;
		text-align: center;
		img{
			max-width: 100%;
			margin: 0 auto;
		}		

		.video-content {
			padding-bottom: 14px;
		}

	}
	.product-image-more li {
		display: inline-block;
		margin-right: 10px;
		word-wrap: break-word;
		background-color: $color-white;
		border: 1px solid $color-grey--700;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
		  }
		  
		.brcmicon-play-circle {
			top: 50%;
			transform: translateY(-50%);
		}
		  
		 // The play button over thumb
/* 		.brcmicon-connectedaudiovideo {				//OBSOLETE?? this class not found in any .jsx files
			font-size: 33px;
			margin-top: 12px;
			position: absolute;
			top: 0;
			color: $color-white;
			pointer-events: none;
			&:after {
				content: "";
				height: 32px;
				width: 32px;
				background-color: rgba(0, 0, 0, 0.5);
				display: block;
				border-radius: 50%;
				top: calc(50% - 16px);
				left: calc(50% - 16px);
				position: absolute;
				z-index: 0;
			}
			&:before {
				z-index: 1;
				position: relative;
			}
		} */
	  }
	.tab-content {
		.intro-content{
			font-size: $font-size-lg;
		}
		.prod-detail-subtitle{
			margin-top: 10px;
			margin-bottom: 10px;
			padding-left: 0;
			font-size: 18px;
			font-weight: 700;
			color: $color-primary;
		}
		p{
			padding-bottom: 10px;

			&:empty{
				padding-bottom: 0;
			}
		}
	}
	.tabs-product {
    display:flex;
	justify-content: center;
	padding-top: 15px;
	}
	
	.downloadable-links{
		li{
			padding-bottom: 25px;
			position: relative;
			list-style:none;
		}
	}
	.intro-content, .product-features{
		ul{
			padding: 0px 0px 10px 40px;
		}
	}
	
	.product-previously-viewed{
		margin-top: 3em;
	
			
		 
		.product-item {
			min-height: 140px;
			padding:10px;
			display: flex;
	        //margin-bottom: 25px;
	        //background:#eee;
			background:$color-grey--600;
			border: none!important;
		}
		.product-image {border: none!important;
		padding:5px}
		.product-content{
				padding: 10px;
				background:$color-grey--500;
				//background:#f9f9f9;
			h4{
				min-height: auto;
				margin: 0px 0px 10px 0px;
				padding: 0;
			}
			p {font-size: $font-size-md;}
		}
		.previously-viewed-row {
			background: $color-grey--600;
		}
		
		.carousel-control-prev{
			z-index: 0;		// Bootstrap version was ontop of footer.
			.carousel-control-prev-icon{
				//margin-top: -12px;
				//height:100%
				//background-color: #333;
				height:100%
			}
		}
		.carousel-control-next{
			z-index: 0;		// Bootstrap version was ontop of footer.
			.carousel-control-next-icon{
				//margin-top: -12px;
				height:100%
				//background-color: #333;
			}
		}
	}
}

.documentation-card{
	border-radius: 0;
	&:hover{
	 background-color: $color-grey--500;
	}

	.card-head{
		color: $color-secondary;
		font-family: $font-family--secondary;
		padding: 10px 0;
		cursor: pointer;
		font-weight: 500;
		

		.badge{
			margin-left: 5px;
			width: 40px;
			background-color: $color-grey--700;
			padding: 3px;
			line-height: 16px;
			border-radius: 4px;
		}
		.brcmicon-info-circle{
			font-size: $font-size-lg + 2;
			color: $color-primary;
			vertical-align: middle;
			margin-left: 5px;
		}
	}

	//.create-btn removed - replaced by icon-bttn

	.documentation-col-1{
		width: 55%;
	}
	.documentation-col-2{
		width: 15%;
	}
	.documentation-col-3{
		width: 15%;
	}
	.documentation-col-4{
		width: 15%;
	}
	.card-body{
		padding: 10px 15px;
	}
}



.subscribe-form{
	.form-group{
		.form-control{
			border-radius: 0;
			border: 1px solid $color-grey--800;
			box-shadow: none;
			outline: 0 none;
			height: 34px;
			padding: 6px 12px;
			font-size: $font-size-md;
			background-color: $color-grey--500;
			color: $color-grey--800;
			font-weight: bold;
		}
	}
}

// ProductFamilyC
.badge-oem {
	@include archive-style;
	font-family: $font-family--primary;
	font-weight: normal;	
}

// Product List Compare Table (Same as parametric search ) - moved to table.scss
.table_compare {

    button{ 
        font-weight: bold;					//mods link-bttn  _buttons.scss

        &:hover {
            opacity: 0.8;					//mods link-bttn  _buttons.scss
        }
    }
    .product_image {
        img {
            max-width: 175px;
            height: 175px;
        }
    }
}
 
.highlight-diff {
    text-align: right;
    margin-bottom:20px;
	input[type='radio'] {
		opacity: 0;
		margin-right: -14px;

		// Accessibility
		&:focus + label {
			border: 2px $color-primary solid;
		}
	}

    .text-right {
        display: inline-flex;
        span:not(.bttn) {
            font-size: $font-size-lg;
            line-height: 45px;
            margin-right: 10px;
            color: $color-secondary--dark;
        }
		.bttn {
			font-size: 14px;        //mods bttn _buttons.scss
		}
    }
}

// Document table Support 

#ProductDetail {
	
	hr.border-top {
		margin-bottom: 25px;
		margin-top: 10px;
		color:$color-grey--600;
	}
	.sub-page-title {	//not subheader - page specific subtitle to main title
		font-weight: 500;
		font-size: 18px;
		font-family: $font-family--secondary;
	   }
	

	.product-lifecycle-wrapper {
		background-color: $color-grey--500;
		padding: 1rem 2rem;

	}

	.upgraded-products, .replacement-products {
		display: flex;
		flex-wrap: wrap;
		.product-item {
			border: 1px solid $color-grey--600;
			background-color: $color-grey--500;
			height: 100%;
			.product-image {
				padding: 0;
				.img-thumbnail {
					border-radius: 0;
					border: 0;
				}
			}
			.product-content {
				padding: 15px!important;
				a{
					font-size: 14px!important;					//mods link.scss
					}
			}
		}
	}
	
	.optional-products
	{
		.product-item {
		background:none;
		border:1px solid $color-grey--600;
	    padding:0!important;	
		}
		.product-content {
			background:none;
			padding:15px;
		
		}
		.product-image {
			border-right:1px solid $color-grey--600;
			
		}
	}
	.product-previously-viewed {
		.carousel {
			.carousel-item {
				padding: 0 20px;
				.col-lg-4 {
					padding: 0;
				}
			}
		}
		.carousel-control-prev {
			width: 25px;
			background-color: $color-grey--800;
			color:$color-white;
			filter: none;
			opacity: 1;
			span.carousel-control-prev-icon {
				background-image: none;
				background-color: $color-grey--800;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 12px 15px 12px 0;
				border-color: transparent $color-white transparent transparent;
			}
		}
		.carousel-control-next {
			width: 25px;
			background-color: $color-grey--800;
			color: $color-white;
			filter: none;
			opacity: 1;
			span.carousel-control-next-icon {
				background-image: none;
				background-color: $color-grey--800;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 12px 0 12px 15px;
				border-color: transparent transparent transparent $color-white;
			}
		}
	}
}


//Move out of base.scss file
  // siderbar space adjustment for product pages
  .box-margin-0{
	margin:0px;
  }
  .box-margin-20{
	margin-left: 20px;
  }

@media screen and (max-width: 1024px){
	.compare-action-col{
		width: 100%;
		flex: 0 0 100%;
		flex-grow: auto;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 1020px){
	.documentation-card{
		.table-custom{
			thead{display: none;}
			tbody{
				tr{
					width: 100%;
					float: left;
					border-bottom: 1px solid $color-grey--500;
					.documentation-col-1{
						width: 100%;
						display: block;
						.file-size, .file-language{
							display: -webkit-box;       
							display: -moz-box;         
							display: -ms-flexbox;       
							display: -webkit-flex;      
							display: flex;
							align-items: center !important;
							-webkit-align-items: center !important;
						 
							margin-top: 10px;
						}
					}
					.documentation-short{
						width:auto;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px){
	.product-details {
		.product-image-wrap{
			min-height: 0;
		}
	}
}
@media screen and (max-width: 768px){
	.compare-row{
		.col:not(.compare-action-col){
			flex: 0 0 50%;
		}
	}
}
@media screen and (max-width: 575px){
	.gray-filter-box{
		.col{
			flex: 0 0 100%;

			&.toggle-btn-wrap{
				padding-top: 10px;

				.text-right{
					text-align: left !important;
				}
			}
		}
	}
	.toggle-btn-wrap{
		.text-right{
			text-align: left !important;
		}
	}
	.product-features-row{
		display: block;

		.col{
			margin-bottom: 15px;
		}
	}
}

// ProductAttribute
.product-attr-datasheet {
	.product-attr-datasheet-label {
		
	}
}