/*
* components/accordion.scss
*/
// Styling for broadcom custom accordion

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
// Fontawesome
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';

.accordion-content-block,
.accordion {
    .accordion-title {
        color: $color-body;
        text-transform: initial;
    }

    // Use arrows instead of + -.
    .brcmicon-plus {
        @include fa-icon-solid($fa-var-chevron-right);
        transition: 0.2s ease-in-out;
    }

    .brcmicon-window-minimize {
        @include fa-icon-solid($fa-var-chevron-right);
        transition: 0.2s ease-in-out;
        transform: rotate(90deg);
    }
}


.Accordion-section {
    .toggle-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            :after{
            content: unset !important;
            }
}
        .divider {
            margin-bottom: 0 !important;
        }
    }

}

// Theme

.theme-content-block-line {
    .accordion {
        .toggle-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .divider {
                margin-bottom: 0 !important;
            }
        }

        .CollapseBox {
            margin-bottom: 0 !important;
            margin-top: -2px;

            .card {
                border: none;
                border-top: 2px solid $color-grey--100;
                border-bottom: 2px solid $color-grey--100;
                border-right: none !important;
                border-left: none !important;
                box-shadow: none;

                .card-head {
                    padding: 30px 10px 30px !important;

                    button {
                        height: auto;
                    }
                }

                .card-body {

                    .collapse,
                    .collapsing {
                        padding: 0px 10px 25px;
                    }
                    >.row{
                        flex-direction: row;
                        gap: 0;
                    }
                }
            }


        }
    }
}

.theme-content-block-standard {
    .accordion {
        .CollapseBox {
            .card {
                box-shadow: none;
                .card-body {

                    .collapse,
                    .collapsing {
                        padding: 0px 10px 25px;
                    }
                    >.row{
                        flex-direction: row;
                        gap: 0;
                    }
                }
            }
        }
    }
}

