/*
* components/video.scss
*/
// styling for videos


@import "../base/variables";
@import "../base/link";

.brightcove-wrapper {

	position: relative;



	// Show the volume on small screens.
	.video-js {

		.vjs-control,
		.vjs-menu-button {
			&.vjs-button {
				&:hover {
					background-color: rgba(128, 128, 128, 0.438);
					color: #fff !important;
					border: none;
				}
			}
		}

		.vjs-slider-horizontal .vjs-volume-level {
			background-color: #fff !important;
		}

		// .vjs-play-progress {
		// 	.vjs-play-progress {
		// 		background-color: #fff !important;
		// 	}
		// }

		&.vjs-layout-small,
		&.vjs-layout-x-small,
		&.vjs-layout-tiny {
			.vjs-volume-control {
				display: block;
			}
		}
	}

	.brightcove-player {
		&.fadestart {
			opacity: 0; // Let us fade in.
			visibility: hidden;
		}
	}

	// Loading icon before player is loaded.
	.brightcove-loading-wrapper {
		position: relative;
		height: 0;
		padding-bottom: 56.25%; // Aspect ratio of 16:9. We need to set a height for the container.


		.brightcove-loading {
			position: absolute;
			left: -50%;
			top: calc(50% - 60px); // The mid point of both the container and the icon.
			width: 100%;
		}
	}
}

// HACK - JD On local environment, the height of the audio player is set to zero, I'm unsure why, so just set it ourselves.
.video-audio {
	.brightcove-player {
		.video-js {
			height: 45px;
		}
	}
}