@import "../base/variables";
@import "../base/transitions";
@import "../base/buttons";
@import "../base/link";

@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';

.card-footer {
    background-color: $color-white;
    border: 0;
    padding-bottom: 24px;
}

.card-footer ul li {
    list-style: none;
}

.card {
    box-shadow: 0px 8px 16px 0px #1145861F;
    border: 0;

    &.LeftImageCard {
        .card-title {
            //font-size: 20px;
            line-height: normal !important;
        }

        .card-footer {
            padding-left: 0;
            padding-right: 0;

            .cb-cta-link {
                justify-content: flex-start !important;
            }
        }
    }
}

.card-text {
    color: #565656;
}


.ImageCard {
    padding: 0;

    .card-body {
        padding-bottom: 0;
    }

    .card-footer {
        background: none;
        border: none;
    }

    .card-title {
        padding-top: 12px;
        text-align: center;
        font-size: 25px;
        //line-height: 33px;
    }
}

.VideoCard {


    .card-body {
        padding-bottom: 0;
    }

    .card-footer {
        background: none;
        border: none;
    }

    .card-title {
        padding-top: 12px;
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
    }
}

.ContentCard .ContentCardTwoColumn {
    .ImageCard {
        .card-title {

            text-align: center;

        }

        .card-footer {
            .cb-cta-link {
                justify-content: center;
            }
        }
    }
}

.theme-card-cta-secondary {
    height: 100%;
}

.theme-card-cta-secondary .card {
    height: 100%;
}

.Featured-section {

    .card-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        >div:first-child {
            width: 20%;
            float: left;
            // margin-top: 20px;
        }

        >.lnk {
            width: 20%;

            margin: 0px;
        }

        >.card-title {
            width: 79%;
            margin: 0;
            margin-left: auto;
            padding-top: 0;
            font-size: 22px;
            text-align: left;
        }

        >.card-text {
            width: 79%;
            margin-top: 0 !important;
            margin-left: auto;
        }
    }

    .featured-cards {
        .card-footer {
            width: 79%;
        }
    }

    .card-footer {
        padding: 5px 0 5px;
        width: 76%;
        margin-top: 0;
        margin-left: auto;

        ul {
            margin: 4px 0 0;
        }

        .lnk {}
    }

    .featured-cards {
        .card-title {
            float: none;
            width: 100%;
        }

        .card-text {
            float: none;
            width: 100%;
        }

        .card-footer {
            margin-left: 0;

            ul {
                margin: 4px 0 0;
            }
        }
    }

    .Featured {
        .ImageCard {
            border-radius: 0;

            .card-body {
                padding: 0;
                padding-left: 12px;
                padding-right: 12px;
                justify-content: center;
                margin-top: 10px;
                flex: none !important;
            }

        }

    }
}

.VideoCard {
    height: 100%;
    box-shadow: none;

    .video-thumbnail-link {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;

    }

    .card-body {
        padding: 0;
    }

    .video-thumbnail {
        display: block;
        max-width: 100%; // CarouselVideoPlaylist can have any number of columns
        width: 100%;
        height: 160px;
        object-fit: cover;

        @media (max-width:767px) {
            max-width: 100%;

        }
    }

    .play-button {
        position: absolute;
        display: none;
        background: #1d428a no-repeat scroll center center;
        max-width: 80px;
        width: 100%;
        height: 50px;
        left: 8px;
        bottom: 8px;
        right: 0;
        z-index: 2;
        border-radius: 3px;
        align-items: center;
        justify-content: center;

        &:after {
            max-width: 24px;
            width: 100%;
            height: 24px;
            content: " ";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M19.376 12.4161L8.77735 19.4818C8.54759 19.635 8.23715 19.5729 8.08397 19.3432C8.02922 19.261 8 19.1645 8 19.0658V4.93433C8 4.65818 8.22386 4.43433 8.5 4.43433C8.59871 4.43433 8.69522 4.46355 8.77735 4.5183L19.376 11.584C19.6057 11.7372 19.6678 12.0477 19.5146 12.2774C19.478 12.3323 19.4309 12.3795 19.376 12.4161Z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: cover;
        }

    }

    .video-duration {
        position: absolute;
        background-color: $color-primary;
        color: #fff;
        display: block;
        font-weight: 300;
        bottom: 10px;
        right: 20px;
        padding: 5px;
        border-radius: 3px;
        font-size: 12px;
    }

    .video-thumbnail-link:hover .play-button {
        display: flex;

    }

    .video-info {
        margin: 0px;
        margin-top: 10px;

        .video-name-data {
            margin: 0;
            display: block;

            span {
                font-size: 14px;
                font-weight: 300;
                margin: 0;
                display: inline-block;
                text-align: left;
                color: $color-grey--600;

                &:hover {
                    text-decoration: underline;
                    text-decoration-line: underline;
                    text-underline-offset: 2px;
                    text-decoration-thickness: 2px;
                }
            }
        }

        .card-video-title {
            margin: 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-line: underline;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
            }

            h5 {
                font-size: 18px;
                padding: 10px 0;
                text-transform: capitalize;
                text-decoration: none;
            }
        }

        .card-video-des {
            font-size: 14px;
            color: $color-black;

        }

    }


}