@import "../base/variables";
@import "../base/transitions";
@import "../base/buttons";

@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';

.card-footer {
    background-color: $color-white;
    border: 0;
    padding-bottom: 24px;
}

.card-footer ul li {
    list-style: none;
}

.card {
    box-shadow: 0px 8px 16px 0px #1145861F;
    border: 0;
    &.LeftImageCard{
        .card-footer{
            padding-left: 0;
            padding-right: 0;
            .cb-cta-link{
                justify-content: flex-start !important;
            }
        }
    }
}

.card-text {
    color: #565656;
}

.ImageCard,
.VideoCard {
    padding: 0 !important;

    .card-body {
        padding-bottom: 0;
    }

    .card-footer {
        background: none;
        border: none;
    }

    .card-title {
        padding-top: 12px;
        font-weight: 400;
        font-size: 26px;
        line-height: 33px;
    }
}

.theme-card-cta-secondary {
    height: 100%;
}

.theme-card-cta-secondary .card {
    height: 100%;
}