@import "../base/variables";
@import "../base/transitions";
@import "main-nav.scss";
@import "../base/buttons";
@import "../base/link";
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import "../fontawesome/brands";

.col-title-img {
  color: $color-black;
  margin-bottom: 16px;
}

.content-block {
  margin-bottom: 20px;
  padding: 0;

  ul:not([class]) {
    padding: 0px 0px 10px 40px;

    li {
      line-height: 1.8;
    }
  }
}

// -----------------------------------------------------------------------------
// normalize image card, video card and text card title spacing
// -----------------------------------------------------------------------------


// .content-block .lnk {
//   @include primary-button;

//   @media screen and (min-width: 1980px) {
//     font-size: 16px;
//   }

//   &:hover {
//     @include primary-hover;
//   }
// }
// -----------------------------------------------------------------------------
// Content list with icons
// -----------------------------------------------------------------------------
.ContentListWithIcons {
  .content-block-image {

    // For each media screen size
    &.col-md-4 {
      max-width: 12%
    }

    &.col-lg-4 {
      max-width: 12%
    }

    &.col-sm-12 {
      max-width: 12%
    }

    @media only screen and (max-width: 767px) {
      &.col-md-4 {
        max-width: 100%
      }

      &.col-lg-4 {
        max-width: 100%
      }

      &.col-sm-12 {
        max-width: 100%
      }

      padding-bottom:15px
    }
  }

  .content-block-right {
    .col-sm-12 {
      text-align: right;
    }

    picture {
      display: inline-block;
    }

    .cb-cta-link {
      justify-content: flex-start;
    }
  }

  .icon-row {
    border-bottom: 1px solid $color-grey--650;
    padding-top: 25px
  }

  .icon-row:last-of-type {
    border-bottom: none;
  }

}

.theme-content-block-bg {
  background-repeat: no-repeat;
  background-size: cover;

  .section-title {
    padding-top: 100px;
  }

  &.theme-content-block-imagedark {
    &.theme-content-block-cta-card-link {
      .cb-cta-link {
        .lnk {
          @include cta-link-style;

          &:hover {
            border: none;
          }

          &:after {
            @include cta-link-after;
          }

        }
      }
    }

    .section-title {
      color: $color-white;
    }

    .container {
      >p {
        color: $color-white;
        text-align: center;
        margin-bottom: 20px;
      }

      >.cb-cta-link {
        justify-content: center;
      }
    }

    .button {
      @extend .bttn;
      @include ghost-button;

      &:after {
        @include button-after;
      }

      &:hover {
        @include ghost-hover;

      }
    }
  }
}


.Featured-section {
  .section-title {
    color: #fff;
    margin-bottom: 30px;
  }

  .content-block-title {
    color: #fff;
  }

  .featured-cards~.col>.row:nth-child(2) .card {
    margin-top: 20px;

    .card-body {
      gap: 0;
      flex: initial;

      >div {
        &:first-child {
          width: 10%;
        }

      }

      .card-title {
        width: 90%;
      }

      .card-text {
        width: 90%;
        margin-top: -20px !important;
      }

      .lnk {
        img {
          max-width: 65.99px;
          width: 100%;
          height: 65.99px;

        }
      }
    }
  }

  .featured-cards {
    box-shadow: none;
    padding: 0;
  }

  .card {
    box-shadow: none;
    padding: 0;
  }



  &.theme-content-block-bg {

    .theme-card-cta-primary,
    .theme-card-cta-secondary,
    .theme-card-cta-link,
    .theme-card-standard {
      height: 100%;

      .card {
        height: 100%;

        img {
          max-height: 200px;
        }
      }
    }

  }
}

.theme-content-block-gray {
  background-color: $background-light-gray;
  padding: 100px 0 !important;

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}

.theme-content-block-dark {
  background-color: $background-dark;
  padding: 100px 0 !important;

  .col-title-img {
    color: $color-white;
  }

  .section-title {
    color: $color-white;
  }

  .content-block-title {
    color: $color-white;
  }

  .container {
    >p {
      color: $color-white;
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}

.ContentCard-section {
  .theme-card-dark {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  .theme-card-cta-primary {
    .lnk {
      margin-bottom: 15px;
    }
  }
}



.HorizontalTab-section {
  padding: 100px 0 100px !important;
}


.brcmShare {
  .dropdown-item {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
  }
}

.theme-content-block-standard {

  .content-block-right {
    .cb-cta-link {
      justify-content: start;
    }
  }

  .cb-cta-link {
    justify-content: center;
    margin-top: 30px;

    li:first-child {
      a {
        @extend .bttn;
        @include primary-button;


        &:hover {
          @include primary-hover;
        }

        &:after {
          @include button-after;
        }
      }
    }

    li:nth-child(2) {
      a {
        @extend .bttn;
        @include secondary-button;

        &:hover {
          @include secondary-hover;
        }

        &:after {
          @include button-after;
        }
      }
    }
  }
}

.ContentList-section {
  padding: 140px 0 70px !important;

  &.theme-content-block-cta-card-primary {
    .cb-cta-link {
      li:first-child {
        a {
          @extend .bttn;
          @include primary-button;


          &:hover {
            @include primary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }

      li:nth-child(2) {
        a {
          @extend .bttn;
          @include secondary-button;

          &:hover {
            @include secondary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }
    }
  }

  &.theme-content-block-cta-card-link {
    .cb-cta-link {
      .lnk {
        @include cta-link-style;

        &:after {
          @include cta-link-after;
        }
      }

    }
  }

  .container {
    >.cb-cta-link {
      justify-content: center;
    }
  }
}


.ContentCard-section {

  &.theme-content-block-light,
  &.theme-content-block-gray {
    .ContentCard {
      .container {
        .cb-cta-link {
          gap: 10px !important;
          justify-content: center;

          li {
            &:first-child {
              .button {
                @extend .bttn;
                @include primary-button;

                &:hover {
                  @include primary-hover;
                }

                &:after {
                  @include button-after;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }
              }
            }

            &:nth-child(2) {

              .button,
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }

              }
            }
          }


        }
      }
    }
  }

  &.theme-content-block-imagedark {
    .container {
      >.cb-cta-link .lnk {
        @extend .bttn;
        @include ghost-button;

        &:after {
          @include button-after;
        }

        &:hover {
          @include ghost-hover;

        }
      }

      p {
        >a {
          color: $color-white;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  .cb-cta-link {
    justify-content: center;
  }

}

.InPageNavigation {
  .nav-item {
    .lnk {
      &:hover {
        border: none !important;
      }
    }
  }
}



.scrollto-top-container {
  .scrollto-top-wrapper {
    .scrollto-top {
      &:hover {
        span {
          &:before {
            color: $color-ocean-700 !important;
          }
        }
      }
    }
  }
}

.theme-content-block-cta-primary {
  .cb-cta-link {
    .lnk {
      @extend .bttn;
      @include primary-button;

      &:hover {
        @include primary-hover;
      }
    }
  }
}

.theme-content-block-light {
  &.theme-content-block-cta-card-secondary {
    .theme-card-standard {
      &.theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;

          .card-footer {
            .cb-cta-link {
              justify-content: center !important;

              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }

              }
            }
          }
        }

      }

      &.theme-card-cta-primary {
        height: 100%;

        .card {
          height: 100%;

          .card-footer {
            .cb-cta-link {
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }
              }
            }
          }
        }

      }

      &.theme-card-cta-secondary {
        height: 100% !important;

        .card {
          height: 100% !important;

          .card-footer {
            .cb-cta-link {
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }
              }
            }
          }
        }

      }
    }
  }

  &.theme-content-block-cta-card-link {
    .card {
      .card-footer {
        .cb-cta-link {
          justify-content: center;
        }

        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }

        }
      }
    }
  }

  &.theme-content-block-cta-primary {
    .cb-cta-link {
      .lnk {
        @extend .bttn;
        @include primary-button;

        &:hover {
          @include primary-hover;
        }
      }
    }

  }
}


.ContentCard-section {

  &.theme-content-block-gray {
    .cb-cta-link {
      .lnk {
        @include cta-link-style;

        &:after {
          @include cta-link-after;
        }

        @media screen and (min-width: 1980px) {
          font-size: 16px;
        }

      }
    }

    &.theme-content-block-cta-card-link {
      .ContentCard {

        .theme-card-cta-primary,
        .theme-card-cta-secondary,
        .theme-card-cta-link {
          height: 100%;

          .card {
            height: 100%;
          }
        }

        .card-footer {
          .cb-cta-link {
            justify-content: center;
            align-items: center;

            .lnk {
              @include cta-link-style;

              &:after {
                @include cta-link-after;
              }

              @media screen and (min-width: 1980px) {
                font-size: 16px;
              }

            }
          }
        }
      }


    }

  }

  &.theme-content-block-imagedark {
    &.theme-content-block-cta-card-secondary {
      .container {
        .cb-cta-link {
          gap: 10px !important;
          justify-content: center;

          li {
            &:first-child {
              .button {
                @extend .bttn;
                @include primary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include primary-hover;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }
              }
            }

            &:nth-child(2) {
              .button {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }

              }
            }
          }
        }
      }

      .theme-card-standard {
        &.theme-card-cta-link {

          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }

                  @media screen and (min-width: 1980px) {
                    font-size: 16px;
                  }

                }
              }
            }

          }
        }

        &.theme-card-cta-primary {
          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }
                }
              }
            }
          }
        }

        &.theme-card-cta-secondary {
          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }
                }
              }
            }

          }
        }
      }


    }

    .ImageCard {
      p>a {
        color: $color-ocean-700;
      }
    }

    &.theme-content-block-cta-card-primary {
      .container {
        .cb-cta-link {

          justify-content: center;
        }
      }
    }

    &.theme-content-block-cta-card-link {
      .container {
        .cb-cta-link {

          justify-content: center;
        }
      }

      .VideoLink {
        .link-bttn {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }
        }
      }
    }
  }

  &.theme-content-block-blue {
    .section-title {
      color: $color-grey--675;

    }

    .container {
      p {
        P {
          color: $color-grey--675;

        }
      }
    }

    .container {
      >.cb-cta-link {
        gap: 10px !important;

        li {
          &:first-child {
            .button {
              @extend .bttn;
              @include primary-button;

              &:after {
                @include button-after;
              }

              &:hover {
                @include primary-hover;
              }

              @media screen and (min-width: 1980px) {
                font-size: 16px;
              }
            }
          }

          &:nth-child(2) {
            .button {
              @extend .bttn;
              @include secondary-button;

              &:after {
                @include button-after;
              }

              &:hover {
                @include secondary-hover;
              }

              @media screen and (min-width: 1980px) {
                font-size: 16px;
              }

            }
          }
        }
      }
    }

    &.theme-content-block-cta-card-primary {
      .theme-card-cta-secondary {
        .cb-cta-link {
          .lnk {
            @extend .bttn;
            @include primary-button;

            &:after {
              @include button-after;
            }

            &:hover {
              @include primary-hover;
            }
          }
        }
      }
    }
  }

  .theme-card-standard {
    height: 100%;

    .card {
      height: 100%;
    }
  }


}

.theme-content-block-dark {
  &.theme-content-block-cta-card-primary {
    .ContentCard {

      .theme-card-cta-primary,
      .theme-card-cta-secondary,
      .theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;
        }
      }

      .container {
        >p {
          color: $color-white;
        }
      }

      .cb-cta-link {
        justify-content: center !important;
        align-items: center;

        .lnk {
          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include primary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &.theme-content-block-bg {
    .container {
      .content-block {
        .ContentCard {
          .cb-cta-link {

            .lnk,
            .button {
              @extend .bttn;

              @media screen and (min-width: 1980px) {
                font-size: 16px;
              }
            }

          }
        }
      }
    }

  }

  &.theme-content-block-cta-card-link {
    .ContentCard {

      .theme-card-cta-primary,
      .theme-card-cta-secondary,
      .theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;
        }
      }

      p {
        color: $color-white;
        text-align: center;
      }

      .cb-cta-link {
        justify-content: center;
        align-items: center;
        gap: 10px;

        .lnk {
          @extend .bttn;
          @include ghost-button;

          &:hover {
            @include ghost-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include ghost-button;

          &:hover {
            @include ghost-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .container {
    >p {
      color: $color-white;
    }

    >.cb-cta-link {
      .lnk {
        @extend .bttn;
        @include ghost-button;

        &:after {
          @include button-after;
        }

        &:hover {
          @include ghost-hover;
        }
      }
    }
  }
}


.theme-content-block-blue {
  background-color: $background-dark-blue;
  padding: 100px 0 !important;

  &.theme-content-block-cta-card-secondary {
    .card-footer {
      .cb-cta-link {
        justify-content: center !important;

        .lnk {
          @extend .bttn;
          @include secondary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include secondary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }

    .theme-card-cta-link {
      height: 100%;

      .card {
        height: 100%;
      }
    }

    .theme-card-cta-primary {
      height: 100%;

      .card {
        height: 100%;
      }
    }

    .theme-card-cta-secondary {
      height: 100%;

      .card {
        height: 100%;
      }

    }

  }

  &.theme-content-block-cta-card-primary {
    .card {
      .cb-cta-link {
        justify-content: center
      }
    }
  }

  &.theme-content-block-cta-card-link {
    .card {
      .cb-cta-link {
        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }
        }
      }
    }
  }


  .section-title {
    color: $color-white;
  }

  .col-title-img {
    color: $color-white;
  }

  .container {
    .bottom-body {
      color: $color-white;
    }

    >p {
      color: $color-white;
    }

    >.cb-cta-link {
      .lnk {
        @extend .bttn;
        @include ghost-button;

        &:after {
          @include button-after;
        }

        &:hover {
          @include ghost-hover;
        }
      }
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  .cb-cta-link {
    justify-content: center;
  }

}

.Default-section {
  &#single-card-with-image\,-and-two-cta-links {

    /* CSS styles here */
    .cb-cta-link {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      a.lnk {
        @include cta-link-style;
        margin: 0;

        &:after {
          @include cta-link-after;
        }
      }
    }
  }

  &.theme-content-block-light {
    &.theme-content-block-cta-secondary {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include secondary-button;

          &:after {
            @include button-after;
          }

          &:hover {
            @include secondary-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }

  .content-block-left {
    .cb-cta-link {
      justify-content: start;
    }
  }

  &.theme-content-block-cta-secondary {

    .content-block-left {
      .cb-cta-link {


        button,
        a {
          @extend .bttn;
          @include secondary-button;
          border: 1px solid $color-ocean-700 !important;
          padding: 6px 24px !important;

          &:hover {
            @include secondary-hover;
            color: #fff !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }

}

.Featured-section {

  &.theme-content-block-bg {
    .card-body {
      >.lnk {
        display: block;
      }
    }

    .card-footer {
      .cb-cta-link {
        justify-content: start;

        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }

  .featured-cards {
    .card-title {
      padding: 0 44px;
    }

    .card-footer {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include ghost-button;

          &:after {
            @include button-after;
          }

          &:hover {
            @include ghost-hover;

          }
        }
      }
    }
  }
}

.theme-content-block-imagelight {
  &.theme-content-block-bg {
    .container {
      h3 {
        color: $color-white !important;
      }

      .cb-cta-link {
        justify-content: start !important;

        .lnk {
          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }
}

.theme-content-block-cta-card-primary {
  .cb-cta-link .card-link {
    @extend .bttn;
    @include primary-button;
  }

}

.theme-content-block-cta-card-secondary {
  .cb-cta-link .card-link {
    @extend .bttn;
    @include secondary-button;

    &:after {
      @include button-after;
    }
  }
}

.theme-card-cta-link .card-link {
  @extend .bttn;
  border: none;

  &:after {
    margin-top: -5px !important;
    margin-left: 5px !important;
  }
}

.InPageNavigation {
  .nav-item {
    .lnk {
      text-transform: capitalize;
      text-align: left;
      @include cta-link-style;

      &:after {
        @include cta-link-after;
      }
    }
  }
}

.ContentCardTwoColumn-section {
  .theme-card-standard {
    height: 100%;

    .card {
      height: 100%;


    }
  }

  .ContentCardTwoColumn {

    .ImageCard{
.card-body {

      height: 100%;

      .lnk {
        height: 100%;

        >img {
          height: 100%;
        }
      }
    }
    }


    .card-footer {
      .cb-cta-link {
        padding-left: 20px;
      }
    }

    .row {
      .col-lg-2 {
        padding: 0;

        p {
          >a {
            margin: 0;
            max-width: 171px;
            width: 100%;
            height: 59px;

            >img {
              max-width: 171px;
              width: 100%;
              height: 59px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  .container {
    >.cb-cta-link {
      justify-content: center;
      margin-top: 30px;

      li:first-child {
        a {
          @extend .bttn;
          @include primary-button;


          &:hover {
            @include primary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }

      li:nth-child(2) {
        a {
          @extend .bttn;
          @include secondary-button;

          &:hover {
            @include secondary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }
    }
  }
}

.ImageCard {

  .card-body {
    >.lnk {
      width: 100%;
      >img{
        // max-height: 200px;
        // object-fit: contain;
      }
    }
  }
}

.table-tooltip{
  &.vm-info{
    text-decoration: none;
  }
}
.ContentCardTwoColumn-section {
  .ContentCardTwoColumn{
    .card-footer{
  .cb-cta-link{
    flex-direction: column;
    align-items: flex-start;
  }
}
  }
}
