@import "../base/variables";
@import "../base/transitions";
@import "main-nav.scss";
@import "../base/buttons";
@import "../base/link";
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import "../fontawesome/brands";

.col-title-img {
  color: $color-black;
  margin-bottom: 16px;
}

.content-block {
  margin-bottom: 20px;
  padding: 0;

  ul:not([class]) {
    padding: 0px 0px 10px 40px;

    li {
      line-height: 1.8;
    }
  }
}

// CB card title is a link , too many overwrite rule, need review later - oz//

.card-title {
  .lnk {
    font-size: 25px!important;
    color: $color-primary;
    font-weight: 300!important;
    text-decoration: none!important;
    line-height: 33px;

    &:hover {
      text-decoration: underline!important;
      text-decoration-line: underline!important;
      text-underline-offset: 5px!important;
      text-decoration-thickness: 2px!important;

    }
  }

}

// -----------------------------------------------------------------------------
// normalize image card, video card and text card title spacing
// -----------------------------------------------------------------------------


// .content-block .lnk {
//   @include primary-button;

//   @media screen and (min-width: 1980px) {
//     font-size: 16px;
//   }

//   &:hover {
//     @include primary-hover;
//   }
// }
// -----------------------------------------------------------------------------
// Content list with icons
// -----------------------------------------------------------------------------
.ContentListWithIcons {
  .content-block-image {

    // For each media screen size
    &.col-md-4 {
      max-width: 12%
    }

    &.col-lg-4 {
      max-width: 12%
    }

    &.col-sm-12 {
      max-width: 12%
    }

    @media only screen and (max-width: 767px) {
      &.col-md-4 {
        max-width: 100%
      }

      &.col-lg-4 {
        max-width: 100%
      }

      &.col-sm-12 {
        max-width: 100%
      }

      padding-bottom:15px
    }
  }

  .content-block-right {
    .col-sm-12 {
      text-align: right;
    }

    picture {
      display: inline-block;
    }

    .cb-cta-link {
      justify-content: flex-start;
    }
  }

  .icon-row {

    padding-top: 25px
  }

  .icon-row:last-of-type {
    border-bottom: none;
  }

}

.theme-content-block-bg {
  background-repeat: no-repeat;
  background-size: cover;

  .section-title {
    padding-top: 100px;
  }

  &.theme-content-block-imagedark {
    &.theme-content-block-cta-card-link {
      .cb-cta-link {
        .lnk {
          @include cta-link-style;

          &:hover {
            border: none;
          }

          &:after {
            @include cta-link-after;
          }

        }
      }
    }

    .section-title {
      //color: $color-white;
    }

    .container {
      >p {
        color: $color-white;
        text-align: center;
        margin-bottom: 20px;
      }

      >.cb-cta-link {
        justify-content: center;
      }
    }

    .button {
      @extend .bttn;
      @include ghost-button;

      &:after {
        @include button-after;
      }

      &:hover {
        @include ghost-hover;

      }
    }
  }
}


.Featured-section {
  .section-title {
    color: #fff;
    margin-bottom: 30px;
  }

  .content-block-title {
    color: #fff;
  }

  .featured-cards~.col>.row:nth-child(2) .card {
    margin-top: 20px;
    @media (max-width:991px) {
      margin-top: 0;
    }
    .card-body {
      gap: 0;
      flex: initial;

      >div {
        &:first-child {
          width: 10%;
          @media (max-width:991px) {
            width: 20%;
          }
          @media (max-width:767px) {
            width: 20%;
          }
        }

      }

      .card-title {
        width: 90%;
        margin-top: -10px;
        @media (max-width:991px) {
          width: 79%;
        }
        @media (max-width:767px) {
          width: 80%;
        }
      }

      .card-text {
        width: 90%;
        margin-top: 0px !important;
        @media (max-width:991px) {
          width: 79%;
        }
        @media (max-width:767px) {
          width: 80%;
        }
      }

      .lnk {
        img {
          max-width: 65.99px;
          width: 100%;
              margin-right: 0px !important;
    margin-left: 0px !important;
          height: 65.99px;


        }
      }
    }
    .card-footer{
          width: 89%;
    }
  }

  .featured-cards {
    box-shadow: none;
    padding: 0;
  }

  .card {
    box-shadow: none;
    padding: 0;
  }



  &.theme-content-block-bg {

    .theme-card-cta-primary,
    .theme-card-cta-secondary,
    .theme-card-cta-link,
    .theme-card-standard {
      height: 100%;

      .card {
        height: 100%;

        img {
          max-height: 200px;
        }
      }
    }

  }
}

.theme-content-block-gray {
  background-color: $background-light-gray;
  padding: 100px 0 !important;

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}


.theme-content-block-dark {
  background-color: $background-dark;
  padding: 100px 0 !important;

  .col-title-img {
    color: $color-white;
  }

  .section-title {
    color: $color-white;
  }

  .content-block-title {
    color: $color-white;
  }

  .container {
    >p {
      color: $color-white;
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}

.ContentCard-section {
  .theme-card-dark {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  .theme-card-cta-primary {
    .lnk {
      margin-bottom: 15px;
    }
  }
  .section-title {
    padding-bottom: 8px;
  }

  .ContentCard {
    >.container {
      >p {
        >p {
          padding-bottom: 32px;
        }
      }

      .cb-cta-link {
        // padding-top: 32px !important;
            margin-top: 10px;
      }

      @media (max-width: 767.98px) {
        >.row{
          gap: 30px
        }
      }
    }
  }
}





.HorizontalTab-section {


  .HorizontalTab {
    .ContentCardTwoColumn{
      .row{
        >div{
          &:nth-child(2){
            .lnk{
              &:after{
                content: unset !important;
              }
            }
          }
        }
      }
      .lnk-image{
        &:after{
          content: unset  !important;
        }
      }
    }
    .card-body{
      flex: none !important;
    }

    .cb-cta-link {
      .VideoLink {
        .link-bttn {

          // @include cta-link-style;
          &:after {
            @include cta-link-after
          }
        }
      }
    }

    .ContentCardTwoColumn {
      >.container {
        >div {
          &:first-child {
            .card {

              box-shadow: none;


              .card-footer {


                .cb-cta-link {
                  justify-content: flex-start;
                  padding-left: 20px;
                }

              }
            }
          }
        }
      }
    }
  }
}

.brcmShare {
  .dropdown-item {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
  }
}

.theme-content-block-standard {

  .content-block-right {
    .cb-cta-link {
      justify-content: start;
    }
  }

  .cb-cta-link {
    justify-content: center;
    margin-top: 30px;

    li:first-child {
      a {
        @extend .bttn;
        @include primary-button;


        &:hover {
          @include primary-hover;
        }

        &:after {
          @include button-after;
        }
      }
    }

    li:nth-child(2) {
      a {
        @extend .bttn;
        @include secondary-button;

        &:hover {
          @include secondary-hover;
        }

        &:after {
          @include button-after;
        }
      }
    }
  }
}

.ContentList-section {
  padding: 140px 0 70px !important;

  &.theme-content-block-cta-card-primary {
    .cb-cta-link {
      li:first-child {
        a {
          @extend .bttn;
          @include primary-button;


          &:hover {
            @include primary-hover;
          }

          &:after {
            @include button-after;
          }
        }


      }

      li:nth-child(2) {
        a {
          @extend .bttn;
          @include secondary-button;

          &:hover {
            @include secondary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }
    }
  }

  &.theme-content-block-cta-card-link {
    .cb-cta-link {
      .lnk {
        @include cta-link-style;

        &:after {
          @include cta-link-after;
        }
      }

    }
  }

  .container {
    >.cb-cta-link {
      justify-content: center;
    }
  }

}


.ContentCard-section {

  &.theme-content-block-light,
  &.theme-content-block-gray {
    .ContentCard {
      .container {
        .cb-cta-link {
          gap: 10px !important;
          justify-content: center;

          li {

            &:first-child {

              .button,.link-bttn {
                @extend .bttn;
                @include primary-button;

                &:hover {
                  @include primary-hover;
                }

                &:after {
                  @include button-after;
                }


              }
              .link-bttn{
                    padding: 10px 24px;
              }


            }

            &:nth-child(2) {

              .button,
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }



              }

              .link-bttn{
                  @extend .bttn;
                @include secondary-button;
                  padding: 6px 24px;
                &:after {
                  @include button-after;
                }
                &:hover{
                  text-decoration: none;
                }
                  }
            }
          }


        }
      }
    }
  }

  &.theme-content-block-imagedark {
    .container {
      >.cb-cta-link .lnk {
        @extend .bttn;
        @include ghost-button;

        &:after {
          @include button-after;
        }

        &:hover {
          @include ghost-hover;

        }
      }

      p {
        >a {
          color: $color-white;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  .cb-cta-link {
    justify-content: center;
  }

  .ContentCard {
    .theme-card-standard {
      .RightImageCard {
        .card-body {
          .row {
            height: 100%;

            .col {
              display: flex;
              flex-direction: column;

              .card-footer {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: end;
              }
            }
          }
        }
      }
    }
  }

  &.theme-content-block-cta-card-secondary {
    .TestimonialCard {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include secondary-button;

          &:after {
            @include button-after;
          }

          &:hover {
            @include secondary-hover;
          }
        }
      }
    }
  }

  &.theme-content-block-cta-card-primary {
    .TestimonialCard {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include primary-button;

          &:hover {
            @include primary-hover;
          }
        }
      }
    }

  }

  .TestimonialCard {
    height: 100%;

    .card-body {
      display: flex;
      flex-direction: column;

      .testimonial-cta {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
    }
      .card-body {
       .quote {
        font-size: 16px;
        line-height: 26px;
        &:before{
           content: "“";
        }
        &:after{
            content: "”";
        }
        p{
          display: inline;
        }

      }

      }

      .signature {
        font-size: 16px;
        font-style: normal;
        line-height: 26px;
        position: relative;



      }

    .quote-image img {
      object-fit: contain;
      max-height: 195px;
    }
  }


}
  .ProductCard {
    min-height: 100%;

    .lnk {
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      width: 100%;
    }

    >div {
      flex-wrap: nowrap !important;
      padding: 15px;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;


      >div {
        &:first-child {
          max-width: 100% !important;
          min-width: 100% !important;
          margin-left: 12px !important;
          padding: 0;

          &.col-lg-8 {
            margin: 0 !important;
          }

          img {

            max-width: 150px;
            height: 150px;
            margin: 0 auto;
            object-fit: cover;
            margin-bottom: 16px !important;
          }
        }

        &:nth-child(2) {
          max-width: 100% !important;
        }
        .product-link{
        @include cta-link-style;
          font-size: 25px;
              font-weight: 300;
    text-transform: capitalize;
      }
      }
    }
    &.LeftImageCard{
      >div {
      flex-wrap: nowrap !important;
      padding: 15px;
      display: flex !important;
      flex-direction: row;
      align-items: flex-start;
      gap: 0px;
      >div {
        &:first-child {
          max-width: 21% !important;
          min-width: 21% !important;
          margin-left: 12px !important;
          padding: 0;

          &.col-lg-8 {
            margin: 0 !important;
          }

          img {
            width: 70px;
            height: 70px;
            // max-height: 140px;
            object-fit: cover;
            margin-bottom: 16px !important;
          }
        }

        &:nth-child(2) {
          max-width: 82% !important;
        }
      }
      .product-link{
        @include cta-link-style;
        text-align: left;
        font-size: 25px;
            font-weight: 300;
    text-transform: capitalize;
      }
    }
    }
    &.RightImageCard{
      >div {
      flex-wrap: nowrap !important;
      padding: 15px;
      display: flex !important;
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 0px;
      >div {
        &:first-child {
          max-width: 21% !important;
          min-width: 21% !important;
          margin-left: 12px !important;
          padding: 0;

          &.col-lg-8 {
            margin: 0 !important;
          }

          img {
            width: 70px;
            height: 70px;
            // max-height: 140px;
            object-fit: cover;
            margin-bottom: 16px !important;
          }
        }

        &:nth-child(2) {
          max-width: 82% !important;
        }
      }
      .product-link{
        @include cta-link-style;
        text-align: left;
        font-size: 25px;
            font-weight: 300;
    text-transform: capitalize;
      }
    }
    }
  }
.InPageNavigation {
  .nav-item {
    .lnk {
      &:hover {
        border: none !important;
      }
    }
  }
}



.scrollto-top-container {
  .scrollto-top-wrapper {
    .scrollto-top {
      &:hover {
        span {
          &:before {
            color: $color-primary !important;
          }
        }
      }
    }
  }
}

.theme-content-block-cta-primary {
  .cb-cta-link {
    .lnk {
      @extend .bttn;
      @include primary-button;

      &:hover {
        @include primary-hover;
      }
    }
  }
}

.theme-content-block-light {
  &.theme-content-block-cta-card-secondary {
    .theme-card-standard {
      &.theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;

          .card-footer {
            .cb-cta-link {
              justify-content: center !important;

              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }

                @media screen and (min-width: 1980px) {
                  font-size: 16px;
                }

              }
            }
          }
        }

      }

      &.theme-card-cta-primary {
        height: 100%;

        .card {
          height: 100%;

          .card-footer {
            .cb-cta-link {
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }
              }
            }
          }
        }

      }

      &.theme-card-cta-secondary {
        height: 100% !important;

        .card {
          height: 100% !important;

          .card-footer {
            .cb-cta-link {
              .lnk {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }
              }
            }
          }
        }

      }
    }
  }

  &.theme-content-block-cta-card-link {
    .card {
      .card-footer {
        .cb-cta-link {
          justify-content: center;
        }

        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }

        }
      }
    }
  }

  &.theme-content-block-cta-primary {
    .cb-cta-link {
      .lnk {
        @extend .bttn;
        @include primary-button;

        &:hover {
          @include primary-hover;
        }
      }
    }

  }
}


.ContentCard-section {

  .card {
    min-height: 100%;
  }

  &.theme-content-block-gray {
    .cb-cta-link {
      .lnk {
        @include cta-link-style;

        &:after {
          @include cta-link-after;
        }
        &:hover {
          border: 0;
        }

        @media screen and (min-width: 1980px) {
          font-size: 16px;
        }

      }
    }

    &.theme-content-block-cta-card-link {
      .ContentCard {

        .theme-card-cta-primary,
        .theme-card-cta-secondary,
        .theme-card-cta-link {
          height: 100%;

          .card {
            height: 100%;
          }
        }

        .card-footer {
          .cb-cta-link {
            justify-content: center;
            align-items: center;

            .lnk {
              @include cta-link-style;

              &:after {
                @include cta-link-after;
              }



            }
          }
        }
      }


    }

  }

  &.theme-content-block-imagedark {
    &.theme-content-block-cta-card-secondary {
      .container {
        .cb-cta-link {
          gap: 10px !important;
          justify-content: center;

          li {
            &:first-child {
              .button {
                @extend .bttn;
                @include primary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include primary-hover;
                }

              }
            }

            &:nth-child(2) {
              .button {
                @extend .bttn;
                @include secondary-button;

                &:after {
                  @include button-after;
                }

                &:hover {
                  @include secondary-hover;
                }



              }
            }
          }
        }
      }

      .theme-card-standard {
        &.theme-card-cta-link {

          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }

                  @media screen and (min-width: 1980px) {
                    font-size: 16px;
                  }

                }
              }
            }

          }
        }

        &.theme-card-cta-primary {
          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }
                }
              }
            }
          }
        }

        &.theme-card-cta-secondary {
          height: 100%;

          .card {
            height: 100%;

            .card-footer {
              .cb-cta-link {
                justify-content: center !important;
                align-items: center !important;

                .lnk {
                  @extend .bttn;
                  @include secondary-button;

                  &:after {
                    @include button-after;
                  }

                  &:hover {
                    @include secondary-hover;
                  }
                }
              }
            }

          }
        }
      }


    }

    .ImageCard {
      p>a {
        color: $color-primary;
      }
    }

    &.theme-content-block-cta-card-primary {
      .container {
        .cb-cta-link {

          justify-content: center;
        }
      }
    }

    &.theme-content-block-cta-card-link {
      .container {
        .cb-cta-link {

          justify-content: center;
        }
      }

      .VideoLink {
        .link-bttn {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }
        }
      }
    }
  }

  &.theme-content-block-blue {
    .section-title {
      color: $color-grey--675;

    }

    .container {
      p {
        P {
          color: $color-grey--675;

        }
      }
    }

    .container {
      >.cb-cta-link {
        gap: 10px !important;

        li {
          &:first-child {
            .button {
              @extend .bttn;
              @include primary-button;

              &:after {
                @include button-after;
              }

              &:hover {
                @include primary-hover;
              }


            }
          }

          &:nth-child(2) {
            .button {
              @extend .bttn;
              @include secondary-button;

              &:after {
                @include button-after;
              }

              &:hover {
                @include secondary-hover;
              }



            }
          }
        }
      }
    }

    &.theme-content-block-cta-card-primary {
      .theme-card-cta-secondary {
        .cb-cta-link {
          .lnk {
            @extend .bttn;
            @include primary-button;

            &:after {
              @include button-after;
            }

            &:hover {
              @include primary-hover;
            }
          }
        }
      }
    }
  }

  .theme-card-standard {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  &.theme-content-block-cta-card-link {
    .ImageCard,.card   {
      .card-footer {
        .cb-cta-link {

          .lnk,.link-bttn {

            @include cta-link-style;

            &:after {
              @include cta-link-after ;
            }


          }
        }
      }
    }
  }
  &.theme-cbl-card-transparent{
    .card{
      box-shadow: none;
    }
  }

  &.theme-content-block-dark {
    &.theme-content-block-cta-card-primary {
      .LeftImageCard {
        .card-body {
          .card-title {
            a {
              margin: 0;
              color: #47B2D3;
            }
          }

          .row {
            height: 100%;

            .col:nth-child(2) {
              display: flex;
              flex-direction: column;
              ;

              .card-footer {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: end;
              }
            }
          }
        }
      }

      a {
        color: $color-white ;
        &:hover{
          background: #fff;
          color: $color-primary;
        }



      }
    }


    &.theme-content-block-cta-card-link {
.card-text{
  a{
     color: $color-link-dark;
  }
}

      .card-footer {
        .cb-cta-link {
          justify-content: center !important;

          .lnk {
            @include cta-link-style;
            color: $color-link-dark;
            text-decoration: none;

            &:after {
              @include cta-link-after;

            }
            &:hover {
            background: transparent ;

            color: $color-link-hover-dark;
            text-decoration-color: $color-link-hover-dark;
            text-decoration: underline;
           }
          }

          .link-bttn{
               @include cta-link-style;
            color: $color-link-dark;
            text-decoration: none;

            &:after {
              @include cta-link-after;

            }
            &:hover {
            background: transparent ;

            color: $color-link-hover-dark;
            text-decoration-color: $color-link-hover-dark;
            text-decoration: underline;
           }
          }
        }
      }

    }
  }

  &.theme-content-block-cta-card-primary{
    .cb-cta-link{
      .lnk{
        padding: 6px 24px ;
      }
      .link-bttn{
         @extend .bttn;
        @include primary-button;
         padding: 6px 24px ;
         &:hover{
          text-decoration: none;
         }
      }
    }
  }
  .cb-cta-link {
    .lnk,.link-bttn {
      @include cta-link-style;

      &:after {
        @include cta-link-after;
      }
    }
  }
  .ContentCard{
    .LeftImageCard{
      .card-body{
        .card-text{
          .VideoLink{
            .link-bttn{
              text-transform: capitalize;
              text-decoration: underline;
              font-size: 16px;
                text-underline-offset: 3px;

              &:hover{
                    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
              }
            }
          }
        }
        >.row{
          height: 100%;
      >div{
&:nth-child(2){
                              display: flex;
    flex-direction: column;
             .card-footer{
          flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 0;
    .cb-cta-link{
      margin-top: 0 !important;
      padding-top: 0 !important;
      a{
        display: flex;
        align-items: center;
      }

    }
    }
          }
      }

        }
      }
    }
  }
  &.theme-content-block-cta-card-secondary{
    .cb-cta-link{
      .link-bttn{
        @extend .bttn;
              @include secondary-button;
    padding: 6px 24px;
              &:after {
                @include button-after;
                content: unset;
              }

              &:hover {
                @include secondary-hover;
                color: #fff;
              }
      }
    }
  }

}

.theme-content-block-dark {
  &.theme-content-block-cta-card-primary {
    .ContentCard {

      .theme-card-cta-primary,
      .theme-card-cta-secondary,
      .theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;
        }
      }

      .container {
        >p {
          color: $color-white;
        }
      }

      .cb-cta-link {
        justify-content: center !important;
        align-items: center;

        .lnk {
          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include primary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &.theme-content-block-bg {
    .container {
      .content-block {
        .ContentCard {
          .cb-cta-link {

            .lnk,
            .button {
              @extend .bttn;


            }

          }
        }
      }
    }

  }

  &.theme-content-block-cta-card-link {
    .ContentCard {

      .theme-card-cta-primary,
      .theme-card-cta-secondary,
      .theme-card-cta-link {
        height: 100%;

        .card {
          height: 100%;
        }
      }

      p {
        color: $color-white;
        text-align: center;
      }

      .cb-cta-link {
        justify-content: center;
        align-items: center;
        gap: 10px;

        .lnk {
          @extend .bttn;
          @include ghost-button;

          &:hover {
            @include ghost-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include ghost-button;

          &:hover {
            @include ghost-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .container {
    >p {
      color: $color-white;
    }

    >.cb-cta-link {
      .lnk {
        @extend .bttn;
        @include ghost-button;

        &:after {
          @include button-after;
        }

        &:hover {
          @include ghost-hover;
        }
      }
    }
  }
  &.theme-cbl-card-transparent {
    .card {
      &.LeftImageCard {
        .card-footer {
          background-color: transparent;

          .cb-cta-link {
            background-color: transparent;
          }
        }

      }
    }
  }
}


.theme-content-block-blue {
  background-color: $background-dark-blue;
  padding: 100px 0 !important;

  &.theme-content-block-cta-card-secondary {
    .card-footer {
      .cb-cta-link {
        justify-content: center !important;

        .lnk {
          @extend .bttn;
          @include secondary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }
        }

        .card-link {
          @extend .bttn;
          @include secondary-button;

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }

    .theme-card-cta-link {
      height: 100%;

      .card {
        height: 100%;
      }
    }

    .theme-card-cta-primary {
      height: 100%;

      .card {
        height: 100%;
      }
    }

    .theme-card-cta-secondary {
      height: 100%;

      .card {
        height: 100%;
      }

    }

  }

  &.theme-content-block-cta-card-primary {
    .card {
      .cb-cta-link {
        justify-content: center
      }
    }
  }

  &.theme-content-block-cta-card-link {
    .card {
      .cb-cta-link {
        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }
        }
      }
    }
  }


  .col-title-img {
    color: $color-black;
  }

  .container {
    .bottom-body {
      //color: $color-white;
    }

    >p {
      //color: $color-white;
    }

    >.cb-cta-link {
      .lnk {
        @extend .bttn;
            @include primary-button;

        &:after {
          @include button-after;
        }

        &:hover {
            @include primary-hover;
        }
      }
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  .cb-cta-link {
    justify-content: center;
  }

}

.Default-section {


  &#single-card-with-image\,-and-two-cta-links {

    /* CSS styles here */
    .cb-cta-link {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      a.lnk {
        @include cta-link-style;
        margin: 0;

        &:after {
          @include cta-link-after;
        }
      }
    }
  }

  &.theme-content-block-light {
    &.theme-content-block-cta-secondary {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include secondary-button;

          &:after {
            @include button-after;
          }

          &:hover {
            @include secondary-hover;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }

  .content-block-left {
    .cb-cta-link {
      justify-content: start;
    }
  }

  &.theme-content-block-cta-secondary {

    .content-block-left {
      .cb-cta-link {


        button,
        a {
          @extend .bttn;
          @include secondary-button;
          border: 1px solid $color-primary !important;
          padding: 6px 24px !important;

          &:hover {
            @include secondary-hover;
            color: #fff !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }

  &.theme-content-block-cta-link {
    .cb-cta-link {
      .lnk {
        @include cta-link-style;

        &:hover {
          @include link-hover;
          border: none;
        }
        &:after{
         @include  cta-link-after
        }
      }

    }
  }

  &.theme-cbl-card-transparent {
    box-shadow: none;
    padding: 0;
  }

}

.Featured-section {

  &.theme-content-block-bg {
    .card-body {
      >.lnk {
        display: block;
      }
    }

    .card-footer {
      .cb-cta-link {
        justify-content: start;

        .lnk {
          @include cta-link-style;

          &:after {
            @include cta-link-after;
          }

          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }

  .featured-cards {
    .card-title {
      padding: 0 44px;
    }

    .card-footer {
      .cb-cta-link {
        .lnk {
          @extend .bttn;
          @include ghost-button;

          &:after {
            @include button-after;
          }

          &:hover {
            @include ghost-hover;

          }
        }
      }
    }
  }
}

.theme-content-block-imagelight {
  &.theme-content-block-bg {
    .container {
      h3 {
        color: $color-white !important;
      }

      .cb-cta-link {
        justify-content: start !important;

        .lnk {
          @media screen and (min-width: 1980px) {
            font-size: 16px;
          }

        }
      }
    }
  }
}

.theme-content-block-cta-card-primary {
  .cb-cta-link .card-link {
    @extend .bttn;
    @include primary-button;
  }

}

.theme-content-block-cta-card-secondary {
  .cb-cta-link .card-link {
    @extend .bttn;
    @include secondary-button;

    &:after {
      @include button-after;
    }
  }
}

.theme-card-cta-link .card-link {
  @extend .bttn;
  border: none;

  &:after {
    margin-top: -5px !important;
    margin-left: 5px !important;
  }
}

.InPageNavigation {
  .nav-item {
    .lnk {
      text-transform: capitalize;
      text-align: left;
      @include cta-link-style;

      &:after {
        @include cta-link-after;
      }
    }
  }
}

.ContentCardTwoColumn-section {
  .theme-card-standard {
    height: 100%;

    .card {
      height: 100%;


    }
  }

  .ContentCardTwoColumn {

    .ImageCard {
      .card-body {

        height: 100%;

        .lnk {
          height: 100%;

          >img {
            height: 100%;
          }
        }
      }
    }


    .card-footer {
      .cb-cta-link {
        padding-left: 20px;
      }
    }

    .row {
      .col-lg-2 {
        padding: 0;

        p {
          >a {
            margin: 0;
            max-width: 171px;
            width: 100%;
            height: 59px;

            >img {
              max-width: 171px;
              width: 100%;
              height: 59px;
              object-fit: contain;
            }
          }
        }
      }
    }

    .container {
      .row {
        .ImageCard {
          .card-body {
            .card-title {
              text-align: left;
            }
          }

          .card-footer {
            .cb-cta-link {
              justify-content: end;
            }
          }
        }

      }
    }
  }

  .container {
    >.cb-cta-link {
      justify-content: center;
      margin-top: 30px;

      li:first-child {
        a {
          @extend .bttn;
          @include primary-button;


          &:hover {
            @include primary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }

      li:nth-child(2) {
        a {
          @extend .bttn;
          @include secondary-button;

          &:hover {
            @include secondary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }
    }
  }
}

.ImageCard {

  .card-body {
    >.lnk {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.table-tooltip {
  &.vm-info {
    text-decoration: none;
  }
}

.ContentCardTwoColumn-section {
  .ContentCardTwoColumn {
    .card-footer {
      .cb-cta-link {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}


.ContentCard-section,
.Accordion-section {
  .card-title {
    color: $color-black;
  }
  .section-title {
    color: $color-black;
  }
  &.theme-cbl-card-transparent {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }
  }

  &.theme-content-block-imagedark {
    .section-title {
      color: $color-white;
    }

    .card-title {
      color: $color-white;
    }

    &.theme-cbl-card-light {
      .section-title {
        color: $color-white;
      }

      .card-title {
        color: $color-white;
      }

      .ImageCard {
        .card-title {
          color: $color-black;
        }
      }
    }
  }

  &.theme-content-block-light {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }
  }

  &.theme-cbl-card-light {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }
  }

  &.theme-content-block-dark{
    .section-title {
      color: $color-white;
    }
    .card-title {
      color: $color-white;
    }
  }
}

.Featured-section {
  .section-title {
    color: $color-white;
  }

  &.theme-cbl-card-light {
    .Featured {
      .featured-cards {
        .card-title {
          color: $color-white;
        }
      }

      .col {
        .card-title {
          color: $color-black;
        }
      }
    }

    .featured-cards {
      .card-title {
        color: $color-white;
      }
    }

    .section-title {
      color: $color-white;
    }

    .card-title {
      color: $color-white;
    }

  }
}

.ContentList-section {
  .section-title {
    color: $color-black;
  }

  &.theme-cbl-card-transparent {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }
  }
}

.Default-section {
  .section-title {
    color: $color-black;
  }

  .content-block-title {
    color: $color-black;
  }

  &.theme-cbl-card-transparent {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }
  }
}

.HorizontalTab-section {
  .section-title {
    color: $color-black;
  }

  .card-title {
    color: $color-black;

  }

  .content-block-title {
    color: $color-black;
  }

  &.theme-cbl-card-transparent {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
      text-align: left;
    }
  }

  .HorizontalTab {
    .ContentList {
      >.container {
        >div {
          &:first-child {
            .card {

              box-shadow: none;
            }
          }
        }
      }

    }
        .ContentCard{
      .container{
          >.row{
            >div{
              // height: 100% !important;
              >div{
                height: 100%;
                .card{
                  height: 100%;
                }
              }
            }
          }
      }
    }
    .TestimonialCard {
      .quote-image img {
        object-fit: contain;
        max-height: 195px;
      }
      .card-body{
        flex-direction: column;
    display: flex;
    flex: 1 1 auto !important;
    .testimonial-cta{
          flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }
      }
    }
  }
}



.CarouselFeatured-section {
  .section-title {
    color: $color-black;
  }
}

.CarouselSplit-section {
  &.theme-cbl-card-transparent {
    .section-title {
      color: $color-black;
    }

    .card-title {
      color: $color-black;
    }

    .CarouselSplit {



      .carousel-inner {

        .card-title {
          color: $color-black;
        }
      }

    }

  }
}

.ContentCardTwoColumn-section {
  .section-title {
    color: $color-black;
  }

  .card-title {
    color: $color-black;
  }

  // Promo section for /explore/us
  &.theme-content-block-promo {
    .card-title {
      color: $color-white;
    }

    background-color: $color-primary;


    .ContentCardTwoColumn {
      .container {
        .row {
          align-items: center;

          @media (max-width:767px) {
            flex-direction: column;
          }

          >div {
            @media (max-width:767px) {
              padding: 0;
            }

            &:first-child {
              max-width: 80% !important;
              width: 80% !important;

              flex: 0 0 80% !important;

              @media (max-width:767px) {
                max-width: 100% !important;
                width: 100% !important;

                flex: 0 0 100% !important;
              }

              @media (max-width:1200px) {
                max-width: 100% !important;
                width: 100% !important;

                flex: 0 0 100% !important;
              }

              .ImageCard {
                .card-body {
                  @media (max-width:767px) {
                    padding: 0;
                  }

                  display: flex;
                  flex-wrap: wrap;
                  >h3~div {
                    width: 78%;

                    margin-top: -0px !important;
                    >p{
                      margin-top: 82px !important;
                      @media (max-width:767px) {
                        width: 100% !important;
                      margin-top: 0px  !important;
                        margin-left: 0;
                      }
                    }

                  }
                  >.lnk~h3~div {
                    width: 78%;
                    margin-top: -0px !important;
                    >p{
                      margin-top: 0px !important;
                    }

                    @media (max-width:767px) {
                      width: 100% !important;
                      margin-top: 15px !important;
                      margin-left: 0;
                    }

                    @media (max-width:1200px) {
                      width: 100% !important;
                      margin-left: 5px;
                      margin-top: 8px !important;
                    }
                  }
                  >div:nth-child(2) {

                    &.card-text {
                      margin-top: -72px !important;
                      @media (max-width:767px) {
                        margin-top: 20px !important;
                        width: 100%;
                      }

                    }
                  }

                  .lnk {
                    width: 20%;
                    margin-right: 2%;

                    @media (max-width:767px) {
                      width: 100%;
                    }
                  }

                  .card-title {
                    width: 78% !important;
                    padding-top: 0;
                    line-height: 24px;
                    height: min-content;
                    margin: 0;
                    .lnk {
                      width: 78% !important;
                      padding-top: 0;
                      line-height: 24px;
                      height: min-content;
                      margin: 0;
                      color: $color-white;
                      text-decoration: underline;

                      @media (max-width:767px) {
                        width: 100% !important;
                        margin-top: 20px;
                      }

                      @media (max-width:1200px) {

                        margin-top: 20px;
                      }
                    }

                    @media (max-width:767px) {
                      width: 100% !important;
                      margin-top: 20px;
                    }

                    @media (max-width:1200px) {

                      margin-top: 20px;
                    }
                  }

                  >.lnk~.card-text {
                    width: 78%;
                    margin-left: 22%;
                    margin-top: -48px !important;

                    @media (max-width:767px) {
                      width: 100% !important;
                      margin-top: 15px !important;
                      margin-left: 0;
                    }

                    @media (max-width:1200px) {
                      width: 100% !important;
                      margin-left: 5px;
                      margin-top: 8px !important;
                    }
                  }

                }

                .card-footer {
                  padding: 0;

                  .cb-cta-link {
                    display: none;
                  }
                }
              }

            }

            &:nth-child(2) {
              max-width: 20% !important;
              width: 20% !important;
              min-height: 20% !important;
              flex: 0 0 20% !important;

              @media (max-width:767px) {
                max-width: 100% !important;
                width: 100% !important;
                min-height: 100% !important;
                flex: 0 0 100% !important;
              }

              @media (max-width:1200px) {
                max-width: 100% !important;
                width: 100% !important;
                min-width: 100% !important;
                flex: 0 0 100% !important;
              }

              .ImageCard {
                .card-body {

                  display: none;
                }

                .card-footer {
                  @media (max-width:767px) {
                    padding: 0;
                  }

                  .cb-cta-link {
                    @media (max-width:767px) {
                      padding: 0;

                    }

                    @media (max-width:1200px) {
                      padding: 0;
                      flex-direction: row;
                      justify-content: flex-start;
                    }

                    >li {
                      width: max-content;

                      @media (max-width:767px) {
                        width: 100%;
                      }
                    }

                    .lnk {


                      @extend .bttn;
                      @include ghost-button;

                      &:after {
                        @include button-after;
                      }

                      &:hover {
                        @include ghost-hover;

                      }
                    }
                      .VideoLink {

                      .link-bttn {
                         @extend .bttn;
                      @include ghost-button;

                      &:after {
                        @include button-after;
                      }

                      &:hover {
                        @include ghost-hover;
                        text-decoration: none;

                      }
                      }
                    }
                  }

                }

              }
            }
          }
        }
      }
    }



  }
}

.base-info {
  .body-description {
    h2 {
      color: $color-black;
    }
  }
}

.theme-content-block-light {
  h2 {
    color: $color-black;
  }

  .section-title {
    color: $color-black;
  }

  .card-title {
    color: $color-black;
  }
}



.ContentListWithIcons-section {
  .section-title {
    color: $color-black;
  }

  .card-title {
    color: $color-black;
  }

  .icon-row {
    box-shadow: 0 4px 14px 0 rgba(17, 69, 134, 0.10);
    padding: 20px;
    margin: 40px 0;
  }

  &.theme-cbl-card-transparent {
    .icon-row {
      box-shadow: none;
      padding: 20px;
      margin: 40px 0;
    }
  }

  .container {
    >.cb-cta-link {
      justify-content: center;
    }
  }
}

.theme-card-cta-link{
  height: 100%;
  .card{
    height: 100%;
  }
}

.ContentList-section {
  .ContentList {
    .content-block-right,
    .content-block-left {
      .cb-cta-link {
        justify-content: flex-start;
      }
    }

    .cb-cta-link {
      justify-content: center;
    }

  }
}
.ContentList-section {
  .ContentCardTwoColumn {
    .row {
      .card {
        .card-title {
          text-align: left;
        }
      }
      >div {

        >div {

          .card {
            height: 100%;
          }
        }

      }
    }

    .card {
      .card-footer {
        .cb-cta-link {
          justify-content: flex-start !important;
          padding-left: 20px;
        }
      }
    }
  }

  &.theme-cbl-card-light {
    .ContentCardTwoColumn {
      .card {
        .card-footer {
          .cb-cta-link {

            padding-left: 0px;
          }
        }
      }
    }
  }

}

.VerticalTab-section {
  .VerticalTab {

    .video-box{
      width: 100%;
      max-width: 100% !important;
      flex: none !important;
    }

    .card {
      .card-body {
        .card-title {
          text-align: left;
          color: black;
          padding-top: 0;
        }

        .lnk {
          &:after {
            content: unset !important;
          }
        }
      }

      .cb-cta-link {
        justify-content: flex-start !important;
        padding-left: 20px;
      }
    }
    .content-block-center {
      display: flex;
      flex-direction: column-reverse;
      .content-block-title{
        margin-top: 20px;
      }
    }

    .tab-content{
      .row{
        >.col{
          .content-block-title{
            margin-top: 20px;
          }
        }
      }
    }
  }
}
.Testimonial-section {
  .TestimonialCard {
    box-shadow: none !important;

    .cb-cta-link {
      justify-content: center;
      margin-top: 30px;

      li:first-child {
        a {
          @extend .bttn;
          @include primary-button;


          &:hover {
            @include primary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }

      li:nth-child(2) {
        a {
          @extend .bttn;
          @include secondary-button;

          &:hover {
            @include secondary-hover;
          }

          &:after {
            @include button-after;
          }
        }
      }
    }
  }

  .ProductCard {
    min-height: 100%;

    .lnk {
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
    }

    >div {
      flex-wrap: nowrap !important;
      padding: 14px;


      >div {
        &:first-child {
          max-width: 14% !important;
          margin-left: 12px !important;

          img {
            width: 58px;
            height: 58px;
          }
        }

        &:nth-child(2) {
          max-width: 82% !important;
        }
      }
    }
  }

}

.InPageNavigation-section {
  .InPageNavigation {
    .navbar-nav {
      flex-wrap: wrap;
    }
  }

}

.ResourceLibrary-section{
 .resource-library-container{
  .card{
    .card-body{
      .row{
        .col{
          a{
            height: auto ;
          }
          button{
            height: auto;
          }
        }
      }
    }

  }
 }
}

.theme-card-cta-plain{
  .cb-cta-link{
        flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    .link-bttn{
       text-transform: initial;
       text-decoration: none;
      &:after{
        content: unset!important;
      }
    }
    .VideoLink, .lnk, .card-link{
      text-transform: initial;
      text-decoration: none;
      &:after{
        content: unset!important;
      }
    }
  }
}
