@import "../base/variables";
@import "../base/transitions";
@import "main-nav.scss";
@import "../base/buttons";

@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import "../fontawesome/brands";

.col-title-img {
  color: $color-black;
  margin-bottom: 16px;
}

// -----------------------------------------------------------------------------
// normalize image card, video card and text card title spacing
// -----------------------------------------------------------------------------


.content-block .lnk {
  @include primary-button;

  @media screen and (min-width: 1980px) {
    font-size: 16px;
  }

  &:hover {
    @include primary-hover;
  }

  &:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.72 7.71567C10.9868 7.46165 10.9868 7.03828 10.72 6.78426L4.96968 1.28048C4.67327 1.02646 4.22866 1.02646 3.96189 1.28048L3.28015 1.92965C3.01339 2.18367 3.01339 2.60703 3.28015 2.88928L7.84484 7.23585L3.28015 11.6107C3.01339 11.8929 3.01339 12.3163 3.28015 12.5703L3.96189 13.2195C4.22866 13.4735 4.67327 13.4735 4.96968 13.2195L10.72 7.71567Z' fill='%23005C8A'/%3E%3C/svg%3E");
    height: 15px;
    width: 15px;
    display: inline-block;
    background-position: 2px 2px;
  }
}

.theme-content-block-bg {
  background-repeat: no-repeat;
  background-size: cover;

  .section-title {
    padding-top: 100px;
  }

  &.theme-content-block-imagedark {
    .section-title {
      color: $color-white;
    }

    .container {
      >p {
        color: $color-white;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .button {
      border: 1px solid $color-white !important;
      color: $color-white;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 1.8;
      padding: 6px 23px !important;

      &:after {
        content: unset !important;
      }

      &:hover {
        background-color: $color-white;
        color: $color-ocean-700 !important;
      }
    }
  }
}

.ContentCard-section {

  &:not(.theme-content-block-imagedark),
  &:not(.theme-content-block-dark) {
    .container {
      >p {
        text-align: center;
      }

      >.cb-cta-link {
        justify-content: center !important;

        .lnk {
          @include prime-style;
          @include primary-button;

          width: max-content;
          margin: 0 auto;

          &:after {
            content: unset !important;
          }
        }

      }
    }
  }

  &.theme-content-block-imagedark {
    .container {
      >.cb-cta-link .lnk {

        color: $color-white;
        padding: 6px 24px !important;
        width: max-content;
        margin: 0 auto;
        border: 1px solid $color-white !important;
        background-color: transparent !important;

        &:hover {
          color: #0091DA !important;
          background-color: $color-white !important;
        }

        &:after {
          content: unset !important;
        }
      }
    }
  }
}

#continue-learning {
  .section-title {
    color: #fff;
  }

  .content-block-title {
    color: #fff;
  }

  .featured-cards~.col>.row:nth-child(2) .card {
    margin-top: 20px;
  }

  .featured-cards {
    box-shadow: none;
    padding: 0;
  }

  .card {
    box-shadow: none;
    padding: 0;
  }

  .featured-cards {
    .lnk {
      border: 1px solid hsl(0, 0%, 100%) !important;
      color: hsl(0, 0%, 100%);
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 1.8;
      padding: 6px 23px !important;

      &:after {
        content: unset !important;
      }

      &:hover {
        border-color: $color-white;
        background-color: $color-white;
        color: $color-ocean-700;
      }
    }
  }

}

.theme-content-block-gray {
  background-color: #F7F7F7;
  padding: 100px 0 !important;

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}

.theme-content-block-dark {
  background-color: #192A33;
  padding: 100px 0 !important;

  .col-title-img {
    color: $color-white;
  }

  .section-title {
    color: $color-white;
  }

  .content-block-title {
    color: $color-white;
  }

  .container {
    >p {
      color: $color-white;
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}

.theme-content-block-blue {
  background-color: #1D428A;
  padding: 100px 0 !important;

  .section-title {
    color: $color-white;
  }

  .col-title-img {
    color: $color-white;
  }

  .container {
    >p {
      color: $color-white;
    }
  }

  .theme-card-cta-link {
    height: 100%;

    .card {
      height: 100%;
    }
  }
}



.ContentCard-section {
  .theme-card-dark {
    height: 100%;

    .card {
      height: 100%;
    }
  }

  .theme-card-cta-primary {
    .lnk {
      margin-bottom: 15px;
    }
  }
}



.HorizontalTab-section {
  padding: 100px 0 100px !important;
}


.brcmShare {
  .dropdown-item {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
  }
}

.theme-content-block-standard {
  .cb-cta-link {
    justify-content: center;
    margin-top: 30px;

    li:first-child {
      a {
        @include prime-style;
        font-size: 14px;
        border-radius: 3px;
        text-align: center;
        padding: 6px 24px !important;
        line-height: 1.5;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.2s ease;
        border: 1px solid transparent;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        color: $color-white;
        background: $color-ocean-700;

        &:hover {
          border-color: $color-ocean-700;
          background-color: $color-white;
          color: $color-ocean-700;
        }

        &:after {
          content: unset !important;
        }
      }
    }

    li:last-child {
      a {
        @include prime-style;
        font-size: 14px;
        border-radius: 3px;
        text-align: center;
        padding: 6px 24px !important;
        line-height: 1.5;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.2s ease;
        border: 1px solid transparent;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        border: 1px solid $color-ocean-700;
        color: $color-ocean-700;
        background: $color-white;

        &:hover {
          border-color: $color-white;
          color: $color-white;
          background: $color-ocean-700;
        }

        &:after {
          content: unset !important;
        }
      }
    }
  }
}

.ContentList-section{
  padding: 140px 0 70px !important;
}