/*
* components/footer.scss
*/
// react footer for all pages
// also contains styling for ONE-TRUST cookie widget

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#footer {
  position: relative;
  >.container{
    padding-top: 50px;
  }

  .container:before {
    content: "" !important;
    position: absolute !important;
    // margin-top: -36px !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    //height: 6px !important;
    //background-image: linear-gradient(to right, #6fbe2e 19%, #00bbd6 43%, #0f61a9 57%, #5a39a0 81%) !important;
    border: solid 3px $color-primary;
    top: -3px;
  }

  .container {

    img {
      max-width: 140px;
      width: 100%;
      height: 42px;
    }

    li {
      list-style: none;
    }

    .copyright-text {
      text-align: center;
      padding-top: 30px;
      border-top: 1px solid;
      margin-top: 40px;
    }

    .navbar-nav {
      .footer_menu {
        display: flex !important;
        justify-content: space-between !important;

        a {
          font-weight: 300 !important;


        }
      }

    }

    .footer-menu-section-title {
      margin-bottom: 20px;
      font-size: 26px;
      text-align: left;

      @include media-breakpoint-down(md) {
        text-align: center;
        margin-top: 36px;
      }
    }

    .footer-image-link {
      display: flex;
      justify-content: start;
      align-items: center;

      @include media-breakpoint-down(md) {
        justify-content: center;
        padding-bottom: 35px;

      }
    }

    .footer-menu-cols {
      .nav-item {
        margin-bottom: 20px;
        text-align: left;

        @include media-breakpoint-down(md) {
          text-align: center;
        }

        a {
          font-size: 14px;
          font-weight: 300;
          color: $color-black;
          margin: 0;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }

    .social-nav {
      padding-left: 40px;

      @include media-breakpoint-down(md) {
        padding-left: 0px;
        padding-top: 36px;
      }

      li {
        margin-bottom: 10px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          font-size: 14px;
          justify-content: start;
          text-transform: capitalize;
          @include media-breakpoint-down(md) {
            justify-content: center;
          }

          img {
            max-width: 15px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }

    .footer-secondary-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      padding-top: 30px;
      flex-direction: row;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      a {
        font-weight: 300;
        font-size: 15px;
        color: $color-black;
        text-transform: capitalize;
      }
    }

  }
  a {
    text-decoration: none;
  }
}