/*
* components/footer.scss
*/
// react footer for all pages
// also contains styling for ONE-TRUST cookie widget

@import "../base/variables";


#footer {
  margin-top: 100px;

  .container {

    img {
      max-width: 140px;
      width: 100%;
      height: 42px;
    }

    li {
      list-style: none;
    }

    .copyright-text {
      text-align: center;
      padding-top: 30px;
      border-top: 1px solid;
      margin-top: 40px;
    }

    .navbar-nav {
      .footer_menu {
        display: flex !important;
        justify-content: space-between !important;

        a {
          font-weight: 300 !important;
         
          
        }
      }

    }

    .footer-menu-section-title {
      margin-bottom: 20px;
      font-size: 26px;
    }
    

    .footer-menu-cols {
      .nav-item {
        margin-bottom: 20px;
        a{
          font-size: 14px;
          font-weight: 300;
          color: $color-black
        }
      }
    }

    .social-nav {
      padding-left: 40px;

      li {
        margin-bottom: 10px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          font-size: 14px;
         
          img {
            max-width: 15px;
            height: 24px;
          }
        }
      }
    }

    .footer-secondary-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      padding-top: 30px;

      a {
        font-weight: 300;
        font-size: 15px;
        color: $color-black;
      }
    }

  }
}