/*
* components/header-explore.scss
*/
// header (everything above the red line) for all pages

@import "../base/variables";
@import "../base/transitions";
@import "main-nav.scss";
@import "../base/buttons";

@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import "../fontawesome/brands";

#header-explore {
  height: $header-height;
  background-color: $color-white;
  border-bottom: 7px solid $color-ocean-600; //see note below about border line
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-family: $font-family--secondary;

  .navbar-brand {
    padding-top: 0;
  }

  .header_location {

    font-size: 13px; //???
    color: #565656;
    text-transform: uppercase;
    margin-left: 16px;
    display: block;

    p {
      margin: 0;
    }
  }

  .header_logo_wrapper {
    height: 39px;
  }

  .header-fadein {
    @include fadein(500ms); // Fade in the header drop downs.
  }

  .navMenu {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    max-width: none;
    position: relative;
    margin-top: 30px;

    .navbar {
      margin-left: 0 !important;
      flex-wrap: nowrap;
      height: 47px;
      //animation: 0.65s ease-out 0s 1 slideInFromLeft;
    }
  }

  .nav-skip:focus {
    // Accessibility. Show link on focus.
    position: absolute;
    top: 0;
  }

  .header-accessibility-statement {
    top: 0;
  }

  .header-accessibility-statement:focus-within {
    // Accessibility. Show content on focus.
    width: auto;
    height: auto;
    clip: auto;
    overflow: visible;
    white-space: normal;
  }

  nav.header_nav {
    padding: 0;
    height: 100%;
    display: block;
    margin-top: 30px;

    .row {
      flex-grow: 1;
    }

    .linkChevron {
      display: none;
    }
  }

  .secondary_nav {
    position: absolute;
    right: 0px;
    top: -70px;
    z-index: 10;
    padding: 2px 0px 10px 12px;
    display: flex;
    flex-direction: column;

    .secondary-nav-top {
      display: flex;
      /* margin-bottom: 14px; */
      justify-content:  flex-end;

      a.lnk,
      button {
        font-weight: 200;
        font-size: 14px;
        color: $color-indigo-500;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
      }

      /*       ul.login {
        margin-top: -11px;
      } */

      .headerlanguage,
      .login-wrap {
        display: block;
        font-size: $font-size-lg;
        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      .secondary-nav-database {
        position: absolute;
        top: -24px;
      }



      i {
        margin-left: 5px;
        color: $color-indigo-500;

        &:before {
          color: $color-indigo-500;
        }
      }

      .MainNavExploreItem a,
      .MainNavExploreItem button,
      .MainNavExploreItem .label {
        font-size: $font-size-md;
        color: $color-indigo-500;
        text-transform: inherit;
        font-weight: 200;
        text-decoration: none;
      }

      button {
        padding-left: 20px;

        i {
          margin-left: 6px;
          margin-bottom: 2px;
        }
      }

      .login .dropdown-toggle:after {
        content: none; // Remove our default icon and use font awesome.
      }

      .fa-chevron-right {
        transition: 0.2s ease-in-out;
      }

      .show {
        .fa-chevron-right {
          transition: 0.2s ease-in-out;
          transform: rotate(90deg);
        }
      }
    }

    .secondary-nav-cta {
      position: relative;
      margin-top: 18px;
      margin-left: auto;
      margin-right: 0;    // Align to the right.

      a {
        color: $color-white;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 200;
        font-size: $font-size-lg;
        display: table-cell;
        vertical-align: middle;
        /* text-transform: uppercase; */

        &:hover {
          color: $color-indigo-500;
        }
      }
    }

    .dropdown-toggle {
      padding: 0 10px 0 10px;
      padding-right: 0; //JD - Butt it up against the right.
      width: 100%;
      text-align: left;
      height: auto;

      &:after {
        position: absolute;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 10px;
        border-top: 5px solid $color-white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }

    .dropdown-menu {
      position: absolute !important;
      top: 20px !important;
      left: 20px !important;
      width: 100%;
      transform: none !important;
      border-radius: 0px;
      padding: 0 10px;

      .dropdown-item {
        border-bottom: 2px solid $color-grey--500;
        padding: 12px 15px 12px 25px;
        color: $color-grey--700;
        font-size: $font-size-md;
      }
    }

    .search-box {
      position: absolute;
      top: 33px;

      &.hide {
        display: none
      }
    }

    .typeahead.dropdown .bc-input {
      padding-right: 45px;
    }

    .header-typahead {

      input {
        min-width: 150px;
        height: 25px;
      }

      .input-group-append {
        position: absolute;
        right: 0px;

        button {
          height: 25px;

          &.search-bttn {
            width: 45px;

            .bi.brcmicon-search {
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }

      }

    }
  }

  #menuWindow {
    width: 100%;
    background-color: $color-white;
    padding-top: 30px;

    li.title,
    li.link {
      font-family: $font-family--secondary;
      font-size: 20px;
    }

    li.title {
      margin-bottom: 36px;

      p {
        font-size: 16px;
        font-family: inherit;
        line-height: 20px;
        margin-top: 8px;
      }

      p.hide {
        display: none
      }
    }

    li.link {
      padding: 16px 0 16px 16px;

      a {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }


  @media screen and (max-width: map-get($grid-breakpoints, md) - 1) {

    #header-explore {
      position: static;
    }

    nav.header_nav {
      margin-top: 10px;

      .MainNavExploreItem {
        width: 100%;
        display: flex;

        a,
        button,
        span.label {
          display: flex; //because for some reason this has display:block imposed by some browsers local agent
          width: 100%;
          justify-content: left;
          padding: 6px 0px;
          line-height: 1.5;
          font-weight: 400;
          /* text-transform: uppercase; */
        }

        #menuWindow ul li {
          border-bottom: none;
        }

      }

      .linkChevron {
        display: inline-block;
        margin-right: 20px;
        align-self: center;
      }
    }

    .navBrand {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      height: 83px;

      .menuButton {
        //mobile menu icon button
        text-align: center;
        z-index: 1;
        margin-top: 85px;

        button {
          //special case one off button
          background: transparent;
          border: none;
          padding: 0;
          font-size: 50px;
          color: $color-primary;

          &.closeOn {
            font-size: 30px;
          }

          span.bi {
            margin-left: 0; //mods .icon-bttn .bi  _buttons.scss
          }

          /* 					&::after{
						content: "MENU";
						display: block;
						font-size: 9px;
						font-weight: 600;
						color: $color-primary;
						padding-top: 3px;
					} */
          &+span {
            display: none;
          }
        }
      }

      .navbar-brand {
        width: 300px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
      }
    }

    .header_location {
      position: absolute;
      left: 25%;
      top: 47%
    }

    .navMenu {
      max-width: 320px;

      .navbar {
        height: unset;
      }

      .navbar-collapse {
        position: fixed; //absolute
        top: 151px;
        left: 0px; // 0px
        right: 0px;
        bottom: 0; // added
        padding: 0px;
        background-color: $background-color;
        z-index: 100;
      }

      .secondary_nav {
        padding: 2px 12px 10px;
        position: relative;
        right: unset;
        top: unset;
        display: flex;

        i {
          display: none;
        }

        .header-typahead .input-group-append {
          position: unset;
          right: unset;

          .button.search-bttn .bi.brcmicon-search {
            margin-left: 10px;
          }
        }

        .secondary-nav-top {
          flex-direction: column;

          button {
            padding-left: unset;
          }

          .search-box {
            position: relative;
            top: unset;
            border: 1px solid $color-grey--400;
            margin-bottom: 20px;
          }

          .secondary-nav-cta {
            position: relative;
            width: 90%;
            top: unset;
          }

          ul.login {
            margin-top: 0px;
          }
        }

        .headerlanguage,
        .login-wrap {
          display: block;
          background-color: transparent;
          border-bottom: none;
          color: $color-indigo-500;
          font-size: $font-size-md;
          position: relative;
          overflow: hidden;

          &:last-child {
            margin-bottom: 0px;
          }

          .dropdown-toggle {
            border-radius: 0; // mods icon-bttn _buttons.scss
            background-color: transparent;
            color: $color-indigo-500;
            padding: 0;
            justify-content: left;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 200;
            margin-left: 0.5rem;

            &:after {
              position: absolute;
              top: 50%;
              -moz-transform: translate(0, -50%);
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              right: 10px;
              border-top: 5px solid $color-white;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }
          }

          .dropdown-menu {
            position: relative !important;
            top: unset !important;
            left: unset !important;
            width: 100%;
            transform: none !important;
            border-radius: 0px;
            padding: 0 10px;
            margin-bottom: 10px;

            a.lnk {
              display: block;
            }

            .dropdown-item {
              border-bottom: 2px solid $color-grey--500;
              padding: 12px 15px 12px 25px;
              color: $color-grey--700;
              font-size: $font-size-md;
            }
          }
        }

        .login-wrap {
          font-family: $font-family--secondary;

          .dropdown-wrapper {
            padding: 15px;
            width: 240px;
            font-size: $font-size-md;

            .bttn,
            button {
              font-size: $font-size-md; //mods button, .bttn _button.scss
              margin-right: 0;
              margin-bottom: 10px;
            }

            .bttn.primary-bttn,
            button.primary-bttn {
              margin-right: 15px;
            }
          }
        }
      }
    }

    ul.navbar-nav {
      padding-left: 1rem;
      align-items: flex-start;

      li {
        padding: 15px 0;
        border-bottom: solid 1px $color-grey--400;
        width: 100%;
      }
    }

    #header-explore .navMenu .secondary_nav .login-wrap .dropdown-toggle {
      background-color: transparent;
      width: max-content;
    }
  }


}

//#header-explore