/*
* components/in-page-navigation.scss
*/
// Styling for broadcom custom in page navigation

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";

// -----------------------------------------------------------------------------
// InPageNavigation
//////////
.InPageNavigation-section {
    .content-block {
        margin-bottom: 0;
    }

    position: sticky;
    top: 0px;
    z-index: 20;
    background: $color-white;
    box-shadow: $shadow-2;

    .InPageNavigation {
        background-color: transparent;
        flex-wrap: wrap;

        .navbar-nav {
            border-bottom: 0;
            width: 100%;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;



            .nav-item {
                padding: 8px 20px;

                .lnk {
                    margin: 0 !important;
                    text-transform: capitalize !important;
                    font-size: 18px !important;
                    font-weight: 300 !important;

                    &:after {
                        content: unset !important;

                    }

                    &:hover {
                        text-decoration: none !important;
                    }
                }

                &.active {
                    border-bottom: 3px solid $color-primary;
                }
            }



        }
    }
}