/*
* components/multi-select-filter.scss
*/
// Styling for broadcom custom MultiSelectFilter

@import "../base/variables";
@import "../base/buttons";
@import "../components/card.scss";

// Fontawesome
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';


.multi-select-filter {
    .dropdown-container {
        display: flex;
    }

    .dropdown-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width:767px){
            flex-direction: column;
        }
    }

    .selected-container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    .keywords-tag {
        display: flex;
    }


    .dropdown-container {
        gap: 16px;
        
        
        .dropdown {
            flex: 1;

            &.show {
                // > button{
                //     color: $color-primary--dark;
                //     box-shadow: 0px 0px 4px 0px #0F7CB2;
                //     border: 1px solid $color-primary--dark;;
                // }
                .dropdown-caret {
                    @include fa-icon-solid($fa-var-chevron-right);
                    transition: 0.2s ease-in-out;
                    transform: rotate(90deg);
                }
            }

            button {

                @include secondary-button;
                width: 100%;
                text-align: left;
                display: inline-block;
                // padding-left: 10px;
                // padding-right: 30px;
                border-radius: 5px;
                border:  1px solid $color-grey--400;
                padding: 8px 30px 8px 16px;
                text-transform: none;
                background-color: $background-color;
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;

                // HACK: JD - we had to create a div for the carot vs adding as content. there are content: unset !importants overriding fontawesome.
                .dropdown-caret {
                    @include fa-icon-solid($fa-var-chevron-right);
                    transition: 0.2s ease-in-out;
                    //right: 8px;
                    position: absolute;
                    top: 15px;
                    right:10px;
                }


                &:hover {

                    @include secondary-hover;
                    color: $color-primary--dark;
                    background-color: $background-color;
                    .dropdown-caret {
                        color: $color-primary--dark;
                    }
                }

                &:active{
                    color: $color-primary--dark;
                    box-shadow: 0px 0px 4px 0px #0F7CB2;
                    border: 1px solid $color-primary--dark;
                    .dropdown-caret {
                        color: $color-primary--dark;
                    }
                }
                &:focus{
                    border: 1px solid $color-grey--400;
                    background-color: $background-color;
                    outline: 2px solid $color-primary;
                    outline-offset:3px;
                }


            }
        }

        .dropdown-menu {
            max-width: 100%;
            min-width: 151.42px;
            width: 100%;
            padding: 10px;
            max-height: 190px;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 0;
            @media (max-width:767px){
                max-width: 75%;
            }

            &::-webkit-scrollbar {
                height: 8px;
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 0px;
                background-color: #DFE9EB;
            }

            &::-webkit-scrollbar-track:hover {
                background-color: #B8C0C2;
            }

            &::-webkit-scrollbar-track:active {
                background-color: #B8C0C2;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0px;
                background-color: #555555;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #555555;
            }

            &::-webkit-scrollbar-thumb:active {
                background-color: #555555;
            }

            button {
                padding: 0;
                border: none;
                height: auto;

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 300;
                    text-wrap: initial;
                    padding-bottom: 10px;
                    white-space: normal;
                }
            }
        }


    }

    .selected-container {
        gap: 10px;

        .keywords-tag {
            height: 30px;
            background: $color-primary;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            border-radius: 100px;
            padding: 5px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;


            .close-button {
                height: 30px;
                width: auto;
                padding: 0;
                border-radius: 0;
                background: transparent;
                border: none;

                &:hover {
                    border: none;
                }

            }

        }
    }

    .clear-btn {
        background: transparent;
        border: none;
        padding: 0;
        color: #294d8c;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        text-transform: capitalize;
        font-weight: 300;
        text-decoration: underline;
    }
}