/*
* components/testimonial.scss
*/
// Styling for broadcom custom testimonial

@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/icons";
@import "../base/buttons";



.TestimonialCard,
.TestimonialHorizontalCard {
	border: 0;

	.card-body {
		padding: 50px 60px;
	}

	.quote {
		font-size: 32px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 20px;
		position: relative;

		&:before {
			content: "\201C";
		}

		&:after {
			content: "\201D";
		}

		>* {
			display: contents;
		}

	}

	.signature,
	.source {
		font-size: 18px;
		line-height: 24px;
		font-style: italic;
		text-align: center;
	}

	.quote-image img {
		display: block;
		margin: auto;

	}

}

.Testimonial-section {
	.TestimonialCard {
		box-shadow: none !important;

		.cb-cta-link {
		  align-items: flex-start;

		  .lnk {
			@include cta-link-style;

			&:hover {
			  background: transparent;
			  color: $color-primary;
			  text-decoration: underline;
			  text-decoration-line: underline;
			  text-underline-offset: 3px;
			  text-decoration-thickness: 2px;
			  border: 0;

			}

			&:after {
			  @include cta-link-after;
			}
		  }
		}
	  }
	.cb-cta-link {
		justify-content: center;
		margin-top: 30px;

		li:first-child {
			a {
				@extend .bttn;
				@include primary-button;

				&:hover {
					@include primary-hover;
				}

				@media screen and (min-width: 1980px) {
					font-size: 16px;
				}
			}
		}
	}
}

