/*
* components/testimonial.scss
*/
// Styling for broadcom custom testimonial

@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/icons";




.TestimonialCard, .TestimonialHorizontalCard {
	border: 0;
	.card-body {
		padding: 50px 60px;
	}
	.quote {
		font-size: 32px;
		line-height: 42px;
		text-align: center;
		margin-bottom: 20px;
		position: relative;
		&:before {
			content: "\201C";
		}
		&:after {
			content: "\201D";
		}
		> * {
			display: contents;
		}
		
	}
	.signature, .source{
       font-size: 18px;
	   line-height: 24px;
	   font-style: italic;
	   text-align: center;
	}
    
	.quote-image img {
		display: block;
  		margin: auto;

	}
	
}

.Testimonial-section{
	.cb-cta-link {
	  justify-content: center;
	  margin-top: 30px;
  
	  li:first-child {
		a {
		  @include prime-style;
		  font-size: 14px;
		  border-radius: 3px;
		  text-align: center;
		  padding: 6px 24px !important;
		  line-height: 1.5;
		  font-weight: 400;
		  text-transform: uppercase;
		  transition: all 0.2s ease;
		  border: 1px solid transparent;
		  height: 45px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  width: max-content;
		  color: $color-white;
		  background: $color-ocean-700;
  
		  &:hover {
			border-color: $color-ocean-700;
			background-color: $color-white;
			color: $color-ocean-700;
		  }
  
		  &:after {
			content: unset !important;
		  }
		}
	  }
	}
  }