/*
* components/type-ahead.scss
*/
// input-group-append has several versions/modifiers in header and other search inputs

@import "../base/variables";

.typeahead.dropdown{
    .input-group-append{
      font-family: $font-family--primary;
      position: relative;
    }
    .bc-input{
      padding-right: 50px;
      font-size: $font-size-sm;
    }
  
    .dropdown-menu{
      max-height: 300px;
      overflow-y: auto;
      width: 100%;
      font-size: $font-size-xs;
      color: $color-secondary;
      padding: 0;
      margin: 1px 0 0 0;
      border: 1px solid $color-grey--500;
      border-radius: 4px;
      .dropdown-item{
        line-height: 1.4;
        padding: 10px;
        //font-weight: 600;
       // color: currentColor;
       color:$color-primary;
        white-space: normal;
        font-size: $font-size-xs;
        text-decoration: none;
        text-wrap: balance;
        text-transform: capitalize;
        font-weight: 300;
        // &:not(:last-of-type){
        //   border-bottom: 1px solid $color-grey--500;
        // }
        &:hover{
          // background-color: $color-grey--500;
          // color: $color-grey--900;
          color: $color-white;
          background: $color-primary;
          text-decoration: none;
        }
      }
    }
  
    .bc--dropdown-lg &{
      .bc-input{
        height: 35px;
      }
      button.search-bttn {
        background-color: $color-white;
        .brcmicon-search{
          margin-left: 0;
          color:$color-primary;
          font-size:1.5rem;
        }
      }
      button.clear-bttn{
        height: 35px;
      }
    }
    
    form{
      border: 1px solid $color-grey--600;
    }
    
  }

  // Search box specific. Broadcom has a backgroun to its search box, let's remove it.
  .bc--bg_gray500 {
    &.search-box {
      background-color: transparent;
    }
  }
