/*
* pages/atoz.scss
*/
// stylings for GlossaryAtoZ, TechdocsAtoZ

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";

#AtoZ {

    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    .nav-link {
        //padding: 5px 10px;
        margin: 2px;
        color: $color-black;
        font-weight: 300;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 18px;
        padding-right:10px
    }

    .nav-link.disabled {
        color: $color-grey--400;
        cursor: default;
    }
   

    .content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        
        .letter-section {
   
            display: grid;
            grid-template-columns: 1fr repeat(1, 4fr);

            .lnk {
             text-decoration: none;
             font-weight: 300;
           
             &:hover {
                text-decoration: underline;
                text-decoration-line: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 2px;
                color:$color-link-hover;
            }
            .alphabet {
                font-size: 25px;
                color: $color-black;
            }
        }
        }
         
        ul {
            display: grid;
         
            grid-template-columns: repeat(3, 1fr);
           
            justify-content: space-around;
            width: 100%;

            li {
                width: 100%;
            }
        }
    }

    ul {
        list-style: none;
    }

    li {
        padding: 5px 0;
    }
  

    /* Smooth scroll */
    // html {
    //     scroll-behavior: smooth;
    // }

    html,
    body {
        scroll-behavior: smooth;
        /* Ensures smooth scroll is enabled */
        // overflow-x: hidden; /* Prevents horizontal scroll */
        // height: 100%; /* Full height might be necessary depending on layout */
        overflow: auto;
        height: 100%;
    }



}