/*
* pages/case-study-landing.scss
*/
// there is a broadcom version: case-study-landing.scss
// this mods the existing casestudyLanding css which uses case-study-landing, content-blocks, and download-search

@import "../base/variables";

#CaseStudyLanding {

    #subhead-title {
        margin-top: 50px;
        margin-bottom: 0px;

        .SubHeadTitle h1 {
            font-size: 25px;
        }
    }

    .ContentCard {
        .theme-card-standard, .theme-card-blue {
            height: 100%;

            .card {
                height: 100%;
            }
        }
    }

    .CaseCard.card {
        height: 100%;

        .card-body .card-title {
            font-size: 25px;
            font-weight: 400;
        }

        .card-footer {
            font-size: $font-size-lg;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    
    .section-highlight {
        background-color: $background-light-blue;
        margin-bottom: 40px;

        .body-description {
            text-align: center;
        }

        #subhead-title .SubHeadTitle {
            section {
                justify-content: center !important;
            }
            h1 {
                font-size: 40px;
            }
        }

    }
    .result-page {


        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-top:20px;

        .results-info {

            flex-grow: 1;
        }
       


        .results-dropdown {
            padding: 5px;
            margin-left: 5px;
            // display: inline-block;
            margin-left: 10px;
            select{
                border:0;
                outline:0;
                color:$color-primary;
                background-color: transparent;
            }
        }
    }

    .pagination-section {
        margin-top: 20px;
        margin-bottom: 20px;

        .pagination {
            justify-content: center;

            .page-link {
                color: $color-primary;
                font-size: 1.125rem;
                border: 0;

                &:hover {
                    background-color: $background-color;
                }
            }

            [aria-label="Previous"] span {
                content: "\f053";
                font-family: 'Font Awesome 6 Free';
            }

            [aria-label="Next"] span {
                content: "\f054";
                font-family: 'Font Awesome 6 Free';
            }

            .page-item.active .page-link {
                background-color: $background-color;
                color: $color-grey--700;
            }
        }
    }

    .search-more button {
        margin: 0 auto;
    }

    .search-cases {
        background-color: $color-white;

        .selectdownloadproduct {
            button {
                border: 1px solid $color-grey--300;

                span {
                    content: "" !important;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.72 7.71567C10.9868 7.46165 10.9868 7.03828 10.72 6.78426L4.96968 1.28048C4.67327 1.02646 4.22866 1.02646 3.96189 1.28048L3.28015 1.92965C3.01339 2.18367 3.01339 2.60703 3.28015 2.88928L7.84484 7.23585L3.28015 11.6107C3.01339 11.8929 3.01339 12.3163 3.28015 12.5703L3.96189 13.2195C4.22866 13.4735 4.67327 13.4735 4.96968 13.2195L10.72 7.71567Z' fill='%23005C8A'/%3E%3C/svg%3E");
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    background-position: 2px 2px;
                    margin-top: -5px !important;
                    margin-left: 5px !important;
                }
            }
        }

        .search-box {
            display: none;
        }

        #top {
            float: left;
        }
    }

}
