/*
* pages/event-landing.scss
*/
// VMware's live broadcast for events.

@import "../base/variables";
@import "../base/buttons";
@import "~bootstrap/scss/mixins/breakpoints";

#EventLanding {

    @include media-breakpoint-up(lg) {
        .top-banner {

            div[role="banner"] {
                margin-top: 0; // Remove our negative margin due to hiding breadcrumbs.
            }



        }
    }



    .section {
        margin-top: 40px; // Margin below banner and above first section
    }

    // -----------------------------
    // Pre
    // -----------------------------
    .event-live-pre {

        @include media-breakpoint-up(lg) {
            .banner-caption-container {
                // Override our global.
                top: 50%;
                transform: translate(0, -50%);
                // justify-content: start;
                // top: 20px;
            }

            .carousel-inner .size-large .caption {
                max-width: 55%;
            }

            // HACK: We must resize
            .carousel-inner .size-large .caption {
                h1 {
                    padding-top: 0;
                }

                .teaser {
                    margin: 0;
                }
            }

        }

        @include media-breakpoint-only(lg) {
            .banner-caption-container {
                // Override our global.
                position: relative;
                transform: translate(0, 0);
                margin-top: 20px;

                // copied from home-hero.scss
                .banner-cta-wrapper {
                    .banner-cta-links {
                        >div {
                            >p {
                                display: block;
                            }
                        }

                        .lnk {
                            width: max-content;
                            text-transform: uppercase;
                            background-color: $color-primary;
                            border: 1px solid $color-primary;
                            color: $color-white;

                            &:hover {

                                text-decoration: none;
                                background-color: $color-white;
                                border: 1px solid $color-primary;
                                color: $color-primary;
                                text-decoration: none;
                            }

                        }
                    }
                }

                .caption {
                    max-width: 100%;
                    margin-top: 20px;

                    h1,
                    h2,
                    div {
                        color: $color-body;
                    }
                }
            }
        }

        .banner-caption-card {
            .event-live-pre-timer {

                background-color: $color-white;
                color: $color-body;

                .event-live-pre-timer-image {

                    img {
                        height: auto;;
                    }

                    // Image is way to big in tablet.
                    @include media-breakpoint-only(md) {
                        max-width: 75%;
                        margin: auto;
                    }
                }

                .event-live-pre-timer-body {
                    @include media-breakpoint-up(lg) {
                        padding: 40px;
                    }

                    .event-live-pre-timer-title {
                        margin-bottom: 10px;
                    }

                    text-align: center;

                    .timer {
                        display: flex;
                        justify-content: center;
                        gap: 8px;
                    }

                }

                .time {
                    font-size: 40px;
                }
            }
        }
    }

    // -----------------------------
    // Live
    // -----------------------------

    .event-live-live {
        &.hide-content {
            visibility: hidden; // Hide our content while we check if the video is valid.
        }

        .event-live-player {
            position: relative;
            overflow: hidden; // Hide our banner


            .event-live-player-background {
                position: absolute;
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    height: auto;
                }
            }

            .event-live-player-body {
                padding: 100px 0;
                position: relative;
                color: $color-white;

                .live-title {
                    text-align: center;
                }

                .live-video-caption {
                    text-align: center;
                    font-size: $font-size-sm;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding: 0 20%;
                }

            }

        }

        .hide-player {
            // Hide the player visually but it needs to appear in the dom font-synthesis-small-caps: ;
            visibility: hidden;
            height: 0;
        }
    }

    // -----------------------------
    // Post
    // -----------------------------
}