 /*
* pages/explore-search-videos.scss
*/


 @import "../base/variables";

 .dropdown-container {
   display: flex;
 }

 .year-container {
   display: flex;
 }

 .dropdown-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
 }

 .selected-container {
   display: flex;
   // justify-content: space-between;
 }

 .keywords-tag {
   display: flex;
 }

 .video-panel {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   @media (max-width: 989px) {
          grid-template-columns: repeat(3, 1fr);
   }
   @media (max-width: 805px) {
          grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
   }
 }

 // .load-button{
 // }

 .filter-options {
   margin-bottom: 20px;
 }

 .filter-options button {
   margin-right: 10px;
   padding: 10px;
   background-color: #efefef;
   border: 1px solid #ddd;
   cursor: pointer;
 }

 .filter-options button:hover {
   background-color: #ddd;
 }

 #ExploreSearchVideos {
   .page-title {
     font-size: 25px;
     line-height: 33px;
     color: #000;
   }

   .search-bar {
     max-width: 100%;
     width: 100%;
     height: 41px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     border-radius: 4px;
     border: 1px solid #999;
     background-color: #fff;

     margin: 16px 0;
     gap: 10px;
     padding: 6px 12px 6px 20px;

     input {
       width: 100%;
       font-weight: 300;
       font-size: 18px;
       color: #565656;
       border: none;
       outline: none;
     }
   }

   .title-style {
     font-size: 18px;
     color: #565656;

     display: block;
     margin-bottom: 15px;
   }

   .year-container {
     display: flex;
     align-items: center;
     gap: 10px;

     .year-btn {
       font-size: 18px;
       font-weight: 300;
       border: 1px solid $color-ocean-700;
       color: $color-ocean-700;
       background-color: #fff;

       &:hover {
         background-color: #fff;
         color: $color-ocean-700;
       }

       &.year-btn-active {
         background-color: $color-ocean-700;
         color: #fff;
       }
     }

   }

   .dropdown-container {
     gap: 16px;


     .dropdown {
       flex: 1;

       button {


         background-color: #fff;
         border: 1px solid #c6c6c7;
         border-radius: 5px;
         color: $color-ocean-700;
         font-weight: 300;
         padding: 10px;
         font-size: 18px;
         text-transform: capitalize;
         width: 100%;

         &:hover {

           color: #0091da;
         }


       }
     }

     .dropdown-menu {
       max-width: 151.42px;
       min-width: 151.42px;
       width: 100%;
       padding: 10px;
       max-height: 190px;
       overflow-y: auto;
       overflow-x: hidden;
       border-radius: 0;

       &::-webkit-scrollbar {
         height: 8px;
         width: 8px;
       }

       &::-webkit-scrollbar-track {
         border-radius: 0px;
         background-color: #DFE9EB;
       }

       &::-webkit-scrollbar-track:hover {
         background-color: #B8C0C2;
       }

       &::-webkit-scrollbar-track:active {
         background-color: #B8C0C2;
       }

       &::-webkit-scrollbar-thumb {
         border-radius: 0px;
         background-color: #555555;
       }

       &::-webkit-scrollbar-thumb:hover {
         background-color: #555555;
       }

       &::-webkit-scrollbar-thumb:active {
         background-color: #555555;
       }

       button {
         padding: 0;
         border: none;
         height: auto;

         label {
           display: flex;
           align-items: center;
           gap: 10px;
           font-weight: 300;
           text-wrap: initial;
           padding-bottom: 10px;
         }
       }
     }


   }

   .selected-container {
     gap: 10px;

     .keywords-tag {
       height: 30px;
       background: $color-ocean-700 ;
       color: #fff;
       font-size: 14px;
       font-weight: 300;
       border-radius: 100px;
       padding: 5px;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 5px;


       .close-button {
         height: 30px;
         width: auto;
         padding: 0;
         border-radius: 0;
         background: transparent;
         border: none;

         &:hover {
           border: none;
         }

       }

     }
   }

   .clear-btn {
     background: transparent;
     border: none;
     padding: 0;
     color: #294d8c;
     font-size: 16px;
     cursor: pointer;
     display: inline-block;
     height: 30px;
     text-transform: capitalize;
     font-weight: 300;
     text-decoration: underline;
   }

   .videoresult-container {
     .video-search-result-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0;
       .video-count {
         font-size: 25px;
         color: #565656;
       }
       .sort-btn-group{
        display: flex;
        align-items: center;
        gap: 10px;
        .dropdown{
          // max-width: 158px;
          // width: 100%;
        }
        .sort-by{
          font-weight: 300;
          font-size: 14px;
        }
        .sort-btn{
          background-color: #fff;
         border: 1px solid #c6c6c7;
         border-radius: 5px;
         color: $color-ocean-700;
         font-weight: 300;
         padding: 10px;
         font-size: 18px;
         text-transform: capitalize;
         width: 100%;
         max-width: 150px;
         width: 100%;

         &:hover {

           color: #0091da;
         }
        }
        .sort-pop-up{

          width: 100%;
          button{
            &:hover {
              border: none;
            }
          }
        }
       }
     }
   }
 }

 .VideoCard {
  border: none;
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
    .video-thumbnail-link {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;

    }

    .card-body {
        padding: 0;
    }

    .video-thumbnail {
        display: block;
        max-width: 275px;
        width: 100%;
        height: 160px;
            object-fit: cover;
    }

    .play-button {
        position: absolute;
        display: none;
        background: #1d428a no-repeat scroll center center;
        max-width: 80px;
        width: 100%;
        height: 50px;
        left: 8px;
        bottom: 8px;
        right: 0;
        z-index: 2;
        border-radius: 3px;
        align-items: center;
        justify-content: center;

        &:after {
            max-width: 24px;
            width: 100%;
            height: 24px;
            content: " ";
            position: absolute;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M19.376 12.4161L8.77735 19.4818C8.54759 19.635 8.23715 19.5729 8.08397 19.3432C8.02922 19.261 8 19.1645 8 19.0658V4.93433C8 4.65818 8.22386 4.43433 8.5 4.43433C8.59871 4.43433 8.69522 4.46355 8.77735 4.5183L19.376 11.584C19.6057 11.7372 19.6678 12.0477 19.5146 12.2774C19.478 12.3323 19.4309 12.3795 19.376 12.4161Z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: cover;
        }

    }

    .video-duration {
        position: absolute;
        background-color: $color-ocean-700;
        color: #fff;
        display: block;
        font-weight: 300;
        bottom: 10px;
        right: 20px;
        padding: 5px;
        border-radius: 3px;
        font-size: 12px;
    }

    .video-thumbnail-link:hover .play-button {
        display: flex;

    }

    .video-info {
            margin:0px;
            margin-top: 10px;

        .video-name-data {
            margin: 0;
            span {
                font-size: 14px;
                font-weight: 300;
                margin: 0;
                display: inline-block;
                text-align: left;
                color: $color-grey--650;
                &:hover {
                    text-decoration: underline;
                    text-decoration-line: underline;
                    text-underline-offset: 2px;
                    text-decoration-thickness: 2px;
                }
            }
        }

        .card-video-title {
            margin: 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-decoration-line: underline;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
            }
            h5 {
                font-size: 18px;
                padding: 10px 0;
                text-transform: capitalize;
                 text-decoration: none;
            }
        }

        .card-video-des {
            font-size: 14px;
            color: $color-black;

        }

    }


}

.load-button{
  margin: 40px auto;
}

.video-top-search-container{
  padding: 24px 0;
    box-shadow: 0 8px 16px rgba(17,69,134,0.12);
    background-color: #F4F8FA;
    position: sticky;
    z-index: 10;
    top: 0;
}