/**
 *  @file glossary-detail.scss
 *  style for glossary detail page for vmware
 *
 */
@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/icons";

#GlossaryDetail {
  .side-inpage-content {
    padding-right: 80px;

    @media (max-width:767px) {
      padding-right: 0;
    }
  }
   .bc-breadcrumbs{
    position: relative !important;
   }
  .page-title {
    font-size: 32px;
    color: $color-black;
  }


  .glossary-section-title, h2 {
    font-size: 32px;
    color: $color-black;
    margin: 30px 0 16px 0;

  }

  // Our fake page title.
  .glossary-page-title {
    @extend .glossary-section-title;

  }

  .glossary-module-text {
    ul {
      padding-left: 20px
    }
  }

  .glossary-module-card {

    margin: 30px 0;

    @media (max-width:767px) {
      >.row {
            flex-direction: column !important;
        .col {
          margin-bottom: 30px;
        }
      }
    }

    .ImageCard {
      height: 100%;

      .card-body {
        padding: 0;


        .card-title {
          font-size: 20px;
          color: $color-black;
          text-align: center;
          margin-bottom: 0 !important;
          line-height: 1.2;
          font-weight: 300;

        }

      }

      .card-footer {

        .cb-cta-link {
          justify-content: center
        }
        .link-bttn{
          @extend .bttn;
            @include primary-button;
                padding: 6px 24px;
            &:hover {
              @include primary-hover;

            }
         }
         .lnk,
         .card-link {
          @extend .bttn;
          @include primary-button;
        }
      }
    }


  }


  .glossary-module-recommended {

    margin-top: 30px;
    @include horizontal-rule;


    >.row {
      padding: 30px;

      >.col {
        padding-right: 30px;
        padding-left: 30px;

        .lnk {
          font-weight: 300;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            text-decoration-line: underline;
            text-underline-offset: 3px;
            text-decoration-thickness: 2px;
          }
        }
      }
    }

  }

  .glossary-detail-related {
    margin: 60px 0 0;
    padding: 40px 0 100px 0;
    background-color: $background-light-gray;
    .glossary-detail-module{
      .ProductCard {




  >div {



    >div {
      &:first-child {


        img {

 object-fit: contain;
        }
      }


    }
  }

  &.LeftImageCard {
    >div {
      >div {
        &:first-child {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }

  &.RightImageCard {
    >div {
      >div {
        &:first-child {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
    }
  }

  .glossary-module-related {

    >h3 {
      padding: 30px 15px;
      font-size: 32px;
      color: $color-black;
      font-weight: 300;
    }
    .ProductCard,.card{
      padding: 10px;
    }

  }
}
