/*
* pages/products.scss
*/
// styling for product family, product details pages

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../components/content-blocks";
@import "../base/link";
@import "../components/document-box";
@import "../components/resources-widget";
@import "../components/read-more";
@import "../base/table";




.product-item{
	//border: 1px solid $color-border;
	display: flex;
	padding: 10px;
	//margin-bottom: 25px;
	height: 100%;
	box-shadow: $shadow-1;
	

	.product-image{
		width: 100px;
		padding: 10px;
		//border-right: 1px solid $color-border;
		background:$color-white;
	}
	.product-content{
		padding: 10px;
		flex: 1;
	
		
		a {
			margin-bottom: 10px;
			text-decoration: none;
			font-size: 20px;
		}
	}
}


.documentation-card{
	border-radius: 0;
	&:hover{
	 background-color: $color-grey--500;
	}

	.card-head{
		color: $color-secondary;
		font-family: $font-family--secondary;
		padding: 10px 0;
		cursor: pointer;
		font-weight: 500;
		

		.badge{
			margin-left: 5px;
			width: 40px;
			background-color: $color-grey--700;
			padding: 3px;
			line-height: 16px;
			border-radius: 4px;
		}
		.brcmicon-info-circle{
			font-size: $font-size-lg + 2;
			color: $color-primary;
			vertical-align: middle;
			margin-left: 5px;
		}
	}

	//.create-btn removed - replaced by icon-bttn

	.documentation-col-1{
		width: 55%;
	}
	.documentation-col-2{
		width: 15%;
	}
	.documentation-col-3{
		width: 15%;
	}
	.documentation-col-4{
		width: 15%;
	}
	.card-body{
		padding: 10px 15px;
	}
}


 

// Document table Support 

#ProductDetail {
	
	hr.border-top {
		margin-bottom: 25px;
		margin-top: 10px;
		color:$color-grey--600;
	}
	.sub-page-title {	//not subheader - page specific subtitle to main title
		font-weight: 500;
		font-size: 18px;
		font-family: $font-family--secondary;
	   }
	

	.product-lifecycle-wrapper {
		background-color: $color-grey--500;
		padding: 1rem 2rem;

	}

	.upgraded-products, .replacement-products {
		display: flex;
		flex-wrap: wrap;
		.product-item {
			border: 1px solid $color-grey--600;
			background-color: $color-grey--500;
			height: 100%;
			.product-image {
				padding: 0;
				.img-thumbnail {
					border-radius: 0;
					border: 0;
				}
			}
			.product-content {
				padding: 15px!important;
				a{
					font-size: 14px!important;					//mods link.scss
					}
			}
		}
	}
	
	.optional-products
	{
		.product-item {
		background:none;
		border:1px solid $color-grey--600;
	    padding:0!important;	
		}
		.product-content {
			background:none;
			padding:15px;
		
		}
		.product-image {
			border-right:1px solid $color-grey--600;
			
		}
	}
	
}




@media screen and (max-width: 1024px){
	.compare-action-col{
		width: 100%;
		flex: 0 0 100%;
		flex-grow: auto;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 1020px){
	.documentation-card{
		.table-custom{
			thead{display: none;}
			tbody{
				tr{
					width: 100%;
					float: left;
					border-bottom: 1px solid $color-grey--500;
					.documentation-col-1{
						width: 100%;
						display: block;
						.file-size, .file-language{
							display: -webkit-box;       
							display: -moz-box;         
							display: -ms-flexbox;       
							display: -webkit-flex;      
							display: flex;
							align-items: center !important;
							-webkit-align-items: center !important;
						 
							margin-top: 10px;
						}
					}
					.documentation-short{
						width:auto;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px){
	.product-details {
		.product-image-wrap{
			min-height: 0;
		}
	}
}
@media screen and (max-width: 768px){
	.compare-row{
		.col:not(.compare-action-col){
			flex: 0 0 50%;
		}
	}
}
@media screen and (max-width: 575px){
	.gray-filter-box{
		.col{
			flex: 0 0 100%;

			&.toggle-btn-wrap{
				padding-top: 10px;

				.text-right{
					text-align: left !important;
				}
			}
		}
	}
	.toggle-btn-wrap{
		.text-right{
			text-align: left !important;
		}
	}
	.product-features-row{
		display: block;

		.col{
			margin-bottom: 15px;
		}
	}
}

