/*
* pages/vmmark-landing.scss
*/

@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/buttons";
// Fontawesome
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';

#VMmarkLanding {

    h1 {
        font-size: 40px;
        line-height: 52px;
        color: $color-black;
    }

    .top-scores {
        margin-bottom: 40px;
    }

    // .container {
    //     font-family: Arial, sans-serif;
    // }

    // .tabs {
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 10px;
    //     background-color: #f1f1f1;
    //     border-bottom: 2px solid #ccc;
    // }

    // .tab {
    //     padding: 10px;
    //     cursor: pointer;
    // }

    // .tab.active {
    //     border-bottom: 3px solid blue;
    // }

    .nav-tabs {
        border-bottom: 0;
        // width: fit-content;
        justify-content: center;
        width: 100%;

        li {
            margin-right: 0px;
            padding: 0;
            position: relative;

            a {
                line-height: 1.9;
                display: inline-block;
                padding: 5px 30px;
                position: relative;
                border: 0;
                border-bottom: 1px solid $color-grey--700;
                margin: 0px 0px;
                text-transform: capitalize;
                text-decoration: none;
                font-weight: 300;

                &.active {
                    border-bottom: 3px solid $color-primary;
                    color: $color-primary;
                }

                &:hover {
                    color: $color-primary;
                    text-decoration: none !important;
                    border: 0 !important;
                    border-bottom: 3px solid $color-primary !important;
                    cursor: pointer;
                }
            }

            // &::after{
            //     content:none;
            // }
        }

    }

    .content {
        // padding: 20px;
        background-color: $background-color;
        min-height: 200px;
    }

    //for top scores

    .card-container {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // padding: 20px;
        // background-color: #fff;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        //         display: grid;
        //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // gap: 16px;
        /* Adjust the gap between cards as needed */
        //   padding: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;

        @media (max-width:991px) {
            grid-template-columns: auto;


            .main-card:nth-child(3n+1) {
                order: 1;
            }

            .main-card:nth-child(3n+2) {
                order: 2;
            }

            .main-card:nth-child(3n) {
                order: 3;
            }
        }


        .main-card {
            // background-color: white;
            background-color: $color-primary;
            // box-shadow: $shadow-5;

            // width: 100%;
            // margin: 5px;
            padding: 10px 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &:hover {
                background-color: $color-secondary;

                .lnk {
                    text-decoration: none;

                    .card-button {
                        // text-transform: none;

                    }
                }
            }

            .card-title {
                // background-color: #71a3d9;
                color: $color-white;
                // padding: 10px;
                font-size: 18px;
                text-align: left;
                display: flex;
                justify-content: space-between;
                margin-bottom: 0;

                h4 {
                    line-height: 26px;
                    font-size: 18px;
                    font-weight: 500;
                }

                div {
                    display: flex;
                    align-items: flex-start;
                }

                .info-popover {
                    button {
                        padding: 5px;
                        height: auto;
                    }
                }

                button {
                    padding: 3px 0px;
                    height: auto;
                }
            }

            .card-subtitle {
                color: $color-grey--200;
                font-style: italic;
                font-weight: 300;
                padding-top: 4px;
            }

            .icon-bttn {
                .brcmicon-info-circle {
                    &:before {
                        color: $color-white;
                    }
                }
            }

            .lnk {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                flex: 1;

                &:hover {
                    text-decoration: none;
                }
            }

            .card-button {
                color: $color-white;
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 12px;
                font-size: $font-size-md;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    border: none;
                    text-decoration: underline;
                }


            }

            .table {
                margin-top: 10px;
                margin-bottom: 10px;

                th {
                    padding: 2px 10px 2px 0px !important;

                    font-size: 16px;
                    text-align: left;
                    font-weight: 400;
                    color: $color-white;
                    // &:first-child{
                    //     width:30%;
                    // }

                }

                td {
                    padding: 2px 10px 2px 0px !important;
                    box-shadow: none !important;
                    // width:30%;
                    vertical-align: top !important;
                    color: $color-white !important;
                }

                tbody {
                    tr {
                        &:nth-child(odd) {
                            background: transparent !important;
                        }

                        &:nth-child(even) {
                            background: transparent !important;
                        }
                    }
                }
            }
        }
    }

    // .card {
    //     width: 300px;
    //     margin: 10px;
    //     background-color: white;
    //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    //     border-radius: 5px;
    //     overflow: hidden;
    //     //         background-color: #fff;
    //     //   border: 1px solid #ddd;
    //     //   border-radius: 8px;
    //     //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    //     //   padding: 16px; /* Adjust the padding inside each card as needed */
    //     //   display: flex;
    //     //   flex-direction: column;
    // }



    .card-content {
        padding: 20px;
        line-height: 1.5;
        font-size: 14px;
    }





    // .view-all {
    //     display: block;
    //     width: 100%;
    //     padding: 10px;
    //     background-color: #007bff;
    //     color: white;
    //     border: none;
    //     cursor: pointer;
    //     text-align: center;
    // }

    //spotlight
    .spotlight-card {
        background: $color-secondary;
        padding: 10px 20px 20px 20px;
        margin: 20px;
        border-radius: 0;
        // box-shadow: $shadow-5
    }

    .spotlight-title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $color-white;
    }

    .spotlight-item {
        @include media-breakpoint-up(lg) {
            display: flex;
            margin-bottom: 5px;
        }

        color: $color-white;

        // margin-bottom: 10px;
        a {
            text-decoration: none;
        }

        td {
            box-shadow: none !important;
            vertical-align: top !important;
        }
    }

    .spotlight-date {
        font-size: 16px;
        color: $color-white;
        width: 115px;
        font-weight: 500;
        flex: 0 0 115px;
    }

    .spotlight-description {
        font-size: 16px;
        color: $color-white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    //for other results
    .related-vmmark-results {
        background-color: $background-light-blue;
        margin-top: 30px;

        h3 {
            padding: 20px;
        }
    }

    // .card-row {
    //     // display: flex;
    //     // justify-content: space-between;
    //     /* Spreads the cards evenly across the row */
    //     padding: 0 20px 30px 20px;
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     gap: 20px;

    //     @media (max-width:767px) {
    //         grid-template-columns: auto;
    //     }
    // }

    // .card {
    //     // width: 30%;
    //     /* Each card takes up roughly one-third of the container's width */
    //     padding: 20px;
    //     box-shadow: $shadow-5;
    //     background-color: $background-color;

    //     border-radius: 5px;
    //     margin: 10px;
    //     // padding-bottom: 40px;

    //     a{
    //         text-decoration: none;
    //     }
    // }

    // .card h4 {
    //     color: $color-primary;
    //     font-size: 20px;
    //     //margin-bottom: 10px;

    // }

    // .card p {
    //     color: $color-grey--600;
    // }

    // //for guidelines
    // .fair-guidelines{
    //     h3{
    //         font-size: 25px;
    //         line-height: 33px;
    //     }
    // }

    // .guidelines-container {
    //     padding: 20px;
    //     background-color: #f4f4f4;
    //     border-radius: 5px;
    //     margin: 20px;
    //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // }

    // .guidelines-container h1 {
    //     color: $color-grey--700;
    //     font-size: 24px;
    //     margin-bottom: 10px;
    // }

    // .guidelines-container ul {
    //     list-style-type: none;
    //     /* Removes the default list style */
    //     padding: 0;
    // }

    // .guidelines-container li {
    //     margin-bottom: 10px;
    //     padding-left: 20px;
    //     text-indent: -20px;
    //     /* Aligns text nicely with the bullet points */
    //     line-height: 1.6;
    //     font-size: 16px;
    // }

    // .guidelines-container li:before {
    //     content: "•";
    //     /* Custom bullet point */
    //     color: #007BFF;
    //     /* Example color */
    //     display: inline-block;
    //     width: 20px;
    //     /* Ensures that the bullet and text align */
    // }

    .performance-only {
        margin-bottom: 40px;

        .vmmark-top-search-container {
            .search-bar {
                max-width: 100%;
                width: 100%;
                height: 45px;
                display: flex;
                align-items: center;


                justify-content: flex-start;
                border-radius: 4px;
                border: 1px solid $color-grey--400;
                background-color: $background-color;

                margin: 16px 0;
                gap: 10px;
                padding: 6px 12px 6px 20px;

                input {
                    width: 100%;
                    font-weight: 300;
                    font-size: 18px;
                    color: $color-grey--600;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    &::placeholder {
                        color: $color-grey--500;
                    }
                }

                i {
                    color: $color-primary;
                }
            }

            .search-bar input {
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }

            .multi-select-dropdown {
                .dropdown-container {
                    @media (min-width:1200px) {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                    }

                    button {
                        border: 1px solid $color-grey--400;
                        padding: 8px 30px 8px 16px;
                        text-transform: none;

                        .dropdown-caret {
                            right: 10px;
                        }
                    }

                    .dropdown-menu {
                        max-width: 100%;
                        box-shadow: $shadow-5;

                        button {
                            padding: 0;
                            border: none;
                            height: auto;

                            label {
                                align-items: flex-start;

                                input {
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .result-page {


            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            margin-top: 20px;

            .results-info {

                flex-grow: 1;
            }



            .results-dropdown {
                padding: 5px;
                margin-left: 5px;
                // display: inline-block;
                margin-left: 10px;

                select {
                    border: 0;
                    outline: 0;
                    color: $color-primary;
                    background-color: transparent;
                }
            }

            .manage-export {

                // display: inline-block;
                display: flex;




                .manage-columns {
                    display: inline-block;
                    margin-right: 10px;
                    // background-color: #007bff;
                    // color: white;


                    // margin-left: 10px
                    // .dropdown {
                    //     flex: 1;

                    //     &.show {

                    //         .dropdown-caret {
                    //             @include fa-icon-solid($fa-var-chevron-right);
                    //             transition: 0.2s ease-in-out;
                    //             transform: rotate(90deg);
                    //         }
                    //     }

                    //     button {

                    //         @include secondary-button;
                    //         width: 100%;
                    //         text-align: left;
                    //         display: inline-block;
                    //         // padding-left: 10px;
                    //         // padding-right: 30px;
                    //         border: 1px solid $color-grey--400;
                    //         padding: 8px 30px 8px 16px;
                    //         text-transform: none;
                    //         // HACK: JD - we had to create a div for the carot vs adding as content. there are content: unset !importants overriding fontawesome.
                    //         .dropdown-caret {
                    //             @include fa-icon-solid($fa-var-chevron-right);
                    //             transition: 0.2s ease-in-out;
                    //             right: 8px;
                    //             position: absolute;
                    //             top: 15px;
                    //         }


                    //         &:hover {

                    //             @include secondary-hover;
                    //         }



                    //     }
                    // }
                    .dropdown {
                        flex: 1;

                        &.show {
                            >button {
                                color: $color-primary--dark;
                                box-shadow: 0px 0px 4px 0px #0F7CB2;
                                border: 1px solid $color-primary--dark;
                                ;
                            }

                            .dropdown-caret {
                                @include fa-icon-solid($fa-var-chevron-right);
                                transition: 0.2s ease-in-out;
                                transform: rotate(90deg);
                            }
                        }

                        button {

                            @include secondary-button;
                            width: 100%;
                            text-align: left;
                            display: inline-block;
                            // padding-left: 10px;
                            // padding-right: 30px;
                            border-radius: 5px;
                            border: 1px solid $color-grey--400;
                            padding: 8px 30px 8px 16px;
                            text-transform: none;
                            background-color: $background-color;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 300;

                            // HACK: JD - we had to create a div for the carot vs adding as content. there are content: unset !importants overriding fontawesome.
                            .dropdown-caret {
                                @include fa-icon-solid($fa-var-chevron-right);
                                transition: 0.2s ease-in-out;
                                //right: 8px;
                                position: absolute;
                                top: 15px;
                                right: 10px;
                            }


                            &:hover {

                                @include secondary-hover;
                                color: $color-primary--dark;
                                background-color: $background-color;
                                border: 1px solid $color-grey--400;

                                .dropdown-caret {
                                    color: $color-primary--dark;
                                }
                            }

                            &:active {
                                color: $color-primary--dark;
                                box-shadow: 0px 0px 4px 0px #0F7CB2;
                                border: 1px solid $color-primary--dark;

                                .dropdown-caret {
                                    color: $color-primary--dark;
                                }
                            }

                            &:focus {
                                border: 1px solid $color-grey--400;
                                background-color: $background-color;
                                outline: 2px solid $color-primary;
                                outline-offset: 3px;
                            }


                        }
                    }

                    .dropdown-menu {
                        max-width: 100%;
                        min-width: 151.42px;
                        width: 100%;
                        padding: 10px;
                        max-height: 190px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        border-radius: 0;

                        &::-webkit-scrollbar {
                            height: 8px;
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            border-radius: 0px;
                            background-color: #DFE9EB;
                        }

                        &::-webkit-scrollbar-track:hover {
                            background-color: #B8C0C2;
                        }

                        &::-webkit-scrollbar-track:active {
                            background-color: #B8C0C2;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 0px;
                            background-color: #555555;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #555555;
                        }

                        &::-webkit-scrollbar-thumb:active {
                            background-color: #555555;
                        }

                        button {
                            padding: 0;
                            border: none;
                            height: auto;

                            &:hover {
                                border: 0;
                            }

                            label {
                                display: flex;
                                // align-items: center;
                                gap: 10px;
                                font-weight: 300;
                                text-wrap: initial;
                                padding-bottom: 10px;
                                align-items: flex-start;

                                input {
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }

                .export-data {
                    display: inline-block;

                    // margin-left: 10px
                    button {
                        background-color: $background-color;
                        color: $color-primary;
                        border: 1px solid $color-primary;

                        &:hover {
                            border-color: $color-white;
                            color: $color-white;
                            background: $color-primary;
                            text-decoration: none;
                        }
                    }

                }
            }



        }

        .table-results {
            overflow-x: auto !important;
            width: 100%;
            // transform: rotateX(180deg);
            // margin: 20px;



            .scrollable-table {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
                width: 100%;
                margin-top: 20px;
                // transform: rotateX(180deg);

                // .pagination-section{
                // transform: rotateX(180deg);

                // }
                //box-shadow: inset -6px 0 5px -2px #e5eaf2;
                //box-shadow: 5px 0 10px -4px #e5eaf2;
                .table-scroll-wrapper {
                    box-shadow: 5px 0 10px -4px #e5eaf2;
                    margin-right: 5px;
                }

                >div>div,
                .table-scroll-wrapper {

                    &::-webkit-scrollbar {
                        height: 18px;
                        width: 18px;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 0px;
                        background-color: #F1F1F1;
                    }

                    &::-webkit-scrollbar-track:hover {
                        background-color: #F1F1F1;
                    }

                    &::-webkit-scrollbar-track:active {
                        background-color: #F1F1F1;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 0px;
                        background-color: #BBBFC4;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #555555;
                    }

                    &::-webkit-scrollbar-thumb:active {
                        background-color: #555555;
                    }

                }

                table {
                    width: 100%;
                    border-collapse: collapse;

                    tbody {
                        tr {

                            &:nth-child(odd) {
                                background: transparent !important;
                            }

                            &:nth-child(even) {
                                background: transparent !important;
                            }
                            &:hover{
                                    background: #f4f8fa !important;
                                    .sticky-col {
                                    background: #f4f8fa !important;

                                    }
                            }
                        }
                    }

                }

                th {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 300;
                    color: $color-black;

                    &.sortable {
                        color: $color-primary;
                    }
                }

                th,
                td {
                    padding: 16px  8px !important;
                    text-align: left;
                    border-bottom: 1px solid $color-grey--10;
                    width: 160px;
                    min-width: 160px;
                    max-width: 160px;
                    white-space: break-spaces;
                }

                td:first-child {
                    text-align: center;

                    //box-shadow: none !important;
                    img {
                        max-height: 50px;
                        display: inline-block;
                    }
                }

                .table-th-container {
                    display: flex;
                    align-items: center;

                    span {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        margin-left: 15px;

                        i {
                            font-size: 14px;

                            line-height: 1;
                            color: $color-grey--300;

                            &.sorted {
                                color: $color-primary--dark;
                                font-weight: 700;
                            }
                        }
                    }
                }

                .table-text {
                    p {
                        margin-bottom: 0;
                    }
                }



                .sticky-col {
                    position: -webkit-sticky;
                    position: sticky;
                    left: 0;
                    background-color: $background-color;
                    z-index: 2;
                }

                .sticky-col+.sticky-col {
                    left: 160px;
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        top: 0;
                        left: 0;
                        height: 100%;
                        box-shadow: inset -6px 0 5px -2px #e5eaf2 !important;
                    }

                    /* Adjust this value based on the width of the first sticky column */
                    a {
                        display: block;

                        span {
                            margin-left: 5px;
                        }
                    }
                }

                // overflow-x: auto;
            }

            .pagination-section {
                margin-top: 20px;
                margin-bottom: 20px;

                .pagination {
                    justify-content: center;

                    .page-link {
                        color: $color-primary;
                        font-size: 1.125rem;
                        border: 0;

                        &:hover {
                            background-color: $background-color;
                        }
                    }

                    [aria-label="Previous"] span {
                        content: "\f053";
                        font-family: 'Font Awesome 6 Free';
                    }

                    [aria-label="Next"] span {
                        content: "\f054";
                        font-family: 'Font Awesome 6 Free';
                    }

                    .page-item.active .page-link {
                        background-color: $background-color;
                        color: $color-grey--700;
                    }
                }
            }
        }


    }

    // @include media-breakpoint-down(md) {
    //     .dropdown {
    //         position: relative;
    //         display: inline-block;
    //     }

    //     .dropdown-toggle {
    //         background-color: #fff;
    //         color: #557e8e;
    //         padding: 10px 20px;
    //         font-size: 16px;
    //         border: 1px solid #ccc;
    //         border-radius: 4px;
    //         cursor: pointer;
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         width: 250px;
    //     }

    //     .dropdown-toggle::after {
    //         content: '>';
    //         margin-left: 10px;
    //         font-size: 12px;
    //         color: #557e8e;
    //     }

    //     .dropdown-content {
    //         display: none;
    //         position: absolute;
    //         background-color: #f9f9f9;
    //         min-width: 250px;
    //         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    //         z-index: 1;
    //         border: 1px solid #ccc;
    //         border-radius: 4px;
    //     }

    //     .dropdown-content a {
    //         color: black;
    //         padding: 12px 16px;
    //         text-decoration: none;
    //         display: block;
    //     }

    //     .dropdown-content a:hover {
    //         background-color: #f1f1f1;
    //     }

    //     .show {
    //         display: block;
    //     }
    // }

    @media (max-width: 767px) {
        .sticky-col.submitter-only {

            position: -webkit-sticky;
            position: sticky;
            left: 0;
            background-color: $background-color;
            z-index: 2;
        }

        .sticky-col.performance-score {
            position: static !important;
        }
    }

    // Mobile version of tabs. (Duplicate of left-nav)
    @include media-breakpoint-up(lg) {
        .horizontal-tab {
            .horizontal-tab-toggle-title {
                display: none;
            }

            .horizontal-tab-toggle {
                display: none;
            }

            // Always show us for desktop.
            .horizontal-tab-collapse.collapse:not(.show) {
                display: block;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .horizontal-tab {
            .horizontal-tab-toggle-title {
                font-size: 16px;
                margin: 1em 0;
            }

            .horizontal-tab-collapse-wrapper {

                box-shadow: 0 6px 12px rgba($color-black, .175);
                margin-bottom: 3em;

                .horizontal-tab-collapse {
                    padding: 15px 0; // Let the children have the left/right padding.
                    max-height: 125px;
                    overflow-y: auto;
                }

                // HACK: JD - important the important.
                .tabs-product {
                    margin-bottom: 0 !important;
                }

                .nav-tabs {
                    margin-top: 0;
                    flex-direction: column; // Make it verticle.

                    >li,
                    >li:first-child {
                        padding-left: 0px;
                        padding-right: 0px;
                        margin: 0;
                        width: 100%;
                    }

                    // Reverse our look and feel.
                    >li a {
                        font-size: 14px;
                        font-weight: 400;
                        color: $color-grey--900;
                        text-transform: none;
                        font-family: $font-family--primary;
                        padding: 0.25rem 1.5rem;
                        width: 100%;
                        border: 0;
                        text-align: left;

                        &:hover {
                            color: $color-white;
                            background-color: $color-active;
                        }

                        &.active {
                            border: none;
                            position: relative;

                            &:after {
                                position: absolute;
                                top: 6px;
                                right: 15px;
                                content: '' !important;
                                display: block;
                                width: 0.5em;
                                height: 1em;
                                border-style: solid;
                                border-width: 0 0.26em 0.26em 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);

                            }
                        }
                    }
                }
            }

            .horizontal-tab-toggle {
                //this is a button
                width: 100%;

                border-bottom: 2px solid $color-primary; //mods button
                padding: 10px 5px 0;
                color: $color-grey--800; //mods button
                background-color: transparent; //mods button
                justify-content: flex-start;
                border-radius: 0;

                .text-right {
                    font-size: 18px;
                    padding-right: 0;
                }

                i.bi {
                    color: $color-grey--800;
                }

                >div {
                    width: 100%;
                    flex: 1;
                }

                &:focus {
                    border-radius: 0;
                    border: 0;
                    border-bottom: 2px solid $color-primary;
                }
            }
        }

        .result-page {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 20px;
        }
    }


}

//for other results
.related-vmmark-results {
    background-color: $background-light-blue;
    margin-top: 30px;

    h3 {
        padding: 20px;
    }

    .card-row {
        // display: flex;
        // justify-content: space-between;
        /* Spreads the cards evenly across the row */
        padding: 0 20px 30px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width:767px) {
            grid-template-columns: auto;
        }

        .card {
            // width: 30%;
            /* Each card takes up roughly one-third of the container's width */
            padding: 20px;
            box-shadow: $shadow-5;
            background-color: $background-color;

            border-radius: 5px;
            margin: 10px;
            // padding-bottom: 40px;

            a {
                text-decoration: none;
            }

            span.bi {
                font-size: 63px;
            }
        }

        .card h4 {
            color: $color-primary;
            font-size: 20px;
            //margin-bottom: 10px;

        }

        .card p {
            color: $color-grey--600;
        }
    }
}

//for guidelines
.fair-guidelines {
    h3 {
        font-size: 32px;
        line-height: 33px;
        color: $color-black;
        padding-bottom: 16px;
    }

    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;


    h1 {
        color: $color-grey--700;
        font-size: 24px;
        margin-bottom: 10px;
    }

    ul {

        padding-left: 20px;
    }

}