/*
* templates/agenda.scss
*/
// VMware agenda.

@import "../base/base";
@import "../base/variables";


$agenda-color-blue: #c0edf9;
$agenda-color-green: #cff2c0;
$agenda-color-purple: #d7d7ff;
$agenda-color-red: #ffc5c5;
$agenda-color-yellow: #fceb9a;

.Agenda {

    .agenda-mobile {
        .agenda-day-title {
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            padding: 32px;
            text-align: center;
            /* 132% */
        }

        .agenda-day {
            display: block; // No more grid, just veritcally stacked.
            border: none;

            .agenda-event-wrapper {
                margin-bottom: 10px;
            }
        }
    }

    .agenda-day {
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 14px;
        border-left: 2px solid $color-grey--200;

        .agenda-day-lines {

            border-right: 2px solid $color-grey--200;

            &.hour {
                border: none; // Remove half hour ticks.
            }
        }

        .agenda-event-wrapper {
            border-radius: 8px;
            text-align: center;
            padding: 16px;
            position: relative;

            .agenda-event-title {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                /* 150% */
            }

            .agenda-event-time {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 200% */
            }

            .agenda-event-category {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 200% */
            }

            .agenda-event-info {
                position: absolute;
                top: 6px;
                right: 6px;
                color: $color-primary;
            }
        }

        .agenda-day-event {
            padding-right: 2px; // Show the grid line
        }

    }

}

.agenda-row-color-blue {
    background-color: $agenda-color-blue;
}

.agenda-row-color-green {
    background-color: $agenda-color-green;
}

.agenda-row-color-purple {
    background-color: $agenda-color-purple;
}

.agenda-row-color-red {
    background-color: $agenda-color-red;
}

.agenda-row-color-yellow {
    background-color: $agenda-color-yellow;
}

// Lives outside of our .agenda div
.agenda-modal {
    color: $color-body;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        max-width: 700px;
        display: flex; // Color box on the left
    }


    // @media (min-width: map-get($grid-breakpoints, sm)) {
    //     .modal-title {
    //         display: block;
    //     }
    // }

    .modal-body {
        padding-top: 30px;
    }

    // Override base
    .modal-title {
        color: $color-body;
        font-weight: normal;
        
    }

    .agenda-modal-color-box {
        width: 58px;
        height: 58px;
        margin-right: 16px;
        margin-bottom: 10px;
    }

    .agenda-modal-day {}

    .agenda-modal-time {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 130% */
    }

    .agenda-modal-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 100% */
    }

    .agenda-modal-category {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }
}