/*
* templates/agenda.scss
*/
// VMware agenda.

@import "../base/base";
@import "../base/variables";


$agenda-color-blue: #c0edf9;
$agenda-color-green: #cff2c0;
$agenda-color-purple: #d7d7ff;
$agenda-color-red: #ffc5c5;
$agenda-color-yellow: #fceb9a;
$agenda-color-body: #000000;

.Agenda {
    color: $agenda-color-body;

    .agenda-mobile {
        .agenda-day-title {

            padding: 32px;
            margin-bottom: 10px;
            text-align: center;

            a {
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: 33px;
            }
        }

        .agenda-day {
            display: block; // No more grid, just veritcally stacked.
            border: none;

            .agenda-event-wrapper {
                margin-bottom: 10px;
            }
        }
    }

    .agenda-day {
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 14px;
        border-left: 2px solid $color-border; // update to border color variable later - OZ

        .agenda-day-lines {

            border-right: 2px solid $color-border; // update to border color variable later - OZ

            &.hour {
                border: none; // Remove half hour ticks.
            }
        }

        .agenda-event-wrapper {
            border-radius: 8px;
            text-align: center;
            padding: 14px;
            position: relative;

            .agenda-event-title {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
            }

            .agenda-event-time {
                font-size: 12px;
                font-style: normal;
                //font-weight: 400;
                line-height: 24px;
                /* 200% */
            }

            .agenda-event-category {
                font-size: 12px;
                font-style: normal;
                //font-weight: 400;
                line-height: 24px;
                /* 200% */
            }

            .agenda-event-info {
                position: absolute;
                top: 6px;
                right: 6px;
                color: $color-primary;
            }
        }

        .agenda-day-event {
            padding-right: 2px; // Show the grid line
        }

    }

}

.agenda-row-color-blue {
    background-color: $agenda-color-blue;
}

.agenda-row-color-green {
    background-color: $agenda-color-green;
}

.agenda-row-color-purple {
    background-color: $agenda-color-purple;
}

.agenda-row-color-red {
    background-color: $agenda-color-red;
}

.agenda-row-color-yellow {
    background-color: $agenda-color-yellow;
}

// Lives outside of our .agenda div
.agenda-modal {
    color: $agenda-color-body;


    @media (min-width: map-get($grid-breakpoints, sm)) {
        max-width: 700px;

        .agenda-modal-top {
            display: flex; // Color box on the left
        }
    }


    // @media (min-width: map-get($grid-breakpoints, sm)) {
    //     .modal-title {
    //         display: block;
    //     }
    // }
    .close{ 
        font-size: 30px;
    }
    .modal-body {
        padding-top: 30px;
    }

    // Override base
    .modal-title {
        color: $agenda-color-body;

    }

    .agenda-modal-color-box {
        width: 58px;
        height: 58px;
        margin-right: 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .agenda-modal-day {
        font-weight: 300;
    }

    .agenda-modal-time {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        /* 130% */
    }

    .agenda-modal-title {
        //display:none;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        /* 100% */
    }

    .agenda-modal-category {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        /* 150% */
    }

  
}