@import "../base/variables";

// Fontawesome
@import "../fontawesome/fontawesome";



#filtered-listing {

    .hide {
        display: none;
    }

    .tab-content {
        h2.section-title {
            display: none;
        }
    }

    .tabs-product {
        min-height: 56px;
        justify-content: space-evenly;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 100px;

        li.nav-item a.lnk {
            font-size: 18px;
        }
    }

    h4 {
        //font-size: ;
        padding: 15px;
        font-weight: 300;
        line-height: 28px;
        cursor: pointer;
    }

    .card {
        /*         padding-left: 0;             //july7
        padding-right: 0; */
        margin-bottom: 10px;
        box-shadow: none;

        .card-head {
            padding: 7px 10px;
            background-color: $background-dark-blue;
            border-left: 2px solid $color-black;
            box-shadow: 0px 8px 16px 0px rgba(17, 69, 134, 0.1215686275)
        }


        .card-body {

            ul {
                padding-top: 30px;
                list-style-type: none;

                li label {
                    font-size: $font-size-lg;
                    font-weight: 300;
                    margin-bottom: 25px;
                    display: flex;
                    flex-direction: row;

                        input {
                            width: 24px;
                            height: 24px;
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        .filter-count {
                            margin-left: 6px;
                            letter-spacing: 3px;
                        }
                }
            }


            button.link-bttn-no-hover h6 {
                font-size: 18px;
                font-weight: 300;
                color: $color-black;
            }
        }

    }

    .card-list-wrapper {
        background-color: $background-dark-blue;

        h2 {
            padding: 20px;
            cursor: pointer;
        }
    }

    .card-list {
        background-color: $background-dark-blue;

        &.row {
            justify-content: space-evenly;
            padding-bottom: 20px;
        }

        .show-button {
            margin: 0 auto;
        }

        .card-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .detail-card {
            position: relative;
            display: inline-block;
            text-align: left;
            font-size: $font-size-md;
            ;
            border: 1px solid transparent;
            box-shadow: $shadow-1;
            background-color: $color-white;
            border-radius: 4px;
            padding: 20px;
            height: 166px;
            /*             width: 300px; */
            margin-bottom: 20px;
            /* margin-left: 20px; */
            /*  margin-right: 20px; */

            h5 {
                margin-top: 10px;
                font-size: 22px;
                height: 90px;
            }

            .link-label {
                font-size: $font-size-md;
                position: absolute;
                bottom: 10px;
            }

            .location-card {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-areas: "logo heading";

                .head {
                    grid-area: "heading";
                    display: inline-block;
                    position: relative;
                }

                .flag-img {
                    grid-area: "logo";
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

//#filtered-listing

#dropdown-filtered-listing {
    background-color: $background-dark-blue;
    padding: 20px 20px;

    .selected {
        margin-top: 10px;
        display: inline-block;
        font-weight: 500;

        span {
            font-weight: 300;
            margin-right: 4px;

            // &::after {
            //     content: (',');
            // }
        }

    }

    .dropdown {
        display: inline-block;

        button.dropdown-toggle {
            background-color: transparent;
            color: $color-black;
            font-size: $font-size-lg;
            font-weight: 300;
            text-transform: capitalize;
            margin-right: 20px;
            border: none;

            &:hover {
                border: none; // Undo our global.
                border-color: transparent; // Shifting so just 
            }

            // ignore click so it bubbles to the parent.
            // "Filter By:"
            span {
                pointer-events: none;
                font-weight: 300;
                margin-right: 4px;
            }

            .dropdown-caret {
                @include fa-icon-solid($fa-var-chevron-down);
                transition: 0.2s ease-in-out;
                right: 8px;
                position: absolute;
                top: 15px;
            }

            .dropdown-label {
                font-weight: 300;
                text-transform: none;
                margin-right: 6px;
            }
        }

        .dropdown-menu {
            overflow-y: scroll;
            max-height: 600px;
        }
    }

    .detail-cards {
        padding-left: 30px;
        padding-right: 30px;
    }

    .detail-card {
        box-shadow: $shadow-1;
        padding: 18px;
        height: 294px;
        background-color: $color-white;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 300;
        line-height: 24px;

        h5 a {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
            ;
            text-decoration: none;
        }

        img {
            position: absolute;
            bottom: 33px;
            height: 80px;
        }



    }

    .compliance-title-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 60px;

        .compliance-title,
        .compliance-body {
            padding: 20px 0;

        }
    }


}