/*
* templates/horizontal-tab.scss
*/
// Styling for broadcom custom testimonial

@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/typography";

.HorizontalTab,
.tabs {

    .horizontal-tab-toggle-title {
        display: none;
    }

    .horizontal-tab-toggle {
        display: none;
    }

    // Horizontal scroll arrows
    .horizontal-scroll-wrapper {
        position: relative;

        .arrow {
            color: $color-primary;
            position: absolute;
            top: 0;
            display: flex;
            width: 84px;
            align-items: center;
            cursor: pointer;
        }

        .left-arrow {
            height: 100%;
            left: 0;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 54.69%);
        }

        .right-arrow {
            height: 100%;
            right: 0;
            justify-content: flex-end;
            background: linear-gradient(270deg, #FFF 37.5%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    .horizontal-tab-collapse-wrapper {
        /* Template has Bootstrap .collapse class so we must explicitly 'display: block' */
        display: block;
        overflow-x: scroll;
        /* Hide scrollbar for IE and Edge */
        -ms-overflow-style: none;
        /* Hide scrollbar for Firefox */
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .horizontal-tab-collapse-wrapper::-webkit-scrollbar {
        display: none;
    }

    .horizontal-tab-collapse {
        display: flex;
        justify-content: center;
    }

    .nav-tabs {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        display: inline-flex;
        justify-content: left;
        padding: 0px;
        margin: 0px;
        border: 0px;

        >li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            border-bottom: 1px solid $color-grey--700;

            button.lnk {
                @include font-md;
                background: none !important;
                color: $color-primary;
                border: 0px;
                border-radius: 0 !important;
                display: inline-block;
                padding: 5px 16px;
                position: relative;
                border-bottom: 2px solid transparent;
                text-transform: initial;
                white-space: nowrap;
                height: 40px;

                &:after {
                    content: unset !important;
                }

                &:hover {
                    color: $color-link-hover;
                    cursor: pointer;
                }

                &:active {
                    cursor: grabbing;
                }
            }

            button.active {
                border-color: $color-primary;

                &:hover {
                    color: $color-link-hover;
                    border-color: $color-link-hover;
                    cursor: pointer;
                }
            }
        }
    }

    .container {
        >h3 {
            text-align: center;
        }
    }

    .tab-content {

        .content-block-left,
        .content-block-right {
            padding: 40px 60px 40px;

            .row {
                align-items: center;
            }

            @include media-breakpoint-down(md) {
                padding: 40px 16px 40px;
            }
        }

        .lnk {
            margin: 0 !important;
        }

        .lnk-image {
            &:after {
                content: unset !important;
            }
        }

        .theme-card-cta-link {
            .cb-cta-link {
                a {
                    &:hover {
                        border: 0 !important;
                        text-decoration-color: $color-primary--dark;
                    }
                }
            }
        }

        .cb-cta-link {
            flex-direction: column;
            align-items: center;
        }

        .cb-cta-link li:nth-child(2) a.lnk {
            margin: 0 !important;
            @include cta-link-style;

            &:after {
                @include cta-link-after;
            }
        }

        .ImageCard {
            .card-footer {
                .cb-cta-link {
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }

        .theme-content-block-cta-primary {
            .cb-cta-link {
                .lnk {
                    @extend .bttn;
                    @include primary-button;

                    &:hover {
                        @include primary-hover;
                    }

                    &:after {
                        @include button-after;
                    }
                }
            }
        }
    }

    .card {
        .card-title {
            .lnk {
                &:after {
                    content: unset !important;
                }
            }
        }
    }

}