/*
* templates/horizontal-tab.scss
*/
// Styling for broadcom custom testimonial

@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/icons";
@import "../base/link";

.HorizontalTab {

    .nav-tabs {
        border-bottom: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        >li {
            // padding-right: 15px;
            // padding-left: 15px;
            margin-right: 0px;
            position: relative;

            // &:after{
            //     content: "";
            //     height: 20px;
            //     width: 1px;
            //     background-color: $color-grey--625;
            //     position: absolute;
            //     right: 0;
            //     top: 50%;
            //     transform: translate(0,-50%);
            // }
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            a.lnk {
                //custom button/link  see _link.scss for base
                line-height: 1.9;
                display: inline-block;
                padding: 5px 10px !important;
                position: relative;
                border-bottom: 1px solid $color-primary;
                margin: 0px 0px !important;

                &:after {
                    content: unset !important;
                }

                &:hover {
                    color: $color-ocean-700;
                    text-decoration: none !important; //mods _link.scss - necessary to keep from having double red lines on hover
                    border: 0 !important;
                    border-bottom: 2px solid $color-primary !important;
                    cursor: pointer;
                }

                &.active {
                    //mods _link.scss
                    // color: $color-black;
                    border-bottom: 2px solid $color-primary;
                }
            }
        }
    }

    .container {
        >h3 {
            text-align: center;
        }
    }

    .tab-content {
        box-shadow: 0 4px 14px 0 rgba(17, 69, 134, 0.10) !important;

        .content-block-left {
            padding: 40px 60px 40px;

            .row {
                align-items: center;
            }

            @include media-breakpoint-down(md) {
                padding: 40px 16px 40px;
            }
        }

        .lnk {
            margin: 0 !important;
            @include link-style;

            &:after {
                @include link-after;
            }
        }
    }

    @media (max-width: 767px) {
        .nav-tabs {
            >li.nav-item {
                padding-left: 0;
                padding-right: 20px;
                margin-bottom: 12px;
            }
        }
    }

    // Mobile version of tabs. (Duplicate of left-nav)
    @include media-breakpoint-up(lg) {
        .horizontal-tab {
            .horizontal-tab-toggle-title {
                display: none;
            }

            .horizontal-tab-toggle {
                display: none;
            }

            // Always show us for desktop.
            .horizontal-tab-collapse.collapse:not(.show) {
                display: block;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .horizontal-tab {
            .horizontal-tab-toggle-title {
                font-size: 16px;
                margin: 1em 0;
            }

            .horizontal-tab-collapse-wrapper {

                box-shadow: 0 6px 12px rgba($color-black, .175);
                margin-bottom: 3em;

                .horizontal-tab-collapse {
                    padding: 15px 0; // Let the children have the left/right padding.
                    max-height: 125px;
                    overflow-y: auto;
                }

                // HACK: JD - important the important.
                .tabs-product {
                    margin-bottom: 0 !important;
                }

                .nav-tabs {
                    margin-top: 0;
                    flex-direction: column; // Make it verticle.

                    >li,
                    >li:first-child {
                        padding-left: 0px;
                        padding-right: 0px;
                        margin: 0;
                        width: 100%;
                    }

                    // Reverse our look and feel.
                    >li a {
                        font-size: 14px;
                        font-weight: 400;
                        color: $color-grey--900;
                        text-transform: none;
                        font-family: $font-family--primary;
                        padding: 0.25rem 1.5rem;
                        width: 100%;
                        border: 0;
                        text-align: left;

                        &:hover {
                            color: $color-white;
                            background-color: $color-active;
                        }

                        &.active {
                            border: none;
                            position: relative;

                            &:after {
                                position: absolute;
                                top: 6px;
                                right: 15px;
                                content: '' !important;
                                display: block;
                                width: 0.5em;
                                height: 1em;
                                border-style: solid;
                                border-width: 0 0.26em 0.26em 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);

                            }
                        }
                    }
                }
            }

            .horizontal-tab-toggle {
                //this is a button
                width: 100%;

                border-bottom: 2px solid $color-primary; //mods button
                padding: 10px 5px 0;
                color: $color-grey--800; //mods button
                background-color: transparent; //mods button
                justify-content: flex-start;
                border-radius: 0;

                .text-right {
                    font-size: 18px;
                    padding-right: 0;
                }

                i.bi {
                    color: $color-grey--800;
                }

                >div {
                    width: 100%;
                    flex: 1;
                }

                &:focus {
                    border-radius: 0;
                    border: 0;
                    border-bottom: 2px solid $color-primary;
                }
            }
        }
    }

}