/**
 *  @file interactive-diagram.scss
 *  @brief the style for interactive diagram on the solution pages
 */
 @import "../base/variables";

.interactive-diagram {
    .interactive-diagram-container {
        position: relative;
        text-align: center;
        .interactive-diagram-wrapper {
            display: inline-block;
            position: relative;
        }
    }
    
    .interactive-diagram-click-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .interactive-btn {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(1);
        transition: opacity .5s ease-in-out;
    }

    .pulse {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        //animation: pulse 1.6s infinite;
    }

    .btn-active,
    .btn-hover {
        opacity: 1;
        transition: opacity .25s ease-in-out;
    }

    .collapse {
        //display: none;
    }

    .active {
        display: block;
    }

    .hotspot {
        cursor: pointer;
    }

    .interactive-diagram-rail {
        .btn-minimize {
            display: none;      // Hide our plus button in the accordion.
        }
        .close {
            position: absolute;
            right: 10px;
            top: 0;
            display: none;      // Hide us for normal screens sizes.
        }

        .accordion .icon-bttn{

            padding-left: unset;
            margin-left:-15px;

        }
        
        .CollapseBox {
            margin-bottom: 0.15rem;
            // Animated selected
            &.interactive-collapsebox {
                &.selected {
                    .bc--color_secondary {
                        transition: color .5s ease-in-out;
                        color: $color-primary !important;
                    }
                }
            }

            .card {
                border: none;
                padding: 10px 10px;
                background-color: $color-grey--500;
            }
            :hover {
                color:$color-grey--900!important;}
            .card-body {

                button {
                    text-align: left;
                }

                .card-head {
                    padding: 0;
                    font-size: 0.8rem;
                    .bc--color_secondary {
                        color: $color-grey--700;
                        font-family: $font-family--secondary;
                        font-size: 16px;
                        font-weight: 450;
                        ;
                    }
                }

                ul {
                    margin-left: 0; 
                    li {
                        list-style-type: none;
                    }
                }
            }

            &.open {
                .card {
                    border-right: 4px $color-grey--700 solid;
                    background-color: $color-grey--600;
                }
                .card-body {
                    .card-head {
                        .bc--color_secondary {
                            color: $color-primary;
                            font-family: $font-family--secondary;
                            font-size: 16px;
                            font-weight: 450;
                        }
                    }
                }
            }

            .interactive-diagram-products {
                .cb-cta-link li {
                    border-bottom: 1px solid $color-grey--700;
                    margin-left: 15px;

                }
                .cb-cta-link li:last-child {
                    border-bottom: None;
                    margin-left: 15px;
                  

                }
            }
        }

        // Below large, let's make it a popup.
        // @media screen and (max-width: map-get($grid-breakpoints, lg) - 1) {               
        //     position: absolute;
        //     top: 0;
        //     width: calc(100% - 28px);
        //     background-color: $color-white;
        //     z-index: 101;
        //     padding-top: 30px;
        //     .close {
        //         display: block;
        //     }
        // }
    }

    // Make the rail modal.
    // @media screen and (max-width: map-get($grid-breakpoints, lg) - 1) { 
    //     .hide-rail {
    //         display: none;
    //     }
    // }

    .interactive-diagram-categories {
        border-top: 2px solid $color-grey--500;
        
        .btn {
            margin-top: 0.5rem;
        }

        .close {
            position: absolute;
            right: 10px;
            display: none;      // Hide us for normal screens sizes.
        }

        .interactive-diagram-groups {
            padding: 1rem;
            background-color: $color-grey--500;
            display: flex;  // verticle align the tab content.
            height: 100%;
            text-align: left;
            
            .tab-content {
                margin-top: auto;
                margin-bottom: auto;
                .group {
                    border-right: 1px solid $color-grey--700;
                    &:last-of-type {        // The last one.
                        border: none;
                    }
                }
            }
        }

        // Below large, let's make it a popup.
        // @media screen and (max-width: map-get($grid-breakpoints, lg) - 1) {               
        //     position: absolute;
        //     top: 0;
        //     .close {
        //         display: block;
        //     }
        // }
        
    }

    

    @keyframes pulse {
        0% {
            transform: scale(0.99);
        }

        70% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.99);
        }
    }
}

