/*
* templates/side-inpage-navigation.scss
*/
// Side bar with for inpage navigation


@import "../base/base";


.SideInPageNavigation {
  position: relative;

  .search-bar {
    max-width: 100%;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #fff;

    margin: 16px 0;
    gap: 10px;
    padding: 6px 12px 6px 20px;

    input {
      width: 100%;
      font-weight: 300;
      font-size: 18px;
      color: #565656;
      border: none;
      outline: none;
    }
  }

  .side-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;


    // Hide the dropdown for desktop
    .collapse {
      //display: block;

    }

    .side-nav-toggle {
      //display: none;
    }

    @include media-breakpoint-up(lg) {
      .collapse {
        display: block;
      }

      .side-nav-toggle {
        display: none;
      }
    }

    .nav {

      .nav-item {

        .nav-item-child {
          // Hide the children.               
          &.collapse {
              display: none;
          }

          li {
            padding-left: 20px;
            padding-right: 0;
            width: 100%;
          }

        }
      }
    }
  }

  @media (max-width:767px) {
    >.row {

      >.col {
        position: sticky;
        top: 0px;
        z-index: 9;
      }
    }
  }

  .side-nav .nav {

    .nav-item {
      
      flex-direction: column;

      .nav-link {
        text-decoration: none;
        padding: 16px 32px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
       


        > .nav-link {
          
          background: $background-light-blue;
          border-left: 2px solid $color-primary;
          color: $color-primary;

          &:hover {
            text-decoration: underline;
          }

        }
      }
    }
  }

  .side-nav {
    @media (max-width:767px) {

      margin-bottom: 40px;

      .side-nav-toggle {
        border-bottom: 1px solid !important;
        border-radius: 0;
        width: 100%;
        height: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: $color-white;
        color: $color-primary;
        font-size: 16px;
        font-weight: 300;

        &:hover {
          border: 0;
        }

        .brcmicon-caret-down,
        .brcmicon-caret-up {
          color: $color-primary;
        }


      }

      .side-nav-collapse-wrapper {
        background: $color-white;
        padding: 4px;

        .nav-item {
          text-decoration: none;

          &.active {
            color: $color-primary;
            font-weight: 400;
          }

          .nav-link {
            text-decoration: none;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }




}