/*
* templates/side-inpage-navigation.scss
*/
// Side bar with for inpage navigation


@import "../base/base";
// Fontawesome
@import "../fontawesome/fontawesome";
@import "../fontawesome/solid";
@import '../fontawesome/brands';

.SideInPageNavigation {
  position: relative;

  .search-bar {
    max-width: 100%;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    border: 1px solid #999;
    background-color: #fff;

    margin: 16px 0;
    gap: 10px;
    padding: 6px 12px 6px 20px;

    input {
      width: 100%;
      font-weight: 300;
      font-size: 18px;
      color: #565656;
      border: none;
      outline: none;
    }

    .clear-button {
      position: absolute;
      right: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 16px;
      padding: 0 10px;
      color: #5e5d5d;

    }

    .clear-button:hover {
      color: #272626;
    }
  }

  .side-nav-sticky-mobile {
    position: sticky;
    top: 0px;
    z-index: 2; // For sticky
    background-color: $color-white;

    @include media-breakpoint-down(lg) {
      .side-nav {
        position: relative; // Reset us.
      }

    }
  }

  .side-nav {
    position: sticky;
    top: 20px;
    z-index: 2; // For sticky
    background-color: $color-white;

    .nav-item {
      .secondary-bttn {
        display: none;
      }
    }

    &.side-nav-static {

      // Use arrows instead of + -.
      .brcmicon-plus {
        @include fa-icon-solid($fa-var-chevron-right);
        transition: 0.2s ease-in-out;
      }

      .brcmicon-window-minimize {
        @include fa-icon-solid($fa-var-chevron-right);
        transition: 0.2s ease-in-out;
        transform: rotate(90deg);
      }

      @include media-breakpoint-down(lg) {
        position: relative;

        // Added right arrow
        .nav-item {
          .secondary-bttn {
            float: right;
            display: inline-block;
          }
        }

      }
    }



    .side-inpage-nav {
      background-color: $color-white;
    }


    // Hide the dropdown for desktop
    .collapse {
      //display: block;

    }

    .side-nav-toggle {
      //display: none;
    }

    @include media-breakpoint-up(lg) {
      .collapse {
        display: block;
      }

      .side-nav-toggle {
        display: none;
      }
    }

    .nav {

      .nav-item {

        .nav-item-child {

          // Hide the children.               
          &.collapse {
            display: none;
          }

          li {
            padding-left: 20px;
            padding-right: 0;
            width: 100%;
          }

        }
      }
    }
  }


  .side-nav .nav {

    .nav-item {

      flex-direction: column;

      .nav-link {
        text-decoration: none;
        padding: 16px 32px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {



        >.nav-link {

          background: $background-light-blue;
          border-left: 2px solid $color-primary;
          color: $color-primary;

          &:hover {
            text-decoration: underline;
          }

        }
      }
    }
  }

  .side-nav {
    @include media-breakpoint-down(lg) {

      margin-bottom: 40px;

      &.side-nav-scrollspy {
        .side-nav-toggle {
          display: block;
          border-bottom: 1px solid !important;
          border-radius: 0;
          width: 100%;
          height: auto;
          padding-right: 0;
          padding-left: 0;
          background-color: $color-white;
          color: $color-primary;
          font-size: 16px;
          font-weight: 300;

          &:hover {
            border: 0;
          }

          .brcmicon-caret-down,
          .brcmicon-caret-up {
            color: $color-primary;
          }


        }
      }

      .side-nav-collapse-wrapper {
        background: $color-white;
        padding: 4px;

        .nav-item {
          text-decoration: none;

          &.active {
            color: $color-primary;
            font-weight: 400;
          }

          .nav-link {
            text-decoration: none;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .side-nav-result {
        border-top: 1px solid $color-grey--100;
        border-bottom: 1px solid $color-grey--100;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;

        .side-nav-toggle {
          all: unset;
          color: $color-primary;
          cursor: pointer;

          .bi {
            color: $color-primary;
          }
        }
      }

      .side-inpage-content {
        left: calc(-50vw + 50%);
        padding-right: 0;
        padding-left: 0;
        width: 100vw;
        max-width: 100vw;

      }
    }
  }


  .brcmicon-caret-up {
    @include fa-icon-solid($fa-var-chevron-right);
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
  }

  .brcmicon-caret-down {
    @include fa-icon-solid($fa-var-chevron-right);
    transition: 0.2s ease-in-out;
    transform: rotate(90deg);
  }

}