/*
* templates/vertical-tab.scss
*/
// VMware.

@import "../base/base";
@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "../base/icons";
@import "../base/link";


.VerticalTab,
.tabs {

    .nav-tabs {
        // border-bottom: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        // margin-bottom: 1rem;

        flex-direction: column;
        /* Stack children vertically */
        // border-right: 1px solid #ccc;
        /* Add a right border */
        padding-right: 20px;
        /* Add some spacing to the right of the tabs */
        margin-right: 20px;
        /* Add margin to the right of the tabs, if needed */
        border-bottom: none;
       




        >li {

            margin-right: 0px;
            position: relative;
            border-left: 1px solid $color-grey--400;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            a.lnk {
                //custom button/link  see _link.scss for base
                line-height: 1.9;
                //display: inline-block;
                display: flex;
                justify-content: space-between;
                padding: 5px 30px;
                position: relative;
                font-size: 18px;
                line-height: 24px;
                margin: 0px 0px;
                text-decoration: none;
                font-weight: 300;
                align-items: center;
                border: none;




                .arrow-icon{

                    // @include cta-link-after;
                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.72 7.71567C10.9868 7.46165 10.9868 7.03828 10.72 6.78426L4.96968 1.28048C4.67327 1.02646 4.22866 1.02646 3.96189 1.28048L3.28015 1.92965C3.01339 2.18367 3.01339 2.60703 3.28015 2.88928L7.84484 7.23585L3.28015 11.6107C3.01339 11.8929 3.01339 12.3163 3.28015 12.5703L3.96189 13.2195C4.22866 13.4735 4.67327 13.4735 4.96968 13.2195L10.72 7.71567Z' fill='%23005C8A'/%3E%3C/svg%3E");
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    background-position: 2px 0px;
                    min-width: 15px;
                }


                &:hover {
                    color: #04314D;
                    text-decoration: none !important; //mods _link.scss - necessary to keep from having double red lines on hover
                    border: 0 !important;

                    cursor: pointer;
                }

                &.active {
                    border-left: 3px solid $color-primary;
                    background-color: $background-light-blue;
                    margin-left: -2px;
                    &:hover{
                        border-left: 3px solid #04314D !important;
                        background-color: $background-light-blue;
                    }

                }
            }

        }
    }

    .container {

        >h3 {
            text-align: center;
            color: $color-black;
            font-size: 40px;
            padding-bottom: 40px;
            ;

        }
    }

    .tab-content {


        flex-grow: 1;


.theme-card-standard:not(.theme-card-cta-primary), .content-block{
  .lnk, .link-bttn{
            margin: 0 !important;
            @include cta-link-style;
            //width: 100%;

            &:after {
                @include cta-link-after;
            }
        }
        .lnk-image{
            &:after{
              content: unset  !important;
            }
          }
}


        .cb-cta-link {
            flex-direction: column;
            align-items: start;
        }

        .cb-cta-link li:nth-child(2) a.lnk {
            margin: 0 !important;
            @include cta-link-style;

            &:after {
                @include cta-link-after;
            }
        }

        .ImageCard {
            .card-footer {
                .cb-cta-link {
                    flex-direction: row;
                    justify-content: center;
                }
            }

        }

        .theme-content-block-cta-primary {
            .cb-cta-link {
                .lnk {
                    @extend .bttn;
                    @include primary-button;

                    &:hover {
                        @include primary-hover;
                    }

                    &:after {
                        @include button-after;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .nav-tabs {
            >li.nav-item {
                padding-left: 0;
                padding-right: 20px;
                margin-bottom: 12px;
            }
        }
    }

    // Mobile version of tabs. (Duplicate of left-nav)
    @include media-breakpoint-up(lg) {
        .vertical-tab {
            max-width: 35%;

            .vertical-tab-toggle-title {
                display: none;
            }

            .vertical-tab-toggle {
                display: none;
            }

            // Always show us for desktop.
            .vertical-tab-collapse.collapse:not(.show) {
                display: block;
            }

            .show-collapse-lg {
                display: block;
            }


        }

        .show-tab-content {
            display: none;
        }
    }


    @include media-breakpoint-down(md) {
        .show-collapse-lg {
            display: none;

        }

        .collapsible {
            width: 100%;

        }


        .collapsible-btn {
            display: flex;
            justify-content: space-between;
            background-color: $color-white;
            color: $color-primary;
            cursor: pointer;
            padding: 0%;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            border-left: 1px solid $color-grey--400;
            height: auto;
            padding: 10px 0;
            border-radius: 0;
            .col-2{
            display: flex;
            align-items: center;
            } 

        }

        .collapsible-btn.active {
            background-color: $background-light-blue;
            border-left: 3px solid $color-primary;
            margin-left: -2px;

        }

        i.bi {
            color: $color-grey--800;
        }

        .row-size-100 {
            width: 100%;
            margin: 0%;
        }


        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color:$color-white;
        }

        .content.active {
            display: block;
        }

        .vertical-container {
            display: flex;
            flex-direction: column;

            .vertical-tab {
                width: 100%;
                display: none;

                .vertical-tab-toggle-title {
                    font-size: 16px;
                    margin: 1em 0;
                }

                .vertical-tab-collapse-wrapper {

                    box-shadow: 0 6px 12px rgba($color-black, .175);
                    margin-bottom: 3em;
                    width: 100%;
                    display: flex;
                    flex-direction: column;



                    .vertical-tab-collapse {

                        max-height: 125px;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        overflow-x: hidden;

                    }



                    // HACK: JD - important the important.
                    .tabs-product {
                        margin-bottom: 0 !important;
                    }

                    .nav-tabs {
                        margin-top: 0;
                        // flex-direction: column; // Make it verticle.


                        >li,
                        >li:first-child {
                            padding-left: 0px;
                            padding-right: 0px;
                            margin: 0;
                            width: 100%;
                        }

                        // Reverse our look and feel.
                        >li a {
                            font-size: 14px;
                            font-weight: 400;
                            color: $color-grey--900;
                            text-transform: none;
                            font-family: $font-family--primary;
                            padding: 0.25rem 1.5rem;
                            width: 100%;
                            border: 0;
                            text-align: left;

                            &:hover {
                                color: $color-white;
                                background-color: $color-active;
                            }

                            &.active {
                                border: none;
                                position: relative;

                                &:after {
                                    position: absolute;
                                    top: 6px;
                                    right: 15px;
                                    content: '' !important;
                                    display: block;
                                    width: 0.5em;
                                    height: 1em;
                                    border-style: solid;
                                    border-width: 0 0.26em 0.26em 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    -o-transform: rotate(45deg);
                                    transform: rotate(45deg);

                                }
                            }
                        }
                    }
                }

                .vertical-tab-toggle {
                    //this is a button
                    width: 100%;

                    border-bottom: 2px solid $color-primary; //mods button
                    padding: 10px 5px 0;
                    color: $color-grey--800; //mods button
                    background-color: transparent; //mods button
                    justify-content: flex-start;
                    border-radius: 0;

                    .text-right {
                        font-size: 18px;
                        padding-right: 0;
                    }

                    i.bi {
                        color: $color-grey--800;
                    }

                    >div {
                        width: 100%;
                        flex: 1;
                    }

                    &:focus {
                        border-radius: 0;
                        border: 0;
                        border-bottom: 2px solid $color-primary;
                    }
                }



            }

        }
    }

    .CollapseBox{

        .card-body{

         .collapse {

            a{
            @include cta-link-style;
            text-transform: initial;
            text-decoration: underline;
            &:after {
              content: unset;
            }

    }
    }

  }
}

}

