@import "../base/variables";
@import "~bootstrap/scss/mixins/breakpoints";


#nav-style-filter {

    .nav-style-filter-side {

        // Align the tops of the content and search.
        @include media-breakpoint-up(lg) {
            margin-top: 24px;


            .side-nav-toggle {
                display: none;
            }
        }

        .side-nav-result {
            margin-bottom: 10px;
        }


        @include media-breakpoint-down(lg) {
            .side-nav-result {
                border-top: 1px solid $color-grey--100;
                border-bottom: 1px solid $color-grey--100;
                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;

                .side-nav-toggle {
                    all: unset;
                    color: $color-primary;
                    cursor: pointer;

                    .bi {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .side-nav-collapse {
        position: relative; // For the clear button
    }

    .search-bar {
        max-width: 100%;
        width: 100%;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px;
        border: 1px solid #999;
        background-color: #fff;
        margin-bottom: 16px;
        gap: 10px;
        padding: 6px 12px 6px 20px;

        input {
            width: 100%;
            font-weight: 300;
            font-size: 18px;
            color: #565656;
            border: none;
            outline: none;
        }

        .clear-button {
            position: absolute;
            right: 0;
            border: none;
            background: transparent;
            cursor: pointer;
            font-size: 16px;
            padding: 0 10px;
            color: #5e5d5d;

        }

        .clear-button:hover {
            color: #272626;
        }
    }

    .CollapseBox {

        .card {
            border: none;

            .card-body {

                ul {
                    padding-top: 30px;
                    list-style-type: none;

                    li label {
                        font-size: $font-size-sm;
                        font-weight: 300;
                        margin-bottom: 25px;
                        display: flex;
                        flex-direction: row;

                        input {
                            width: 24px;
                            height: 24px;
                            margin-right: 10px;
                            min-width: 24px;        // checkbox was resizing due to flex.
                        }
                    }
                }

                .card-head {
                    padding: 7px 10px;
                    background-color: $background-dark-blue;
                    border-left: 2px solid $color-black;

                    .text-right {
                        padding: 0;
                    }

                    button.icon-bttn {
                        padding: 0;
                        margin-left: -5px;

                        .secondary-bttn {
                            padding: 0;
                        }
                    }
                }
            }
        }

        button.link-bttn-no-hover h6 {
            font-size: 18px;
            font-weight: 300;
            color: $color-black;
        }
    }


    .display-cards {
        padding: 20px 30px 20px 15px;
        background-color: $background-dark-blue;

        h3 {
            margin-top: 20px;
        }

        h5 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }




    .feature-card {
        background: #fff;
        // border-radius: 5px;
        // border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        // margin: 5px;
        position: relative;
        padding: 20px 20px 4px 20px;
        margin-bottom: 25px;
        box-shadow: 0 .5rem 1rem rgb(0 0 0 / 15%) !important;
        
        .spotlight {
            height: 30px;
            // max-width: 125px;
            background: #D2D9E8;
            color: $color-grey--600;
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            text-transform: uppercase;
            padding: 2px 8px 1px 8px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;
            border-radius: 4px;

        }

        .duration {
            position: absolute;
            top: 20px;
            right: 20px;
            // padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .collapsible {
            // margin: 5px;

            .content {
                flex: 3;
                // background: #f0f0f0;
                // padding: 20px;
                // overflow-y: auto;

                .show {
                    max-height: 1000px;


                }

                .tag-list {
                    gap: 5px;
                    display: flex;
                    margin-bottom: 15px;
                    flex-wrap: wrap;

                    .keywords-tag {
                        //height: 30px;
                        // background: red;
                        // color: blue;
                        // font-size: 14px;
                        // font-weight: 300;
                        // border: #333;
                        // border: 1px solid blue;
                        // border-radius: 100px;
                        // padding: 5px;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 10px;
                        // margin: 5px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px 12px;
                        gap: 5px;
                        border-radius: 16px;
                        // margin: 5px 0;
                        border: 1px solid $color-primary;
                        text-align: center;
                        height: 30px;
                        font-size: 14px;
                        text-transform: uppercase;
                        line-height: 21px;
                        color: $color-grey--600;
                        font-weight: 300;
                        @media (max-width:767px) {
                            height: auto;
                            border-radius: 100px;
                        }
                    }
                }

            }

            .collapsible-btn {
                display: flex;
                justify-content: left;
                align-items: center;
                width: 100%;
                background: none;
                border: none;
                text-align: left;
                padding: 0;
                color: #333;
                // padding: 20px;
                height: auto;

                .feature-card-title {
                    display: flex;
                    margin-bottom: 15px;
                    justify-content: space-between;
                    width: 100%;
                    color: $color-primary;
                    text-transform: capitalize;

                    h5 {
                        margin: 0;
                    }

                    .feature-card-caret {
                        color: $color-primary;
                        font-size: 20px;
                    }
                }
            }

            // .collapsible-btn .col-12,
            // .collapsible-btn .col {
            //     flex: 1;
            // }

            // .collapsible-btn .col-11 {
            //     flex-grow: 10;
            //     text-align: left;
            // }

            // .collapsible-btn .col-1 {
            //     flex-grow: 1;
            //     text-align: right;

            //     &:focus {
            //         outline: none;
            //     }

            //     &.active {

            //         .brcmicon-caret-down,
            //         .brcmicon-caret-up {
            //             transform: rotate(180deg);
            //         }
            //     }
            // }

        }
    }

    .resource-library-container {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px 0;

        // max-width: 600px;
        // margin: auto;
        @media (max-width:767px) {
            grid-template-columns: auto;
        }
    }

    .beaker-card {

        border-radius: 0;
        border: 0;

        .card-body {
            display: flex;
            align-items: center;
            padding: 20px 10px 20px 20px;
            // border: 1px solid #ccc;
            // border-radius: 8px;
            // box-shadow: 0 2px 6px rgba(0,0,0,0.1);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
            transition: box-shadow 0.3s ease;
            background-color: #fff;

            &:hover {
                // box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                box-shadow: rgba(0, 0, 0, 0.30) 0px 8px 16px 0px;
            }

            .card-icon {
                width: 50px;
                height: 50px;
                background-color: #007BFF;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                border-radius: 8px;
            }

            .spotlight {
                height: 30px;
                // max-width: 125px;
                background: #D2D9E8;
                color: $color-grey--600;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
                text-transform: uppercase;
                padding: 2px 8px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin-bottom: 15px;
                border-radius: 4px;
                @media (max-width:767px) {
                    height: auto;
                    max-width: 50%;
                }
                
            }

            .duration {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                @media (max-width:767px){
                    padding-left: 10px;
                    max-width: 50%;
                    line-height: 1;
                    gap: 5px;
                }
            }

            .card-title {
                flex: 1;
                // font-size: 16px;
                // color: #333;
                font-size: 1.25rem;
                color: $color-primary;
                text-decoration: none;
                margin-bottom: 0;
                font-weight: 300;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                    text-decoration-thickness: 2px;
                }
            }

            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .col-3 {
                padding-left: 0px;
                padding-right: 0px;
                flex: 0 0 63px;
                max-width: 63px;
            }

            .col {
                // display: flex;
                // align-items: center;
                // padding-left: 24px;

                // padding-right:0px;
                button {
                    font-size: 1.25rem;
                    color: $color-primary;
                    font-weight: 300;
                    margin: 0;

                    @media (max-width:767px) {
                        height: auto;
                    }
                }
            }
        }
    }
}