<!DOCTYPE html>
<html>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
	<div id="header-root">
	</div>
	
	<!-- BEGIN CONTENT -->
	
	<div id="footer-root">
	</div>
	
	<%- include ('../partials/footer') %>
	
</body>
</html>